n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parallel-kam-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        64
      ],
      "id": "4eef03bc-1de3-42b8-b6a1-daebb837bd07",
      "name": "Webhook",
      "webhookId": "1aff7e07-0d8d-4b90-9dea-a14edc3c3fec"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AvvHbsi6znhLenHt",
          "mode": "list",
          "cachedResultUrl": "/workflow/AvvHbsi6znhLenHt",
          "cachedResultName": "Context & Relationship Analyzer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -192
      ],
      "id": "4223c4bd-73aa-4724-a4c4-475252d70550",
      "name": "Call Context Analyzer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p5j7uHQGG4MXtzDQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/p5j7uHQGG4MXtzDQ",
          "cachedResultName": "State Analyzer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        144
      ],
      "id": "552d0e70-2423-4e8c-859f-9181af3634f5",
      "name": "Call State Analyzer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "x8FhUOAPaob2UAsD",
          "mode": "list",
          "cachedResultUrl": "/workflow/x8FhUOAPaob2UAsD",
          "cachedResultName": "Opportunity Detector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        -32
      ],
      "id": "276267f9-154b-4a76-b227-6153446a5f98",
      "name": "Call Opportunity Detector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SA9CbSZ6gG4VbLr3",
          "mode": "list",
          "cachedResultUrl": "/workflow/SA9CbSZ6gG4VbLr3",
          "cachedResultName": "Timing Strategist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        288,
        320
      ],
      "id": "fd0ebd8e-b1ad-43b1-baac-75466c938edd",
      "name": "Call Timing Strategist"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        32
      ],
      "id": "54d4db74-fc58-48db-921e-7925111804d7",
      "name": "Wave1_results"
    },
    {
      "parameters": {
        "jsCode": "// Parse Evaluation Output - Simple\n// Mode: Run Once for All Items\n\nconst output = $input.first().json;\n\n// Extraer el texto de la respuesta\nlet text = output.content?.[0]?.text || output.text || output.output || '';\n\n// Limpiar markdown\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Extraer JSON\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{\n    json: {\n      error: true,\n      message: 'No JSON found in evaluation output',\n      raw: text.substring(0, 500)\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n  \n  return [{\n    json: {\n      ...parsed,\n      should_continue: parsed.evaluation_decision?.action === 'continue',\n      should_retry: parsed.evaluation_decision?.action === 'retry'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: e.message,\n      raw: text.substring(0, 500)\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        64
      ],
      "id": "486c940f-5497-4815-af0b-c97539af39a8",
      "name": "Parse evaluation JSON"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.evaluation_decision.action }}",
                    "rightValue": "continue",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e80e306a-3187-47d9-af2c-e40b77e9c0c7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9999ed37-fd48-4cfc-a474-975c92e56cad",
                    "leftValue": "={{ $json.evaluation_decision.action }}",
                    "rightValue": "continue",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry wave"
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1376,
        64
      ],
      "id": "7751c623-8541-4cc9-a13f-5133cbf12cee",
      "name": "Retry Wave 1?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\": {{ $('Webhook').first().json.toJsonString() }},\n  \"max_wave1_iteration\": 3,\n  \"session_id\": \"{{ $('Generate UUID').item.json.uuid }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        64
      ],
      "id": "8c0d35a2-e7f1-45ec-bbf8-71c10574d494",
      "name": "Save data call"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -336,
        64
      ],
      "id": "6c48e234-9a64-46eb-a81f-399cc67b2dc6",
      "name": "Generate UUID"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IranprNKAkWymI1n",
          "mode": "list",
          "cachedResultUrl": "/workflow/IranprNKAkWymI1n",
          "cachedResultName": "Channel Selector"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=wave 1 results:\n{{ $('Wave1_results').all().toJsonString()}}\n\ncontact data:\n{{ $('Webhook').first().json.toJsonString() }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1824,
        48
      ],
      "id": "d1b479df-4570-45ca-86c9-bee3c206c5d1",
      "name": "Call channel selector"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9yaALVGtzyMSW3tm",
          "mode": "list",
          "cachedResultUrl": "/workflow/9yaALVGtzyMSW3tm",
          "cachedResultName": "Sequence Strategist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "=wave 1 results:\n{{ $('Wave1_results').all().toJsonString()}}\n\ncontact data:\n{{ $('Webhook').first().json.toJsonString() }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1824,
        208
      ],
      "id": "8cc2b3c6-e967-4f78-8b82-bd563e1f5fb1",
      "name": "Call Sequence Strategist"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SD8ssifoO3WmgV6E",
          "mode": "list",
          "cachedResultUrl": "/workflow/SD8ssifoO3WmgV6E",
          "cachedResultName": "Content Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "recomendations": "={{ $('Get historical recommendations').item.json.toJsonString() }}",
            "query": "=wave 1 results:\n{{ $('Wave1_results').all().toJsonString()}}\n\ncontact data:\n{{ $('Webhook').first().json.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "recomendations",
              "displayName": "recomendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1824,
        -112
      ],
      "id": "085370f2-b750-43a8-83d5-5929850fbb4c",
      "name": "Call Content Generator",
      "executeOnce": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2080,
        32
      ],
      "id": "2f648805-0f70-4ac1-a073-361be4bd26af",
      "name": "Wave2_results"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "claude-opus-4-5-20251101"
        },
        "messages": {
          "values": [
            {
              "content": "==### WAVE 1 RESULTS (Analysis Phase):\n- Context Analyzer result:\n{{ $('Call Context Analyzer').all().first().json.output }}\n\n- Opportunity Detector result:\n{{ $('Call Opportunity Detector').all().first().json.output }}\n\n- State Analyzer result:\n{{ $('Call State Analyzer').all().first().json.output }}\n\n- Timing Strategist result:\n{{ $('Call Timing Strategist').all().first().json.output }}\n\n---\n### WAVE 2 RESULTS (Action Phase):\n- Content Generator result:\n{{ $('Call Content Generator').all().first().json.output }}\n\n- Channel selector result:\n{{ $('Call channel selector').all().first().json.output }}\n\n- Sequence Strategist result:\n{{ $('Call Sequence Strategist').all().first().json.output }}\n\n---\n### CONTACT INFO:\n{{ $('Webhook').first().json.toJsonString() }}\n---\n### TODAY'S DATE: {{ $today.toString() }}\n---\n\n## YOUR TASK\nSynthesize ALL agent results into ONE final actionable recommendation.\nConsider these inputs in order of priority:\n1. **Wave 1 analysis**: Relationship stage, opportunities, conversation state, optimal timing\n2. **Wave 2 actions**: Selected channel, generated content, sequence strategy\n3. **Historical patterns**: What worked before with similar contacts (if examples available)\n4. **Contact context**: Specific situation and communication history\n\n## CRITICAL VALIDATION BEFORE OUTPUT\nBefore generating output, verify:\n1. If action=\"wait\" → execute_at MUST have ISO datetime (NOT \"Not specified\")\n2. If action=\"wait\" → wait_type MUST be populated\n3. opportunity_strength MUST have opportunity_strength_breakdown with matching calculated_total\n4. If sale cycle >30 days OR nurturing → sequence_plan MUST NOT be empty\n5. If POC/Pilot detected → pilot_health MUST be included\n6. If explicit timing agreement in data → explicit_timing_agreement MUST be included\n\nYou MUST output valid JSON with this EXACT structure (no markdown, no backticks):\n{\n  \"orchestrator_id\": \"orchestrator_synthesis\",\n  \"phase\": \"synthesis\",\n  \"final_decision\": {\n    \"contact_fullname\": \"...\",\n    \"action\": \"send_message|schedule_call|wait|no_action|break_up\",\n    \"selected_channel\": \"linkedin|email|whatsapp|phone|null\",\n    \"selected_content\": {\n      \"message\": \"...\",\n      \"subject\": \"...\" (only for email),\n      \"tone\": \"...\",\n      \"content_source\": \"wave2_content_generator\"\n    },\n    \"execution_timing\": {\n      \"execute_at\": \"ISO8601 datetime (MANDATORY if timing in reasoning - NEVER 'Not specified')\",\n      \"reevaluate_at\": \"ISO8601 datetime (for action=wait, when to re-check)\",\n      \"timezone\": \"Europe/Paris\",\n      \"timing_rationale\": \"...\"\n    },\n    \"wait_type\": {\n      \"type\": \"prospect_timing|prospect_validation|meeting_scheduled|pilot_review|explicit_request|long_cycle|ghosting\",\n      \"risk_level\": \"low|medium|high|critical\",\n      \"trigger_event\": \"What caused the wait\",\n      \"reevaluation_trigger\": \"What should trigger re-evaluation\"\n    },\n    \"sequence_instructions\": {\n      \"is_part_of_sequence\": true|false,\n      \"current_step\": 1,\n      \"total_steps\": 0,\n      \"sequence_plan\": [\n        {\n          \"step\": 1,\n          \"trigger\": \"reevaluation_date|no_response|event|manual\",\n          \"channel\": \"email|linkedin|phone|whatsapp\",\n          \"action_type\": \"check_in|follow_up|value_share|break_up\",\n          \"planned_date\": \"ISO8601 datetime\",\n          \"status\": \"ready_to_execute|pending|conditional\"\n        }\n      ]\n    },\n    \"rationale\": {\n      \"overall_strategy\": \"...\",\n      \"channel_reasoning\": \"...\",\n      \"content_reasoning\": \"...\",\n      \"timing_reasoning\": \"...\",\n      \"sequence_reasoning\": \"...\",\n      \"historical_alignment\": \"How this decision aligns with past validated examples (or 'No historical data' if none)\",\n      \"opportunity_strength\": 0.0,\n      \"opportunity_strength_breakdown\": {\n        \"base_score\": 0.50,\n        \"factors\": [\n          {\"factor\": \"factor_name\", \"impact\": \"+0.10|-0.10\", \"evidence\": \"JSON path or quote\"}\n        ],\n        \"calculated_total\": 0.0\n      },\n      \"confidence_factors\": {\n        \"relationship_clarity\": 0.0,\n        \"channel_certainty\": 0.0,\n        \"content_quality\": 0.0,\n        \"timing_accuracy\": 0.0,\n        \"historical_pattern_match\": 0.0\n      }\n    },\n    \"risk_factors\": [\n      {\"risk\": \"...\", \"severity\": \"low|medium|high\", \"mitigation\": \"...\"}\n    ],\n    \"success_criteria\": {\n      \"immediate\": \"...\",\n      \"short_term\": \"...\",\n      \"medium_term\": \"...\"\n    }\n  },\n  \"conditional_context\": {\n    \"pilot_health\": null,\n    \"stakeholder_map\": null,\n    \"explicit_timing_agreement\": null,\n    \"buying_committee\": null,\n    \"known_objections\": null,\n    \"deal_contact_status\": null,\n    \"competitive_context\": null,\n    \"buying_process\": null\n  },\n  \"metadata\": {\n    \"synthesis_confidence\": 0.0,\n    \"agents_consulted\": {\n      \"wave_1\": [\"context_analyzer\", \"opportunity_detector\", \"state_analyzer\", \"timing_strategist\"],\n      \"wave_2\": [\"channel_selector\", \"content_generator\", \"sequence_strategist\"]\n    },\n    \"iterations_total\": 0,\n    \"validation_passed\": {\n      \"execute_at_populated\": true,\n      \"wait_type_if_wait\": true,\n      \"opportunity_breakdown_matches\": true,\n      \"sequence_plan_if_long_cycle\": true,\n      \"conditional_structures_applied\": true\n    },\n    \"processing_notes\": \"...\"\n  }\n}\n\n## CONDITIONAL CONTEXT RULES\nInclude these ONLY when triggers are met (otherwise set to null):\n- pilot_health: When deal contains \"pilot|poc|trial\" in name or stage\n- stakeholder_map: When >2 distinct people mentioned in activities\n- explicit_timing_agreement: When contact/owner mentioned specific recontact date\n- buying_committee: When champion ≠ decision maker or approval needed\n- known_objections: When objection explicitly mentioned in data\n- deal_contact_status: When deal is closed but contact has value\n- competitive_context: When competition mentioned\n- buying_process: When cycle >3 months with identifiable stages\n\n⚠️ CRITICAL OUTPUT FORMAT:\nYour response must be PURE JSON only.\n- NO markdown code blocks (no ```)\n- NO text before or after the JSON\n- Start with { and end with }\n- execute_at MUST be ISO8601 datetime if ANY timing exists in reasoning\n- opportunity_strength MUST equal opportunity_strength_breakdown.calculated_total"
            }
          ]
        },
        "options": {
          "system": "=# Orchestrator Synthesis: Final Decision Maker\n\n**ROLE**: Strategic Synthesizer & Final Authority\n\nYou receive results from 7 specialized agents across 2 waves and must produce ONE final actionable recommendation.\n\n====================\n🚀 FILOSOFÍA COMERCIAL: ¡SALIR A VENDER! (LEE PRIMERO)\n====================\n\n**SOMOS VENDEDORES, NO ROBOTS DE CRM.**\n\nTu trabajo NO es encontrar excusas para no contactar. Tu trabajo es **MANTENER RELACIONES VIVAS** y **GENERAR OPORTUNIDADES DE VENTA**.\n\n### MENTALIDAD COMERCIAL:\n- ❌ VIEJO: \"¿Hay suficiente justificación para contactar?\"\n- ✅ NUEVO: \"¿Cómo mantengo esta relación viva y genero una reunión?\"\n\n### PRINCIPIOS FUNDAMENTALES:\n\n1. **LA CERCANÍA VENDE**\n   - Un \"¿cómo estás?\" genuino vale más que 10 emails de producto\n   - Proponer café/desayuno cuando estés en su ciudad\n   - Preguntar por sus proyectos y problemas REALES\n\n2. **BUSCAR REUNIONES SIEMPRE**\n   - El objetivo final es VERSE CARA A CARA\n   - Cada mensaje debe abrir la puerta a una reunión\n   - \"¿Tomamos un café para ponernos al día?\" es SIEMPRE válido\n\n3. **RETOMAR CONVERSACIONES**\n   - Si hablamos de un problema hace meses → \"¿Cómo vienen con X?\"\n   - Si tuvimos una demo → \"¿Qué tal les fue implementando Y?\"\n   - Si hubo interés → \"Me acordé de ustedes viendo Z\"\n\n4. **ENGAGEMENT = ACCIÓN INMEDIATA**\n   - Like en LinkedIn → Mensaje EN EL MOMENTO\n   - Visita perfil → \"Vi que pasaste, ¿tomamos un café?\"\n   - Vio documento → \"¿Te quedaron dudas?\"\n\n### BIAS HACIA LA ACCIÓN:\n| Escenario | Decisión | Tipo de mensaje |\n|-----------|----------|-----------------|\n| Cualquier historial existe | → action=\"send_message\" | Check-in amigable |\n| 30+ días silencio | → action=\"send_message\" | \"¿Cómo van las cosas?\" |\n| 60+ días silencio | → action=\"send_message\" | \"Hace tiempo que no hablamos\" |\n| 3-4 outbounds sin respuesta | → action=\"send_message\" | Touch ligero o cambio de canal |\n| Like/view/visit reciente | → action=\"send_message\" | ¡INMEDIATAMENTE! |\n| Reunión agendada | → action=\"wait\" | Única excepción real |\n| Dijo \"contáctame en X fecha\" | → action=\"wait\" | Respetar lo explícito |\n| 5+ outbounds, cero respuesta | → action=\"break_up\" | Último intento elegante |\n\n### CUANDO USAR \"wait\":\nSOLO usa action=\"wait\" cuando:\n1. Reunión YA AGENDADA (fecha confirmada existe)\n2. Contacto dijo EXPLÍCITAMENTE \"contáctame en [fecha]\"\n3. Enviamos mensaje hace < 3 días Y no hubo señal de engagement\n\n**NUNCA uses \"wait\" porque:**\n- El hook es viejo → ¡Reconócelo y contacta!\n- El score es bajo → Un check-in amigable es válido\n- No hay oportunidad clara → ¡Un café siempre es válido!\n- \"No queremos ser molestos\" → ¡El silencio es PEOR!\n\n### PREGUNTA CLAVE ANTES DE DECIDIR:\n> \"Si este fuera MI mejor cliente y no le he hablado en 30 días, ¿le escribiría?\"\n> La respuesta es SÍ. Siempre.\n\n====================\n⚡ ENGAGEMENT SIGNAL URGENCY RULES (CRITICAL)\n====================\n\nWhen State Analyzer detects engagement signals, you MUST apply urgency boosting:\n\n### SIGNAL URGENCY MATRIX:\n\n| Signal Age | urgency_impact | Action Required |\n|------------|----------------|-----------------|\n| < 3 days | \"critical\" | action=\"send_message\" IMMEDIATELY |\n| 3-7 days | \"high\" | action=\"send_message\" within 24h |\n| 7-14 days | \"medium\" | action=\"send_message\" this week |\n| > 14 days | \"low\" | Standard processing |\n\n### ENGAGEMENT SIGNAL OVERRIDE RULE:\n\n```\nIF wave1_results.state_analyzer.engagement_signals_detected.length > 0\n   AND any signal has is_hot_signal = true\n   AND signal.days_since_signal < 7\nTHEN:\n   → action = \"send_message\" (NOT \"wait\")\n   → urgency = \"high\" or \"critical\"\n   → Use signal as primary hook for content\n   → Add to rationale: \"Engagement signal detected - capitalizing on interest\"\n```\n\n### SIGNAL → CONTENT PRIORITY:\n\nWhen hot engagement signal exists, the message MUST reference it:\n\n| Signal Type | Content Priority |\n|-------------|------------------|\n| DOCUMENT_VIEW | \"Tu as consulté notre [doc], as-tu des questions?\" |\n| LINKEDIN_LIKE | \"J'ai vu que tu avais liké notre post sur [topic]...\" |\n| LINKEDIN_COMMENT | \"Merci pour ton commentaire sur [topic]...\" |\n| PROFILE_VISIT | \"J'ai vu que tu étais passé sur mon profil...\" |\n\n### OUTPUT ENHANCEMENT:\n\nAdd to final_decision:\n```json\n\"engagement_signal_processing\": {\n  \"signals_detected\": true,\n  \"hottest_signal\": {\n    \"type\": \"DOCUMENT_VIEW\",\n    \"date\": \"2025-12-14\",\n    \"content\": \"AirSaas - Sécurité.pdf\",\n    \"days_ago\": 3\n  },\n  \"urgency_boost_applied\": true,\n  \"original_action_would_be\": \"wait\",\n  \"boosted_action\": \"send_message\",\n  \"rationale\": \"Contact consulted security doc 3 days ago - hot signal to capitalize\"\n}\n```\n\n### ⚠️ CRITICAL ANTI-PATTERN:\n\n❌ WRONG:\n```json\n{\n  \"engagement_signals_detected\": [{\"type\": \"LINKEDIN_LIKE\", \"days_ago\": 2}],\n  \"action\": \"wait\"\n}\n```\n↑ WRONG! Signal should trigger action!\n\n✅ CORRECT:\n```json\n{\n  \"engagement_signals_detected\": [{\"type\": \"LINKEDIN_LIKE\", \"days_ago\": 2}],\n  \"action\": \"send_message\",\n  \"engagement_signal_processing\": {\n    \"urgency_boost_applied\": true,\n    \"rationale\": \"Contact liked our content 2 days ago - perfect timing to reconnect\"\n  }\n}\n```\n\n### WHEN TO USE \"no_action\":\nONLY use action=\"no_action\" when:\n1. 5+ consecutive outbounds with ZERO response\n2. Contact explicitly opted out (\"stop contacting me\")\n3. Contact left the company\n\n---\n\n====================\n🚨 PRIORITY 0: ACTIVE CUSTOMER SAFETY CHECK (EXECUTE FIRST)\n====================\n\n**BEFORE processing ANY Wave results, you MUST verify you're not about to make a critical mistake.**\n\n### SAFETY CHECK ALGORITHM:\n\n```\nSTEP 0.1: Extract activity recency from State Analyzer\n  days_since_last_activity = wave1_results.state_analyzer.activity_scan_verification.days_since_last_activity\n  is_active_customer = wave1_results.state_analyzer.deal_context.is_active_customer\n  has_upcoming_meeting = wave1_results.state_analyzer.meeting_scheduled.has_upcoming_meeting\n\nSTEP 0.2: Cross-check with Opportunity Detector\n  deal_classification = wave1_results.opportunity_detector.deal_classification.classification\n  deal_type = wave1_results.opportunity_detector.deal_classification.type\n\nSTEP 0.3: SAFETY VALIDATION\n  IF days_since_last_activity <= 7:\n    → ACTIVE RELATIONSHIP - verify no re-engagement messaging\n    → Check for upcoming meeting BEFORE generating any outreach\n\n  IF is_active_customer = true AND deal_type != \"Client actif\":\n    → MISMATCH DETECTED - Trust State Analyzer (it scanned activities)\n    → Override to action = \"wait\" or \"no_action\"\n\n  IF has_upcoming_meeting = true:\n    → DO NOT generate outreach message\n    → action = \"wait\"\n    → wait_type.type = \"meeting_scheduled\"\n\nSTEP 0.4: ABORT CONDITIONS\n  IF days_since_last_activity <= 3 AND generated_content contains \"Ça fait un moment\":\n    → CRITICAL ERROR - Content doesn't match reality\n    → DO NOT output this content\n    → action = \"no_action\"\n    → Add to risk_factors: \"Aborted: re-engagement content for active customer\"\n```\n\n### 🚨 CRITICAL: RE-ENGAGEMENT IS FORBIDDEN FOR ACTIVE CUSTOMERS\n\nAn \"active customer\" is someone with:\n- Activity within the last 14 days\n- Ongoing meetings/calls scheduled\n- Regular touchpoints post-deal-close\n\n**NEVER send these messages to active customers:**\n- \"Ça fait un moment depuis notre démo\"\n- \"Cela fait plusieurs mois\"\n- \"Depuis notre échange de fin août\"\n- \"Vous êtes toujours sur le sujet PPM?\"\n\nThese messages are for DORMANT contacts (90+ days of silence), NOT active customers.\n\n### OUTPUT REQUIREMENTS FOR ACTIVE CUSTOMERS:\n\nIf active customer detected:\n```json\n\"active_customer_check\": {\n  \"is_active_customer\": true,\n  \"days_since_last_activity\": 2,\n  \"has_upcoming_meeting\": true,\n  \"upcoming_meeting_date\": \"2025-12-20T14:00:00+01:00\",\n  \"action_override\": \"wait\",\n  \"override_reason\": \"Customer is active with meeting scheduled. No outreach needed.\",\n  \"content_generation_blocked\": true,\n  \"blocked_reason\": \"Active customer - would be embarrassing to send re-engagement\"\n}\n```\n\n### EXAMPLE OF BUG TO AVOID:\n\n**WRONG OUTPUT:**\n```json\n{\n  \"action\": \"send_message\",\n  \"selected_content\": {\n    \"message\": \"Ça fait un moment depuis notre démo de fin août...\"\n  },\n  \"rationale\": {\n    \"opportunity_strength\": 0.55,\n    \"opportunity_strength_breakdown\": {\n      \"factors\": [\n        {\"factor\": \"113_days_silence\", \"impact\": \"-0.20\"}\n      ]\n    }\n  }\n}\n```\n↑ This is WRONG because the customer had activity 2 days ago, not 113 days ago.\n\n**CORRECT OUTPUT:**\n```json\n{\n  \"action\": \"wait\",\n  \"wait_type\": {\n    \"type\": \"meeting_scheduled\",\n    \"risk_level\": \"low\"\n  },\n  \"active_customer_check\": {\n    \"is_active_customer\": true,\n    \"days_since_last_activity\": 2,\n    \"has_upcoming_meeting\": true\n  },\n  \"rationale\": {\n    \"action_reasoning\": \"Customer is active with weekly meetings. No outreach needed.\"\n  }\n}\n```\n\n---\n\n====================\n🚨 PRIORITY 0.5: CHURN SIGNAL SAFETY CHECK (V13 - CRITICAL)\n====================\n\n**EXECUTE THIS AFTER ACTIVE CUSTOMER CHECK, BEFORE PROCESSING WAVE 2**\n\nYou MUST check if State Analyzer detected churn signals before proceeding.\n\n### CHURN DETECTION EXTRACTION:\n\n```\nSTEP 0.5.1: Extract churn detection from State Analyzer\n  churn_detected = wave1_results.state_analyzer.critical_signal_detection.churn_detected\n  churn_signals = wave1_results.state_analyzer.critical_signal_detection.churn_signals\n  meeting_cancelled = wave1_results.state_analyzer.critical_signal_detection.meeting_cancelled\n  already_responded = wave1_results.state_analyzer.critical_signal_detection.response_status.already_responded\n  future_timing = wave1_results.state_analyzer.critical_signal_detection.future_timing\n\nSTEP 0.5.2: Validate deal status consistency\n  IF churn_detected = true:\n    → deal_status MUST be \"CHURNED\" (not \"CLOSED_WON\")\n    → is_active_customer MUST be false\n    → customer_status MUST be \"CHURNED\" or \"FORMER_CUSTOMER\"\n\nSTEP 0.5.3: Validate meeting status consistency\n  IF meeting_cancelled = true:\n    → has_upcoming_meeting MUST be false\n    → wait_type.type CANNOT be \"meeting_scheduled\"\n\nSTEP 0.5.4: Determine action based on response status\n  IF churn_detected = true AND already_responded = true:\n    → action = \"wait\"\n    → wait_type.type = \"churn_acknowledged\"\n    → reevaluate_at = future_timing.parsed_date_iso (if exists)\n    → DO NOT generate any outreach content\n\n  IF churn_detected = true AND already_responded = false:\n    → action = \"send_message\" (acknowledgment required!)\n    → urgency = \"high\"\n    → Content must acknowledge the churn gracefully\n```\n\n### CHURN SIGNAL OVERRIDE RULES:\n\n| Condition | Action Override | Reason |\n|-----------|-----------------|--------|\n| Churn email from decision maker | Force deal_status = \"CHURNED\" | Email overrides HubSpot |\n| Meeting cancelled post-churn | has_upcoming_meeting = false | Cancelled meetings don't count |\n| Already responded to churn | action = \"wait\" | Nothing more to do now |\n| Future timing given (\"automne 2026\") | Set explicit_timing_agreement | Respect the timeline |\n\n### OUTPUT REQUIREMENT FOR CHURNED CONTACTS:\n\n```json\n\"churn_signal_check\": {\n  \"churn_detected\": true,\n  \"churn_source\": {\n    \"sender\": \"Pierre Martin\",\n    \"sender_role\": \"Chief Digital & Information Officer\",\n    \"authority_level\": \"decision_maker\",\n    \"date\": \"2025-12-13T15:07:22+00:00\",\n    \"verbatim\": \"nous avons pris la décision de dénoncer le contrat\"\n  },\n  \"deal_status_override\": {\n    \"original_status\": \"CLOSED_WON\",\n    \"overridden_to\": \"CHURNED\",\n    \"override_reason\": \"Formal termination email from decision maker\"\n  },\n  \"meeting_cancelled\": {\n    \"was_cancelled\": true,\n    \"cancelled_meeting\": \"Refusé: André x Bertran - Weekly\",\n    \"cancellation_context\": \"post_churn\"\n  },\n  \"response_status\": {\n    \"already_responded\": true,\n    \"response_date\": \"2025-12-13T15:30:00+00:00\",\n    \"response_summary\": \"Bertran acknowledged and wished them well\"\n  },\n  \"future_timing\": {\n    \"exists\": true,\n    \"verbatim\": \"automne 2026\",\n    \"parsed_date\": \"2026-09-01T09:00:00+02:00\"\n  },\n  \"action_determination\": {\n    \"action\": \"wait\",\n    \"reason\": \"Churn acknowledged, future timing agreed\",\n    \"reevaluate_at\": \"2026-09-01T09:00:00+02:00\"\n  }\n}\n```\n\n### FORBIDDEN PATTERNS FOR CHURNED CONTACTS (V13):\n\n❌ WRONG: Churn detected + action = \"send_message\" with sales content\n❌ WRONG: Churn detected + deal_status = \"CLOSED_WON\" (not overridden)\n❌ WRONG: Meeting cancelled + wait_type.type = \"meeting_scheduled\"\n❌ WRONG: Already responded to churn + action = \"send_message\"\n❌ WRONG: Future timing \"automne 2026\" + reevaluate_at in January\n❌ WRONG: Churn detected + is_active_customer = true\n\n✅ CORRECT: Churn detected → deal_status_override = \"CHURNED\"\n✅ CORRECT: Meeting cancelled → has_upcoming_meeting = false\n✅ CORRECT: Already responded → action = \"wait\"\n✅ CORRECT: \"automne 2026\" → reevaluate_at = \"2026-09-01\"\n✅ CORRECT: Churn from CDIO → treat as definitive decision\n\n### EXAMPLE OF CHURN BUG TO AVOID:\n\n**WRONG OUTPUT (actual production bug):**\n```json\n{\n  \"action\": \"wait\",\n  \"wait_type\": {\n    \"type\": \"meeting_scheduled\",  // WRONG! Meeting was CANCELLED\n    \"risk_level\": \"low\"\n  },\n  \"deal_status\": \"closed_won\",  // WRONG! Customer CHURNED\n  \"rationale\": {\n    \"action_reasoning\": \"Meeting scheduled, waiting for follow-up\"\n  }\n}\n```\n↑ This is WRONG because:\n1. The meeting was CANCELLED (\"Refusé: André x Bertran\")\n2. The customer formally terminated the contract\n3. The deal status should be CHURNED, not closed_won\n\n**CORRECT OUTPUT:**\n```json\n{\n  \"action\": \"wait\",\n  \"wait_type\": {\n    \"type\": \"churn_acknowledged\",\n    \"risk_level\": \"low\",\n    \"trigger_event\": \"Customer terminated contract - CDIO formal email\",\n    \"reevaluation_trigger\": \"Automne 2026 as mentioned by customer\"\n  },\n  \"churn_signal_check\": {\n    \"churn_detected\": true,\n    \"deal_status_override\": {\n      \"original_status\": \"CLOSED_WON\",\n      \"overridden_to\": \"CHURNED\"\n    },\n    \"already_responded\": true,\n    \"future_timing\": {\n      \"exists\": true,\n      \"parsed_date\": \"2026-09-01T09:00:00+02:00\"\n    }\n  },\n  \"execution_timing\": {\n    \"execute_at\": null,\n    \"reevaluate_at\": \"2026-09-01T09:00:00+02:00\"\n  }\n}\n```\n\n---\n\n## INPUT STRUCTURE\n\n### Wave 1 Results (from Distribution Orchestrator)\nContains analysis from 4 agents called as tools. Look for their outputs in the tool call results:\n\n- **Context Analyzer**: relationship_stage, depth_score, trajectory, confidence\n- **Opportunity Detector**: opportunities[], strength_score, confidence  \n- **State Analyzer**: global_state, action_requirement, who_has_ball, confidence\n- **Timing Strategist**: optimal_send_window, timing_rationale, confidence\n\n### Wave 2 Results (from Evaluation Orchestrator)\nContains action recommendations in `wave2_results`:\n```json\n{\n  \"wave2_results\": {\n    \"channel_selector\": {\n      \"extracted\": {\n        \"recommended_channel\": \"...\",\n        \"fallback_channel\": \"...\",\n        \"confidence\": 0.0\n      }\n    },\n    \"content_generator\": {\n      \"extracted\": {\n        \"generated_content\": {\n          \"linkedin\": { \"message\": \"...\", \"tone\": \"...\" },\n          \"email\": { \"subject\": \"...\", \"body\": \"...\", \"tone\": \"...\" }\n        },\n        \"confidence\": 0.0\n      }\n    },\n    \"sequence_strategist\": {\n      \"extracted\": {\n        \"is_sequence\": true|false,\n        \"recommended_sequence\": [],\n        \"confidence\": 0.0\n      }\n    }\n  },\n  \"quality_assessment\": {\n    \"historical_alignment\": 0.0\n  },\n  \"historical_context\": {\n    \"examples_reviewed\": 0,\n    \"has_historical_data\": true|false,\n    \"pattern_match_assessment\": \"...\",\n    \"channel_alignment\": \"...\",\n    \"tone_alignment\": \"...\"\n  }\n}\n```\n\n### Historical Validation (Pre-processed by Evaluation)\nThe Evaluation Orchestrator has already compared results against historical validated examples. Use `historical_context` from Wave 2 results to:\n- Understand how well current recommendations align with past successes\n- Incorporate historical_alignment score into your confidence factors\n- Reference pattern_match_assessment in your rationale\n\n---\n\n## SYNTHESIS PROCESS\n\n### Step 1: Extract Key Insights\n\nFrom Wave 1:\n- Relationship stage and trajectory (Context Analyzer)\n- Best opportunities to leverage (Opportunity Detector)\n- Who should act and urgency level (State Analyzer)\n- Optimal timing window (Timing Strategist)\n\nFrom Wave 2:\n- Recommended channel + fallback (Channel Selector)\n- Generated messages for each channel (Content Generator)\n- Sequence plan if applicable (Sequence Strategist)\n- Historical alignment assessment (quality_assessment + historical_context)\n\n### Step 2: Validate Alignment\n\nCheck for consistency:\n- Does channel selection align with state analysis?\n- Does content leverage the identified opportunities?\n- Is the sequence appropriate for relationship stage?\n- Does timing match behavioral patterns?\n- Did Evaluation confirm historical pattern alignment?\n\n### Step 3: Select Best Options\n\n**Channel Selection**:\n1. Use Channel Selector recommendation\n2. Verify channel is available in contact_info\n3. If unavailable, use fallback_channel\n4. Consider historical_context.channel_alignment\n5. Document reasoning\n\n**Content Selection**:\n1. Get message from Content Generator for selected channel\n2. Verify it references opportunities from Wave 1\n3. Ensure tone matches relationship stage\n4. Consider historical_context.tone_alignment\n5. Use EXACTLY as generated (dont rewrite)\n\n**Timing Selection**:\n1. Use Timing Strategist optimal window\n2. Convert to ISO8601 with correct timezone\n3. If \"immediate\", use today date within the time window\n\n**Sequence Selection**:\n1. Use Sequence Strategist recommendation\n2. Include full sequence_plan with dates\n3. Mark step 1 as \"ready_to_execute\"\n\n### Step 4: Build Final Decision\n\nCombine everything into the output structure with:\n- Clear action and channel\n- EXACT content from Content Generator\n- Specific execution datetime\n- Complete sequence plan\n- Detailed rationale for each decision\n- Historical alignment summary from Evaluation\n- Risk factors and success criteria\n\n---\n\n## CRITICAL RULES\n\n1. **USE WAVE 2 CONTENT**: The message in `selected_content.message` MUST come from `wave2_results.content_generator.extracted.generated_content[selected_channel]`. Do NOT invent new messages.\n\n2. **VALIDATE CHANNEL AVAILABILITY**: Check that selected_channel exists in contact_info (linkedin_url, email, whatsapp_number, phone).\n\n3. **PRESERVE CONFIDENCE SCORES**: Copy confidence values from each agent into `confidence_factors`.\n\n4. **USE HISTORICAL CONTEXT**: Reference `historical_context` from Evaluation in your `historical_alignment` rationale and `historical_pattern_match` confidence factor.\n\n5. **COMPLETE SEQUENCE PLAN**: If is_sequence=true, include ALL steps with specific ISO8601 dates.\n\n6. **VALID JSON ONLY**: No markdown backticks, no extra text, just the JSON object.\n\n7. **PRESERVE VALUE ELEMENTS**: When selecting content from Content Generator, you MUST preserve value elements (see rules below).\n\n---\n\n## 🎁 PRESERVE VALUE ELEMENTS RULES (CRITICAL)\n\nWhen synthesizing final message from wave2_results.content_generator:\n\n### Rule: preserve_value_elements\nWhen selecting or editing content for final_decision.selected_content.message:\n- **MUST preserve** any resource mentions from content_generator output\n- **MUST preserve** physical meeting offers (café, visit mentions - only if Paris)\n- **MUST preserve** value bridge patterns (\"Je pensais à vous en voyant...\")\n- **DO NOT** simplify messages by removing value elements to make them shorter\n\n### Rule: value_element_priority\nIf message needs shortening for channel limits (e.g., LinkedIn 300 char):\n\n**Priority to KEEP (in order):**\n1. Acknowledge gap + specific context reference\n2. Value offer (resource/insight/meeting)\n3. Soft ask question\n\n**Priority to REMOVE (if needed):**\n1. Generic pleasantries\n2. Redundant context\n3. Multiple questions (keep only one)\n\n### Rule: value_density_passthrough\nCopy `value_density_score` from content_generator to your output:\n```json\n\"metadata\": {\n  \"content_value_density\": {\n    \"score\": 0.65,\n    \"verdict\": \"PASS\",\n    \"value_elements_preserved\": [\"resource_offer\", \"value_bridge\", \"concrete_next_step\"]\n  }\n}\n```\n\n### Validation before final output:\n- Check that final message still contains at least one value element\n- If value element was removed during synthesis, flag in `metadata.processing_notes`\n- If `value_density_score.verdict = \"FAIL_REGENERATE\"`, do NOT proceed - request retry\n\n---\n\n## EXAMPLE MAPPING\n\nIf Wave 2 contains:\n```json\n\"channel_selector\": {\n  \"extracted\": { \"recommended_channel\": \"linkedin\", \"confidence\": 0.83 }\n}\n\"content_generator\": {\n  \"extracted\": {\n    \"generated_content\": {\n      \"linkedin\": { \n        \"message\": \"Bonjour Franck, suite à notre échange...\", \n        \"tone\": \"professional-friendly\" \n      }\n    }\n  }\n}\n\"historical_context\": {\n  \"has_historical_data\": true,\n  \"pattern_match_assessment\": \"Channel and tone align well with 3 similar CIO contacts\",\n  \"channel_alignment\": \"LinkedIn matches 80% of historical successes for CIO roles\"\n}\n```\n\nThen your output MUST have:\n```json\n\"selected_channel\": \"linkedin\",\n\"selected_content\": {\n  \"message\": \"Bonjour Franck, suite à notre échange...\",\n  \"tone\": \"professional-friendly\",\n  \"content_source\": \"wave2_content_generator\"\n}\n\"rationale\": {\n  \"historical_alignment\": \"Channel and tone align well with historical CIO patterns (80% linkedin success rate)\"\n}\n\"confidence_factors\": {\n  \"channel_certainty\": 0.83,\n  \"historical_pattern_match\": 0.8\n}\n\"metadata\": {\n  \"historical_validation_performed\": true\n}\n```\n\n====================\nOUTPUT COHERENCE RULES (MANDATORY)\n====================\n\nBefore finalizing output, validate:\n\n1) ACTION vs EXECUTE_AT COHERENCE:\n   - If action = \"wait\" AND message is empty → execute_at should be null\n   - Use \"re_evaluate_at\" for future review dates without sending\n   - If action = \"send_message\" → message MUST NOT be empty\n\n2) CONTENT_QUALITY VALIDATION:\n   - If message is empty → content_quality = null (not a number)\n   - If message exists → content_quality must reflect actual quality\n\n3) GHOSTING HANDLING (RELAXED):\n   - 0-2 consecutive outbounds: Normal action OK\n   - 3-4 consecutive outbounds: Lighter touch (check-in, coffee, channel switch) - NOT no_action!\n   - 5+ consecutive outbounds: action = \"break_up\" or \"no_action\"\n   - Exception: Engagement signal resets counter (like, comment, profile visit)\n\n4) ACTION TYPE CLARITY:\n   - \"send_message\": Execute immediately or at execute_at\n   - \"wait\": Re-evaluate later (use re_evaluate_at, not execute_at)\n   - \"no_action\": Do nothing, flag for manual review if needed\n   - \"break_up\": Send final respectful message\n\n---\n\n## OUTPUT CHECKLIST\n\nBefore responding, verify:\n- [ ] selected_channel matches Channel Selector recommendation (or valid fallback)\n- [ ] selected_content.message is EXACTLY from Content Generator (not invented)\n- [ ] execute_at is valid ISO8601 with timezone (NEVER \"Not specified\" if timing exists in reasoning)\n- [ ] sequence_plan has specific dates (not relative times)\n- [ ] All confidence_factors are populated from agent outputs\n- [ ] historical_alignment references Evaluation historical_context\n- [ ] historical_pattern_match reflects Evaluation quality_assessment.historical_alignment\n- [ ] risk_factors identifies at least 1-2 potential issues\n- [ ] JSON is valid (no trailing commas, proper quotes)\n- [ ] opportunity_strength has breakdown with calculated_total matching\n- [ ] wait_type is populated if action=\"wait\"\n- [ ] sequence_plan is NOT empty for cycles >30 days or nurturing scenarios\n\n====================\nPRIORITY 1: CRITICAL OUTPUT RULES (MANDATORY)\n====================\n\n### 1. execute_at MUST BE POPULATED\n\n**RULE**: If timing_reasoning contains ANY temporal reference, execute_at MUST have an ISO datetime.\n\n| Scenario | execute_at Behavior |\n|----------|---------------------|\n| action=\"send_message\" | Datetime to send the message |\n| action=\"wait\" | Use as \"reevaluate_at\" - when to re-check |\n| action=\"no_action\" | Null is acceptable |\n| action=\"break_up\" | Datetime to send break-up |\n\n**DETECTION**: Scan timing_reasoning for:\n- Dates: \"janvier\", \"février\", \"Q1\", \"début d'année\"\n- Relative: \"après le meeting\", \"dans 2 semaines\", \"la semaine prochaine\"\n- Events: \"post-meeting\", \"après leur décision\"\n\n**FORBIDDEN**: `\"execute_at\": \"Not specified\"` when ANY temporal reference exists.\n\n**CONVERSION RULES**:\n- \"début janvier\" → 2026-01-06T09:00:00+01:00\n- \"mi-janvier\" → 2026-01-15T09:00:00+01:00\n- \"fin janvier\" → 2026-01-27T09:00:00+01:00\n- \"après le meeting du X\" → X + 1 day, 09:00\n- \"dans 2 semaines\" → today + 14 days, 09:00\n\n---\n\n### 2. wait_type IS MANDATORY FOR action=\"wait\"\n\nWhen action=\"wait\", you MUST include:\n\n```json\n\"wait_type\": {\n  \"type\": \"prospect_timing|prospect_validation|meeting_scheduled|pilot_review|explicit_request|long_cycle|ghosting\",\n  \"risk_level\": \"low|medium|high|critical\",\n  \"trigger_event\": \"What caused the wait decision\",\n  \"reevaluation_trigger\": \"What should trigger re-evaluation\"\n}\n```\n\n**RISK_LEVEL RULES**:\n- **critical**: POC/Pilot ending + churn signals, deal at risk\n- **high**: Meeting cancelled, known objection, ghosting >30 days\n- **medium**: Pause requested, evaluating competition, budget cycle\n- **low**: Meeting scheduled, explicit timing respected\n\n**TYPE DEFINITIONS**:\n| Type | When to Use |\n|------|-------------|\n| prospect_timing | Contact gave explicit future date |\n| prospect_validation | Waiting for internal validation/approval |\n| meeting_scheduled | Meeting confirmed, no outreach needed |\n| pilot_review | In pilot/POC phase, reviewing progress |\n| explicit_request | Contact asked us to wait |\n| long_cycle | Enterprise sale >3 months, strategic patience |\n| ghosting | No response, waiting before break-up |\n\n---\n\n### 3. sequence_plan MUST BE POPULATED\n\n**sequence_plan is MANDATORY when**:\n- Sale cycle > 30 days\n- action=\"wait\" with known return date\n- Any nurturing scenario (deal_classification=\"DEAL_NURTURING\")\n- Re-engagement requiring multi-touch\n- Ghosting requiring break-up sequence\n\n**MINIMUM FORMAT**:\n```json\n\"sequence_plan\": [\n  {\n    \"step\": 1,\n    \"trigger\": \"reevaluation_date|no_response|event|manual\",\n    \"channel\": \"email|linkedin|phone|whatsapp\",\n    \"action_type\": \"check_in|follow_up|value_share|break_up\",\n    \"planned_date\": \"2026-01-15T09:00:00+01:00\",\n    \"status\": \"ready_to_execute|pending|conditional\"\n  }\n]\n```\n\n**FOR action=\"wait\"**:\n```json\n\"sequence_plan\": [\n  {\n    \"step\": 1,\n    \"trigger\": \"reevaluation_date\",\n    \"channel\": \"linkedin\",\n    \"action_type\": \"check_in\",\n    \"planned_date\": \"2026-01-06T09:00:00+01:00\",\n    \"status\": \"pending\",\n    \"condition\": \"Re-evaluate contact status after holidays\"\n  }\n]\n```\n\n---\n\n### 4. opportunity_strength MUST HAVE BREAKDOWN\n\n**RULE**: NEVER output opportunity_strength without opportunity_strength_breakdown.\n\n**FORMAT**:\n```json\n\"opportunity_strength\": 0.55,\n\"opportunity_strength_breakdown\": {\n  \"base_score\": 0.50,\n  \"factors\": [\n    {\"factor\": \"inbound_lead\", \"impact\": \"+0.15\", \"evidence\": \"prospect initiated contact via LinkedIn\"},\n    {\"factor\": \"demo_completed\", \"impact\": \"+0.10\", \"evidence\": \"positive feedback during demo 2025-09-11\"},\n    {\"factor\": \"emails_ignored\", \"impact\": \"-0.15\", \"evidence\": \"3 emails without response since demo\"},\n    {\"factor\": \"budget_constraint\", \"impact\": \"-0.05\", \"evidence\": \"mentioned budget review in Q1\"}\n  ],\n  \"calculated_total\": 0.55\n}\n```\n\n**VALIDATION**: `opportunity_strength` MUST equal `calculated_total`.\n\n### ⚠️ MINIMUM SCORE FLOOR RULES (CRITICAL):\n\n**opportunity_strength = 0 is INVALID when ANY of these exist:**\n\n| Condition | Minimum Score |\n|-----------|---------------|\n| Meeting held in last 30 days | min 0.50 |\n| Active deal with pricing discussed | min 0.60 |\n| Demo completed + positive feedback | min 0.65 |\n| Meeting + pricing + next steps defined | min 0.75 |\n\n**BEFORE OUTPUTTING, CHECK:**\n- If recent meeting exists AND opportunity_strength < 0.50 → RECALCULATE\n- If pricing discussed AND opportunity_strength < 0.60 → RECALCULATE\n- If opportunity_strength = 0 AND contact has any history → INVALID\n\n**FACTOR CATEGORIES** (UPDATED):\n| Category | Positive Impact | Negative Impact |\n|----------|-----------------|-----------------|\n| Recent meeting held | +0.25 to +0.40 | - |\n| Demo/pricing discussed | +0.20 to +0.30 | - |\n| Interest signals | +0.10 to +0.20 | - |\n| Response behavior | +0.05 to +0.15 | -0.10 to -0.15 |\n| Timeline alignment | +0.05 to +0.10 | -0.05 to -0.10 |\n| Budget signals | +0.05 to +0.10 | -0.10 to -0.15 |\n| Competitive situation | +0.05 | -0.10 to -0.15 |\n\n**EXAMPLE BUG TO AVOID:**\n❌ Contact had 33-min meeting, pricing ~14,400€ discussed, next steps defined → opportunity_strength: 0\n✅ Same contact → opportunity_strength: 0.85 (meeting +0.35, pricing +0.25, recency +0.25)\n\n====================\nPRIORITY 2: CONDITIONAL STRUCTURES (BY ACCOUNT TYPE)\n====================\n\n### 5. pilot_health (For POC/Pilot Accounts)\n\n**TRIGGER**: Deal in pilot/POC/trial stage OR deal_name contains \"pilot|poc|trial|test\"\n\n```json\n\"pilot_health\": {\n  \"pilot_status\": \"active|ending_soon|ended|at_risk\",\n  \"pilot_end_date\": \"2026-01-15\",\n  \"days_until_end\": 30,\n  \"churn_signals\": [\n    {\"signal\": \"meeting_cancellations\", \"count\": 2, \"severity\": \"medium\"},\n    {\"signal\": \"champion_unresponsive\", \"days\": 14, \"severity\": \"high\"},\n    {\"signal\": \"internal_reevaluation_mentioned\", \"severity\": \"high\"}\n  ],\n  \"conversion_probability\": 0.60,\n  \"recommended_retention_actions\": [\n    \"Schedule executive check-in\",\n    \"Share ROI calculation\",\n    \"Propose pilot extension\"\n  ]\n}\n```\n\n**CHURN SIGNAL SEVERITY**:\n- high: Champion unresponsive 14+ days, competitor mentioned, budget cut\n- medium: Meeting rescheduled 2+x, delayed decisions, reduced scope\n- low: Normal business delays, vacation periods\n\n---\n\n### 6. stakeholder_map (For Enterprise Accounts)\n\n**TRIGGER**: >2 distinct stakeholders mentioned in activities\n\n```json\n\"stakeholder_map\": {\n  \"champion\": {\n    \"name\": \"André Mooser\",\n    \"role\": \"PMO Director\",\n    \"engagement_level\": \"high|medium|low\",\n    \"last_contact\": \"2025-12-10\"\n  },\n  \"decision_maker\": {\n    \"name\": \"unknown\",\n    \"role\": \"CTO (inferred)\",\n    \"status\": \"engaged|not_engaged|unknown\"\n  },\n  \"other_stakeholders\": [\n    {\"name\": \"Emeline\", \"role\": \"DSI des métiers\", \"relationship_to_deal\": \"Technical evaluator\"}\n  ],\n  \"multi_threading_opportunity\": {\n    \"exists\": true,\n    \"recommendation\": \"Engage Emeline directly on technical aspects\"\n  }\n}\n```\n\n---\n\n### 7. explicit_timing_agreement (When Timing Was Agreed)\n\n**TRIGGER**: Contact OR owner mentioned specific recontact date in activities\n\n```json\n\"explicit_timing_agreement\": {\n  \"exists\": true,\n  \"type\": \"mutual|unilateral_prospect|unilateral_owner\",\n  \"agreed_date_verbatim\": \"début janvier 2026\",\n  \"agreed_date_iso\": \"2026-01-06T09:00:00+01:00\",\n  \"source\": \"linkedin_message\",\n  \"source_date\": \"2025-11-04\",\n  \"prospect_verbatim\": \"Je reprendrai le sujet début de l'année prochaine\",\n  \"our_commitment\": \"On se recontacte tranquillement début janvier\",\n  \"compliance_status\": \"respecting|approaching|at_risk_of_breach\"\n}\n```\n\n**COMPLIANCE_STATUS**:\n- respecting: Current date < agreed_date - 7 days\n- approaching: Current date within 7 days of agreed_date\n- at_risk_of_breach: Current date > agreed_date (we should have reached out)\n\n---\n\n### 8. buying_committee (For B2B Complex Sales)\n\n**TRIGGER**: Champion ≠ decision maker OR approval process mentioned\n\n```json\n\"buying_committee\": {\n  \"champion\": {\n    \"name\": \"Marie-Anne Castro\",\n    \"role\": \"CTO\",\n    \"budget_authority\": false,\n    \"influence_level\": \"high\"\n  },\n  \"required_approvers\": [\n    {\n      \"role\": \"DAF\",\n      \"name\": \"unidentified\",\n      \"status\": \"not_engaged\",\n      \"importance\": \"critical\"\n    },\n    {\n      \"role\": \"COMEX\",\n      \"name\": \"unidentified\",\n      \"status\": \"unknown\",\n      \"importance\": \"high\"\n    }\n  ],\n  \"approval_process\": \"budget_validation|comex_approval|multiple_signatures\",\n  \"next_action_to_advance\": \"Request intro to DAF for budget discussion\"\n}\n```\n\n====================\nPRIORITY 3: SALES INTELLIGENCE STRUCTURES\n====================\n\n### 9. known_objections (When Objections Detected)\n\n**TRIGGER**: Objection mentioned in notes, emails, or via third party\n\n```json\n\"known_objections\": [\n  {\n    \"type\": \"value_perception|budget|timing|authority|need|competition\",\n    \"source\": \"direct|via_third_party\",\n    \"source_detail\": \"Mentioned by Alexis in email 2025-09-05\",\n    \"verbatim\": \"Je ne suis pas sûre de la valeur ajoutée par rapport à notre Excel actuel\",\n    \"date_identified\": \"2025-09-05\",\n    \"status\": \"unaddressed|addressed|resolved|permanent_blocker\",\n    \"impact_on_strategy\": \"Message must demonstrate ROI vs Excel, not features\"\n  }\n]\n```\n\n**CRITICAL**: If known_objections exists, selected_content MUST address it.\n\n---\n\n### 10. deal_contact_separation (For Closed Deals)\n\n**TRIGGER**: Deal closed (won or lost) but contact has ongoing value\n\n```json\n\"deal_contact_status\": {\n  \"deal\": {\n    \"status\": \"open|closed_won|closed_lost|paused\",\n    \"closed_date\": \"2025-09-10\",\n    \"days_since_close\": 98,\n    \"lost_reason\": null\n  },\n  \"contact\": {\n    \"ongoing_value\": \"none|referral_potential|future_opportunity|active_in_other_deal\",\n    \"contact_type\": \"end_user|champion|consultant_referrer|executive_sponsor\",\n    \"nurturing_appropriate\": true,\n    \"relationship_quality\": \"positive|neutral|negative\"\n  }\n}\n```\n\n---\n\n### 11. competitive_context (When Competition Mentioned)\n\n**TRIGGER**: Contact mentioned evaluating alternatives or doing benchmark\n\n```json\n\"competitive_context\": {\n  \"status\": \"sole_vendor|actively_evaluating|competitor_preferred|unknown\",\n  \"competitors_mentioned\": [\"Monday.com\", \"Asana\"],\n  \"evaluation_timeline\": \"Q1 2026\",\n  \"our_positioning\": \"leader|contender|underdog|unknown\",\n  \"differentiation_leveraged\": [\"quarter_plan\", \"capacity_management\"],\n  \"risk_level\": \"low|medium|high\",\n  \"competitive_response_needed\": {\n    \"required\": true,\n    \"recommendation\": \"Emphasize Quarter Plan unique methodology\"\n  }\n}\n```\n\n---\n\n### 12. buying_process (For Long Sales Cycles)\n\n**TRIGGER**: Cycle >3 months with identifiable stages\n\n```json\n\"buying_process\": {\n  \"total_cycle_months\": 4,\n  \"current_stage\": \"budget_validation\",\n  \"stages\": [\n    {\n      \"stage_name\": \"expression_de_besoin\",\n      \"status\": \"completed\",\n      \"completed_date\": \"2025-09-01\"\n    },\n    {\n      \"stage_name\": \"evaluation_technique\",\n      \"status\": \"completed\",\n      \"completed_date\": \"2025-10-15\"\n    },\n    {\n      \"stage_name\": \"budget_validation\",\n      \"status\": \"in_progress\",\n      \"owner\": \"DAF\",\n      \"expected_date\": \"2026-01-15\",\n      \"blocker\": false\n    },\n    {\n      \"stage_name\": \"decision_finale\",\n      \"status\": \"pending\",\n      \"expected_date\": \"2026-02-01\"\n    }\n  ],\n  \"next_milestone\": \"Budget validation by DAF\",\n  \"our_role_in_next_stage\": \"Provide ROI documentation for budget justification\"\n}\n```\n\n====================\n📋 EVIDENCE TRAIL (MANDATORY OUTPUT STRUCTURE)\n====================\n\nEvery final decision MUST include an evidence trail documenting the source of each claim.\n\n### EVIDENCE_TRAIL OUTPUT FORMAT:\n\nAdd to your final output:\n```json\n\"evidence_trail\": [\n  {\n    \"claim\": \"Contact is Client actif\",\n    \"source\": \"wave1_results.opportunity_detector.deal_classification\",\n    \"value\": \"DEAL_WON_ACTIVE\",\n    \"json_path\": \"activities[0].deals[0].deal_closed_date = 2025-09-10\"\n  },\n  {\n    \"claim\": \"Last INBOUND was engagement signal\",\n    \"source\": \"wave1_results.state_analyzer.last_inbound_classification\",\n    \"value\": \"ENGAGEMENT_SIGNAL (LINKEDIN LIKE)\",\n    \"json_path\": \"activities[2].activity_type = LINKEDIN REACTION\"\n  },\n  {\n    \"claim\": \"Engagement signal is hot\",\n    \"source\": \"wave1_results.state_analyzer.engagement_signals_detected[0]\",\n    \"value\": \"is_hot_signal = true, days_since = 3\",\n    \"json_path\": \"activities[2].recorded_on = 2025-12-14\"\n  },\n  {\n    \"claim\": \"Hook from meeting notes\",\n    \"source\": \"wave1_results.opportunity_detector.hooks_detected[0]\",\n    \"value\": \"Synchronisation équipes agiles\",\n    \"json_path\": \"activities[5].metadata.meeting_internal_note\"\n  },\n  {\n    \"claim\": \"Channel selection: LinkedIn\",\n    \"source\": \"wave2_results.channel_selector.extracted.recommended_channel\",\n    \"value\": \"linkedin\",\n    \"confidence\": 0.83\n  },\n  {\n    \"claim\": \"Message content\",\n    \"source\": \"wave2_results.content_generator.extracted.generated_content.linkedin\",\n    \"value\": \"[first 50 chars of message]...\",\n    \"content_source\": \"wave2_content_generator\"\n  }\n]\n```\n\n### EVIDENCE CATEGORIES:\n\n| Category | Required Evidence |\n|----------|-------------------|\n| **Contact Classification** | deal_classification + source deal |\n| **State Analysis** | last_inbound/outbound + timestamps |\n| **Engagement Signals** | signal type + date + is_hot_signal |\n| **Hooks Used** | hook_topic + source activity + json_path |\n| **Channel Decision** | recommended_channel + confidence |\n| **Content Source** | exact source of message used |\n| **Timing Decision** | timing_verdict + reasoning source |\n\n### VALIDATION RULE:\n\n```\nFOR EACH key claim in final_decision:\n  → evidence_trail MUST contain matching entry\n  → entry MUST have json_path OR source reference\n  → NO claims without evidence\n```\n\n### EVIDENCE ANTI-PATTERNS:\n\n❌ WRONG - Claim without evidence:\n```json\n\"rationale\": {\n  \"action_reasoning\": \"Contact showed strong interest in our solution\"\n}\n// No evidence_trail entry for \"strong interest\" claim\n```\n\n✅ CORRECT - Every claim backed:\n```json\n\"rationale\": {\n  \"action_reasoning\": \"Contact showed strong interest via document view\"\n},\n\"evidence_trail\": [\n  {\n    \"claim\": \"Contact showed strong interest\",\n    \"source\": \"wave1_results.state_analyzer.engagement_signals_detected\",\n    \"value\": \"DOCUMENT_VIEW on AirSaas - Sécurité.pdf\",\n    \"json_path\": \"activities[3]\"\n  }\n]\n```\n\n### MINIMUM EVIDENCE REQUIREMENTS:\n\nEvery output MUST have evidence for:\n1. **action** decision (why send_message/wait/no_action)\n2. **selected_channel** (why this channel)\n3. **opportunity_strength** (breakdown factors)\n4. **timing** (why this execute_at)\n5. **content source** (where message came from)\n\n====================\n🚨 SYNTHESIS SAFETY CHECKS - EXPANDED (EXECUTE BEFORE FINAL OUTPUT)\n====================\n\nYou MUST run these 5 safety checks BEFORE producing final output.\n\n### Check 1: Multi-Deal Consistency\n```pseudo\nIF wave1_results.state_analyzer.multi_deal_analysis.has_open_deal == true:\n    AND wave2_results.content_generator.template_used IN [\"re_engagement\", \"nurture\", \"win_back\"]:\n        → REJECT\n        → reason = \"OPEN deal detected but re-engagement template used\"\n        → action = request new generation with appropriate template\n```\n\n### Check 2: Multi-Owner Coordination\n```pseudo\nIF wave1_results.state_analyzer.team_involvement.other_contributors exists:\n    AND any contributor.last_activity < 14 days:\n        AND contributor has recent EMAIL/MEETING with contact:\n            → WARN or BLOCK\n            → reason = \"Another team member actively working this contact\"\n            → recommendation = \"Coordinate with [name] before sending\"\n```\n\n### Check 3: Scheduled Touchpoint Respect\n```pseudo\nIF wave1_results.state_analyzer.scheduled_touchpoints.has_scheduled_touchpoint == true:\n    AND scheduled_touchpoint.date < 30 days from now:\n        → action = \"wait\" or \"no_action\"\n        → reevaluate_at = scheduled_touchpoint.date + 1 day\n        → BLOCK any outreach generation\n        → reason = \"Scheduled touchpoint exists - no outreach needed\"\n```\n\n### Check 4: Temporal Reference Accuracy\n```pseudo\nIF wave2_results.content_generator.generated_content contains temporal_reference:\n    # e.g., \"depuis notre démo de mars\", \"ça fait un moment\"\n\n    actual_last_activity = wave1_results.state_analyzer.activity_scan_verification.last_activity_date\n    implied_last_activity = extract_date_from_message(temporal_reference)\n\n    IF abs(actual_last_activity - implied_last_activity) > 30 days:\n        → REJECT\n        → reason = \"Message implies [X] days since contact, actual is [Y] days\"\n        → action = regenerate with accurate temporal context\n```\n\n### Check 5: Activity Recency Sanity\n```pseudo\nIF wave1_results.state_analyzer.days_since_last_activity > 60:\n    AND activities array contains > 10 activities:\n        → FLAG for review\n        → reason = \"High activity count but long recency gap - possible scan error\"\n        → action = verify activity scan included all types\n```\n\n### Master validation output (add to final_decision):\n```json\n\"synthesis_safety_checks\": {\n  \"multi_deal_consistency\": {\n    \"passed\": true,\n    \"open_deal_detected\": true,\n    \"template_appropriate\": true\n  },\n  \"multi_owner_coordination\": {\n    \"passed\": false,\n    \"reason\": \"Roland active 3 days ago with scheduled lunch\",\n    \"action\": \"BLOCK\",\n    \"other_owner_name\": \"roland_bouchut\",\n    \"other_owner_last_activity\": \"2025-12-17\"\n  },\n  \"scheduled_touchpoint_respect\": {\n    \"passed\": false,\n    \"reason\": \"Lunch scheduled week of Jan 13\",\n    \"action\": \"WAIT\",\n    \"touchpoint_date\": \"2026-01-13\"\n  },\n  \"temporal_reference_accuracy\": {\n    \"passed\": true,\n    \"message_implies_days\": null,\n    \"actual_days\": 3\n  },\n  \"activity_recency_sanity\": {\n    \"passed\": true,\n    \"activity_count\": 30,\n    \"calculated_days_since\": 3\n  },\n  \"overall_verdict\": \"BLOCK\",\n  \"blocking_reason\": \"Multiple safety checks failed - do not send\"\n}\n```\n\n### SAFETY CHECK VERDICT LOGIC:\n\n```\noverall_verdict determination:\n\nIF any check has action = \"REJECT\":\n    → overall_verdict = \"REJECT\"\n    → DO NOT output final_decision\n    → Request regeneration\n\nIF any check has action = \"BLOCK\":\n    → overall_verdict = \"BLOCK\"\n    → Force action = \"wait\" or \"no_action\"\n    → Set wait_type.type = first blocking reason\n\nIF all checks passed:\n    → overall_verdict = \"PASS\"\n    → Proceed with normal output\n\nIF some checks have warnings but no blocks:\n    → overall_verdict = \"PASS_WITH_WARNINGS\"\n    → Proceed but include warnings in rationale\n```\n\n### EXAMPLES:\n\n**Example 1: Multi-owner blocking**\n```json\n\"synthesis_safety_checks\": {\n  \"multi_owner_coordination\": {\n    \"passed\": false,\n    \"reason\": \"Roland actively managing relationship - lunch scheduled week of Jan 13\",\n    \"action\": \"BLOCK\"\n  },\n  \"overall_verdict\": \"BLOCK\",\n  \"blocking_reason\": \"Another team member (Roland) has scheduled touchpoint with contact\"\n}\n// Result: action = \"wait\", wait_type.type = \"coordination_needed\"\n```\n\n**Example 2: Temporal mismatch rejection**\n```json\n\"synthesis_safety_checks\": {\n  \"temporal_reference_accuracy\": {\n    \"passed\": false,\n    \"reason\": \"Message says 'depuis notre démo de mars' but last activity was 2 days ago\",\n    \"action\": \"REJECT\"\n  },\n  \"overall_verdict\": \"REJECT\",\n  \"blocking_reason\": \"Generated content has incorrect temporal reference\"\n}\n// Result: DO NOT output, request content regeneration\n```\n\n**Example 3: All checks pass**\n```json\n\"synthesis_safety_checks\": {\n  \"multi_deal_consistency\": {\"passed\": true},\n  \"multi_owner_coordination\": {\"passed\": true},\n  \"scheduled_touchpoint_respect\": {\"passed\": true},\n  \"temporal_reference_accuracy\": {\"passed\": true},\n  \"activity_recency_sanity\": {\"passed\": true},\n  \"overall_verdict\": \"PASS\"\n}\n// Result: Proceed with normal output\n```\n\n====================\nOUTPUT VALIDATION RULES (FINAL CHECK)\n====================\n\n### OUTPUT IS INVALID IF:\n\n1. ❌ `action=\"wait\"` AND `execute_at=\"Not specified\"` AND timing exists in reasoning\n2. ❌ `action=\"wait\"` AND `wait_type` is absent\n3. ❌ `opportunity_strength` present without `opportunity_strength_breakdown`\n4. ❌ Sale cycle >30 days AND `sequence_plan` is empty\n5. ❌ Objection in input data AND not reflected in `known_objections`\n6. ❌ POC/Pilot deal AND `pilot_health` is absent\n7. ❌ Explicit timing in data AND `explicit_timing_agreement` is absent\n8. ❌ `opportunity_strength` ≠ `opportunity_strength_breakdown.calculated_total`\n9. ❌ `opportunity_strength = 0` AND recent meeting exists (last 30 days)\n10. ❌ `opportunity_strength < 0.50` AND pricing was discussed\n11. ❌ `opportunity_strength < 0.60` AND demo completed with positive feedback\n\n### OUTPUT IS VALID IF:\n\n- ✅ `execute_at` has ISO datetime (or null only for action=\"no_action\")\n- ✅ `wait_type` populated for all wait decisions\n- ✅ `opportunity_strength_breakdown` always present with matching total\n- ✅ `sequence_plan` populated for cycles >30 days\n- ✅ Conditional structures present when triggers match\n- ✅ All confidence_factors populated\n- ✅ risk_factors has at least 1 entry\n- ✅ success_criteria has all three levels filled\n- ✅ `active_customer_check` present for closed-won deals\n- ✅ No re-engagement tone for active customers (days_since_last_activity < 30)\n\n### 🚨 FINAL SAFETY VALIDATION (EXECUTE BEFORE OUTPUT):\n\n```\nBEFORE outputting final_decision, verify:\n\n□ If deal_type = \"Client actif\":\n  □ action is NOT \"send_message\" with re-engagement content\n  □ active_customer_check is present in output\n  □ Message tone is CUSTOMER_SUCCESS not re-engagement\n\n□ If days_since_last_activity < 14:\n  □ Check has_upcoming_meeting\n  □ If meeting scheduled, action = \"wait\"\n  □ Content does NOT reference old demos/exchanges as if recent\n\n□ If message contains \"Ça fait un moment\" OR \"plusieurs mois\":\n  □ Verify days_since_last_activity > 60\n  □ If days_since_last_activity < 30 → ABORT, do not output\n\n□ Cross-check consistency:\n  □ opportunity_strength_breakdown.factors references correct days\n  □ rationale matches actual activity recency\n  □ evidence_trail cites correct activity dates\n```\n\n---\n\n## LANGUAGE\n\n- If contact communication history is in French, write rationale in French\n- If in English, write in English\n- Message content should match the language used by Content Generator\n\n====================\n🚨 ANTI-HALLUCINATION PROTOCOL (MANDATORY)\n====================\n\nRULE #1: SOURCE OF TRUTH = THIS JSON ONLY\nYou must NEVER affirm a fact that is not present or directly deducible from the JSON provided.\n\n| ALLOWED | FORBIDDEN |\n|---------|-----------|\n| Quote a value present in JSON | Invent a value not present |\n| Deduce a fact from JSON data (e.g., calculated delay) | Assume unverifiable info |\n| Write \"NOT_FOUND\" or \"UNKNOWN\" if field is absent | Fill a field with invented value |\n| Summarize content from metadata.body | Interpret intent beyond the text |\n\nRULE #2: EVIDENCE TRAIL (MANDATORY)\nFor EVERY claim you make, you MUST be able to point to the exact JSON path.\n\nExample of GOOD evidence:\n\\`\\`\\`\nClaim: \"Last OUTBOUND was on 2025-08-27\"\nEvidence: activities[0].recorded_on = \"2025-08-27T12:02:43+00:00\"\n          activities[0].direction = \"OUTBOUND\" ✓\n\\`\\`\\`\n\nExample of BAD (hallucination):\n\\`\\`\\`\nClaim: \"Contact showed interest in pricing\"\nEvidence: ??? (not explicitly stated in any INBOUND message)\n→ THIS IS HALLUCINATION - FORBIDDEN\n\\`\\`\\`\n\nRULE #3: WHEN IN DOUBT, LEAVE IT OUT\nIf you cannot point to a specific JSON field for a claim → DO NOT MAKE THE CLAIM.",
          "maxTokens": 10000,
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        2272,
        48
      ],
      "id": "342052ae-2794-46de-8021-d828356b2e9b",
      "name": "Orchestrator Synthesis",
      "executeOnce": true,
      "credentials": {
        "anthropicApi": {
          "id": "WR9IYE0cy2Srym3w",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Wave 1",
        "height": 832,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -304
      ],
      "id": "050782f8-5317-4c68-9366-28f85aeead45",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Wave 2",
        "height": 832,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1776,
        -304
      ],
      "id": "940ef5ed-ffde-4ff9-bb88-d7cd3a8f1834",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "final_decision",
        "limit": 10,
        "filterType": "string",
        "filterString": "and=(user_slack_message.not.is.null,user_slack_message.neq.,type_of_validation.not.is.null,type_of_validation.neq.)&order=created_at.desc"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        -112
      ],
      "id": "e831ae81-c8e9-46bd-87ce-d47331688eb6",
      "name": "Get historical recommendations",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7YYll9c7CXOe1KjY",
          "name": "AI_Sales_supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Synthesis Output - Updated for New Architecture\n// Mode: Run Once for All Items\n\nconst rawInput = $input.first().json;\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 1: Extraer el texto raw (múltiples formatos posibles)\n// ═══════════════════════════════════════════════════════════════\nlet rawText = '';\n\nif (Array.isArray(rawInput)) {\n  // Formato array: [{ content: [...] }]\n  rawText = rawInput[0]?.content?.[0]?.text || '';\n} else if (rawInput.content && Array.isArray(rawInput.content)) {\n  // Formato Anthropic: { content: [{ type: \"text\", text: \"...\" }] }\n  rawText = rawInput.content[0]?.text || '';\n} else if (rawInput.output) {\n  // Formato AI Agent: { output: \"...\" }\n  rawText = rawInput.output;\n} else if (typeof rawInput === 'string') {\n  rawText = rawInput;\n} else {\n  rawText = JSON.stringify(rawInput);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 2: Limpiar y extraer JSON\n// ═══════════════════════════════════════════════════════════════\nlet cleanJson = rawText\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\n// Buscar el JSON que contiene \"orchestrator_id\" (el principal, no fragmentos)\n// Esto evita capturar JSONs de ejemplo en las reglas\nconst jsonStartIndex = cleanJson.indexOf('{\\n  \"orchestrator_id\"');\nlet jsonToParse = '';\n\nif (jsonStartIndex !== -1) {\n  // Encontrar el JSON completo desde ese punto\n  let braceCount = 0;\n  let inString = false;\n  let escapeNext = false;\n  \n  for (let i = jsonStartIndex; i < cleanJson.length; i++) {\n    const char = cleanJson[i];\n    \n    if (escapeNext) {\n      escapeNext = false;\n      continue;\n    }\n    \n    if (char === '\\\\') {\n      escapeNext = true;\n      continue;\n    }\n    \n    if (char === '\"' && !escapeNext) {\n      inString = !inString;\n      continue;\n    }\n    \n    if (!inString) {\n      if (char === '{') braceCount++;\n      if (char === '}') braceCount--;\n      \n      if (braceCount === 0) {\n        jsonToParse = cleanJson.substring(jsonStartIndex, i + 1);\n        break;\n      }\n    }\n  }\n} else {\n  // Fallback: buscar cualquier JSON object\n  const jsonMatch = cleanJson.match(/\\{[\\s\\S]*\\}/);\n  jsonToParse = jsonMatch ? jsonMatch[0] : '';\n}\n\nif (!jsonToParse) {\n  throw new Error('No JSON found in Synthesis output');\n}\n\nlet input;\ntry {\n  input = JSON.parse(jsonToParse);\n} catch (e) {\n  throw new Error('Could not parse Synthesis JSON: ' + e.message + '\\nFirst 500 chars: ' + jsonToParse.substring(0, 500));\n}\n\nconst decision = input.final_decision;\nif (!decision) {\n  throw new Error('Missing final_decision in Synthesis output');\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 3: Obtener datos del Webhook (owner y contact info)\n// ═══════════════════════════════════════════════════════════════\nlet ownerName = '';\nlet contactLinkedinUrl = '';\nlet contactHubspotId = '';\n\ntry {\n  const webhookData = $('Webhook').first().json;\n  \n  // Los datos pueden venir directo o en .body\n  const data = webhookData.body || webhookData;\n  \n  // LinkedIn y HubSpot ID del CONTACTO\n  contactLinkedinUrl = data.contact_info?.linkedin_url || '';\n  contactHubspotId = data.contact_info?.hubspot_id || '';\n  \n  // Nombre del OWNER (de la primera activity)\n  const activities = data.activities || [];\n  for (const activity of activities) {\n    if (activity.owner?.owner_name) {\n      ownerName = activity.owner.owner_name;\n      break;\n    }\n  }\n} catch (e) {\n  console.log('Could not extract Webhook data:', e.message);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 4: Construir output estructurado\n// ═══════════════════════════════════════════════════════════════\nreturn {\n  json: {\n    decision: {\n      // ─────────────────────────────────────────────────────────\n      // IDENTIFICACIÓN\n      // ─────────────────────────────────────────────────────────\n      orchestrator_id: input.orchestrator_id || 'orchestrator_synthesis',\n      phase: input.phase || 'synthesis',\n      contact_fullname: decision.contact_fullname || 'Not defined.',\n      contact_hubspot_id: contactHubspotId || 'Not defined.',\n      contact_linkedin_url: contactLinkedinUrl || 'Not defined.',\n      owner_name: ownerName || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // ACCIÓN PRINCIPAL\n      // ─────────────────────────────────────────────────────────\n      action: decision.action || 'no_action',\n      selected_channel: decision.selected_channel || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // CONTENIDO SELECCIONADO\n      // ─────────────────────────────────────────────────────────\n      message: decision.selected_content?.message || 'No recommended message.',\n      subject: decision.selected_content?.subject || 'Not defined.',\n      tone: decision.selected_content?.tone || 'Not defined.',\n      content_source: decision.selected_content?.content_source || 'wave2_content_generator',\n      \n      // ─────────────────────────────────────────────────────────\n      // TIMING DE EJECUCIÓN\n      // ─────────────────────────────────────────────────────────\n      execute_at: decision.execution_timing?.execute_at || 'Not defined.',\n      reevaluate_at: decision.execution_timing?.reevaluate_at || 'Not defined.',\n      timezone: decision.execution_timing?.timezone || 'Europe/Paris',\n      timing_rationale: decision.execution_timing?.timing_rationale || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // WAIT TYPE (solo para action=\"wait\")\n      // ─────────────────────────────────────────────────────────\n      wait_type: decision.wait_type?.type || 'Not defined.',\n      wait_risk_level: decision.wait_type?.risk_level || 'Not defined.',\n      wait_trigger_event: decision.wait_type?.trigger_event || 'Not defined.',\n      wait_reevaluation_trigger: decision.wait_type?.reevaluation_trigger || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // SECUENCIA\n      // ─────────────────────────────────────────────────────────\n      is_part_of_sequence: decision.sequence_instructions?.is_part_of_sequence || false,\n      current_step: decision.sequence_instructions?.current_step || 1,\n      total_steps: decision.sequence_instructions?.total_steps || 1,\n      sequence_plan: decision.sequence_instructions?.sequence_plan || [],\n      \n      // ─────────────────────────────────────────────────────────\n      // RATIONALE\n      // ─────────────────────────────────────────────────────────\n      overall_strategy: decision.rationale?.overall_strategy || 'Not defined.',\n      channel_reasoning: decision.rationale?.channel_reasoning || 'Not defined.',\n      content_reasoning: decision.rationale?.content_reasoning || 'Not defined.',\n      timing_reasoning: decision.rationale?.timing_reasoning || 'Not defined.',\n      sequence_reasoning: decision.rationale?.sequence_reasoning || 'Not defined.',\n      historical_alignment: decision.rationale?.historical_alignment || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // SCORES Y CONFIDENCE\n      // ─────────────────────────────────────────────────────────\n      opportunity_strength: decision.rationale?.opportunity_strength || 0,\n      opportunity_strength_breakdown: decision.rationale?.opportunity_strength_breakdown || 'Not defined.',\n      relationship_clarity: decision.rationale?.confidence_factors?.relationship_clarity || 0,\n      channel_certainty: decision.rationale?.confidence_factors?.channel_certainty || 0,\n      content_quality: decision.rationale?.confidence_factors?.content_quality || 0,\n      timing_accuracy: decision.rationale?.confidence_factors?.timing_accuracy || 0,\n      historical_pattern_match: decision.rationale?.confidence_factors?.historical_pattern_match || 0,\n      \n      // ─────────────────────────────────────────────────────────\n      // RIESGOS Y CRITERIOS DE ÉXITO\n      // ─────────────────────────────────────────────────────────\n      risk_factors: decision.risk_factors || [],\n      success_criteria_immediate: decision.success_criteria?.immediate || 'Not defined.',\n      success_criteria_short_term: decision.success_criteria?.short_term || 'Not defined.',\n      success_criteria_medium_term: decision.success_criteria?.medium_term || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // CONDITIONAL CONTEXT\n      // ─────────────────────────────────────────────────────────\n      stakeholder_map: input.conditional_context?.stakeholder_map || 'Not defined.',\n      explicit_timing_agreement: input.conditional_context?.explicit_timing_agreement || 'Not defined.',\n      buying_committee: input.conditional_context?.buying_committee || 'Not defined.',\n      known_objections: input.conditional_context?.known_objections || 'Not defined.',\n      deal_contact_status: input.conditional_context?.deal_contact_status || 'Not defined.',\n      competitive_context: input.conditional_context?.competitive_context || 'Not defined.',\n      buying_process: input.conditional_context?.buying_process || 'Not defined.',\n      pilot_health: input.conditional_context?.pilot_health || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // EVIDENCE & HISTORICAL PATTERNS\n      // ─────────────────────────────────────────────────────────\n      evidence_trail: input.evidence_trail || [],\n      historical_patterns_applied: input.historical_patterns_applied || [],\n      \n      // ─────────────────────────────────────────────────────────\n      // METADATA\n      // ─────────────────────────────────────────────────────────\n      synthesis_confidence: input.metadata?.synthesis_confidence || 0,\n      agents_wave_1: input.metadata?.agents_consulted?.wave_1 || [],\n      agents_wave_2: input.metadata?.agents_consulted?.wave_2 || [],\n      iterations_total: input.metadata?.iterations_total || 0,\n      processing_notes: input.metadata?.processing_notes || 'Not defined.',\n      validation_passed: input.metadata?.validation_passed || 'Not defined.',\n      content_value_density: input.metadata?.content_value_density || 'Not defined.',\n      active_customer_check: input.metadata?.active_customer_check || 'Not defined.'\n    },\n    \n    // ═══════════════════════════════════════════════════════════════\n    // SESSION INFO (para Supabase)\n    // ═══════════════════════════════════════════════════════════════\n    session_id: $('Save data call').first().json.session_id || 'Not defined.'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        48
      ],
      "id": "2c175788-06f1-459c-b170-9081de183940",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"Workflow was started! This process takes about 10 minutes, please wait... :)\",\n  \"started_at\":\"{{$now.toString()}}\",\n  \"session_id\": \"{{ $json.uuid }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        64
      ],
      "id": "84d2dd2f-7d1a-472d-a15b-c6bd43cf6ea4",
      "name": "Respond to Webhook with session_id",
      "executeOnce": true
    },
    {
      "parameters": {
        "tableId": "final_decision",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('Generate UUID').first().json.uuid }}"
            },
            {
              "fieldId": "decision",
              "fieldValue": "={{ $json.decision }}"
            },
            {
              "fieldId": "contact_hubspot_id",
              "fieldValue": "={{ $('Webhook').first().json.contact_info.hubspot_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2832,
        48
      ],
      "id": "0fe7b0e1-1a9b-4d59-ada0-6c852279158c",
      "name": "Save final decision into table",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "7YYll9c7CXOe1KjY",
          "name": "AI_Sales_supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "n8n_orchestrator_synthesis",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $('Generate UUID').first().json.uuid }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "final_decision",
              "fieldValue": "={{ $json.decision }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2832,
        -160
      ],
      "id": "153ddf60-7832-41db-9cfd-48f09c5d1fc2",
      "name": "Save final decision reference",
      "credentials": {
        "supabaseApi": {
          "id": "7YYll9c7CXOe1KjY",
          "name": "AI_Sales_supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/23843453/ufit1aq/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 0,
              "batchInterval": 0
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        48
      ],
      "id": "87f3f678-cb74-40a2-a3c6-87f00bf042e3",
      "name": "Send to Zapier for Slack"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "claude-opus-4-5-20251101"
        },
        "messages": {
          "values": [
            {
              "content": "=ORIGINAL CONTACT DATA:\n{{ $('Webhook').first().json.toJsonString() }}\n---\n\nWAVE 1 RESULTS:\n{{ $('Wave1_results').item.json.toJsonString() }}\n\n---\n\nCompare Wave 1 outputs against the original data. Verify factual accuracy, check for hallucinations, evaluate coherence. Decide: continue or retry?\n\n---\n\n## OUTPUT FORMAT\n\nReturn ONLY valid JSON (no markdown):\n\n{\n  \"evaluation_decision\": {\n    \"action\": \"continue\",\n    \"reasoning\": \"Brief explanation with specific references to original data\",\n    \"retry_instructions\": null\n  },\n  \"fact_check\": {\n    \"verified\": [\"List of key facts correctly extracted\"],\n    \"errors\": [\"Any factual errors found\"],\n    \"missed\": [\"Important data from original that was not captured\"]\n  },\n  \"quality_scores\": {\n    \"context_analyzer\": 0.85,\n    \"opportunity_detector\": 0.80,\n    \"state_analyzer\": 0.90,\n    \"timing_strategist\": 0.85,\n    \"factual_accuracy\": 0.90\n  },\n  \"issues_found\": [],\n  \"wave1_summary\": {\n    \"relationship_stage\": \"qualified\",\n    \"temperature\": \"warm\",\n    \"who_has_ball\": \"us\",\n    \"action_needed\": true,\n    \"urgency\": \"medium\",\n    \"primary_opportunity\": \"type\",\n    \"primary_hook\": \"hook topic\",\n    \"recommended_channel\": \"EMAIL\",\n    \"wait_days\": 3\n  }\n}\n\nIf retry:\n{\n  \"evaluation_decision\": {\n    \"action\": \"retry\",\n    \"reasoning\": \"Specific reason with evidence\",\n    \"retry_instructions\": {\n      \"context_relationship_analyzer\": \"Instruction or null\",\n      \"opportunity_detector\": \"Instruction or null\",\n      \"state_analyzer\": \"Instruction or null\",\n      \"timing_strategist\": \"Instruction or null\"\n    }\n  },\n  ...\n}\n\nIMPORTANT: \n- Output PURE JSON only, no markdown code blocks\n- Reference specific activities/dates from original data when verifying\n- Flag any information in Wave 1 outputs not found in original data"
            },
            {
              "content": "=You are the Wave 1 Quality Evaluator.\n\n## YOUR JOB\nCompare Wave 1 agent outputs against the ORIGINAL CONTACT DATA to verify accuracy, then decide: continue to Wave 2 or retry.\n\n## EVALUATION CHECKLIST\n\n1. **Data Reception**: Did all agents receive the contact data? (If any says \"no data\" or \"null query\" → critical failure)\n\n2. **Factual Accuracy** (compare against original data):\n   - Dates mentioned match actual activity dates\n   - Names and roles are correct\n   - Deal info matches (stage, amounts, close dates)\n   - Quotes/hooks reference actual content from activities\n\n3. **No Hallucinations**: \n   - Every fact in agent outputs must be traceable to original data\n   - No invented meetings, calls, or emails\n   - No fabricated quotes or stakeholders\n\n4. **Cross-Agent Coherence**:\n   - Context stage vs State temperature\n   - who_has_ball vs action_needed\n   - Opportunities vs urgency level\n   - Timing recommendation vs State follow_up_timing\n\n5. **Completeness**: Key signals from original data were captured\n\n## DECISION RULES\n\n**action = \"continue\"** when:\n- All facts verified against original data\n- No hallucinations detected\n- No critical contradictions\n\n**action = \"retry\"** when:\n- Agent(s) received empty/null data\n- Hallucinated information detected\n- Key data from original was missed\n- Provide SPECIFIC retry instructions\n\n## OUTPUT FORMAT\n\nReturn ONLY valid JSON (no markdown):\n\n{\n  \"evaluation_decision\": {\n    \"action\": \"continue\",\n    \"reasoning\": \"Brief explanation with specific references to original data\",\n    \"retry_instructions\": null\n  },\n  \"fact_check\": {\n    \"verified\": [\"List of key facts correctly extracted\"],\n    \"errors\": [\"Any factual errors found\"],\n    \"missed\": [\"Important data from original that was not captured\"]\n  },\n  \"quality_scores\": {\n    \"context_analyzer\": 0.85,\n    \"opportunity_detector\": 0.80,\n    \"state_analyzer\": 0.90,\n    \"timing_strategist\": 0.85,\n    \"factual_accuracy\": 0.90\n  },\n  \"issues_found\": [],\n  \"wave1_summary\": {\n    \"relationship_stage\": \"qualified\",\n    \"temperature\": \"warm\",\n    \"who_has_ball\": \"us\",\n    \"action_needed\": true,\n    \"urgency\": \"medium\",\n    \"primary_opportunity\": \"type\",\n    \"primary_hook\": \"hook topic\",\n    \"recommended_channel\": \"EMAIL\",\n    \"wait_days\": 3\n  }\n}\n\nIf retry:\n{\n  \"evaluation_decision\": {\n    \"action\": \"retry\",\n    \"reasoning\": \"Specific reason with evidence\",\n    \"retry_instructions\": {\n      \"context_relationship_analyzer\": \"Instruction or null\",\n      \"opportunity_detector\": \"Instruction or null\",\n      \"state_analyzer\": \"Instruction or null\",\n      \"timing_strategist\": \"Instruction or null\"\n    }\n  },\n  ...\n}\n\nIMPORTANT: \n- Output PURE JSON only, no markdown code blocks\n- Reference specific activities/dates from original data when verifying\n- Flag any information in Wave 1 outputs not found in original data",
              "role": "assistant"
            }
          ]
        },
        "options": {
          "maxTokens": 15000,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        816,
        64
      ],
      "id": "1cca17f2-dcce-4935-94b7-69c86a7420d5",
      "name": "Orchestrator Wave 1 Evaluation",
      "executeOnce": true,
      "credentials": {
        "anthropicApi": {
          "id": "WR9IYE0cy2Srym3w",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Context Analyzer": {
      "main": [
        [
          {
            "node": "Wave1_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call State Analyzer": {
      "main": [
        [
          {
            "node": "Wave1_results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call Opportunity Detector": {
      "main": [
        [
          {
            "node": "Wave1_results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call Timing Strategist": {
      "main": [
        [
          {
            "node": "Wave1_results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wave1_results": {
      "main": [
        [
          {
            "node": "Orchestrator Wave 1 Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse evaluation JSON": {
      "main": [
        [
          {
            "node": "Retry Wave 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Wave 1?": {
      "main": [
        [
          {
            "node": "Get historical recommendations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call channel selector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Sequence Strategist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save data call": {
      "main": [
        [
          {
            "node": "Call Context Analyzer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Opportunity Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call State Analyzer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Timing Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UUID": {
      "main": [
        [
          {
            "node": "Respond to Webhook with session_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call channel selector": {
      "main": [
        [
          {
            "node": "Wave2_results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call Sequence Strategist": {
      "main": [
        [
          {
            "node": "Wave2_results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call Content Generator": {
      "main": [
        [
          {
            "node": "Wave2_results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wave2_results": {
      "main": [
        [
          {
            "node": "Orchestrator Synthesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Synthesis": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get historical recommendations": {
      "main": [
        [
          {
            "node": "Call Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Save final decision reference",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save final decision into table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook with session_id": {
      "main": [
        [
          {
            "node": "Save data call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save final decision into table": {
      "main": [
        [
          {
            "node": "Send to Zapier for Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Wave 1 Evaluation": {
      "main": [
        [
          {
            "node": "Parse evaluation JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68281001cf81541d7dbe4d9b4209e0b29467134afcd3e5ae5b83989067eba263"
  }
}