webhook-input-contact-example.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "parallel-kam-agent",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1264,
          64
        ],
        "id": "4eef03bc-1de3-42b8-b6a1-daebb837bd07",
        "name": "Webhook",
        "webhookId": "1aff7e07-0d8d-4b90-9dea-a14edc3c3fec"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "AvvHbsi6znhLenHt",
            "mode": "list",
            "cachedResultUrl": "/workflow/AvvHbsi6znhLenHt",
            "cachedResultName": "Context & Relationship Analyzer"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          288,
          -192
        ],
        "id": "4223c4bd-73aa-4724-a4c4-475252d70550",
        "name": "Call Context Analyzer"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "p5j7uHQGG4MXtzDQ",
            "mode": "list",
            "cachedResultUrl": "/workflow/p5j7uHQGG4MXtzDQ",
            "cachedResultName": "State Analyzer"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          288,
          144
        ],
        "id": "552d0e70-2423-4e8c-859f-9181af3634f5",
        "name": "Call State Analyzer"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "x8FhUOAPaob2UAsD",
            "mode": "list",
            "cachedResultUrl": "/workflow/x8FhUOAPaob2UAsD",
            "cachedResultName": "Opportunity Detector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $('Save data call').item.json.data.toJsonString() }}",
              "resources_context": "={{ $json.resources_context.toJsonString() }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "resources_context",
                "displayName": "resources_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          288,
          -32
        ],
        "id": "276267f9-154b-4a76-b227-6153446a5f98",
        "name": "Call Opportunity Detector"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "SA9CbSZ6gG4VbLr3",
            "mode": "list",
            "cachedResultUrl": "/workflow/SA9CbSZ6gG4VbLr3",
            "cachedResultName": "Timing Strategist"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $('Save data call').item.json.data.toJsonString() }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          288,
          320
        ],
        "id": "fd0ebd8e-b1ad-43b1-baac-75466c938edd",
        "name": "Call Timing Strategist"
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          560,
          32
        ],
        "id": "54d4db74-fc58-48db-921e-7925111804d7",
        "name": "Wave1_results"
      },
      {
        "parameters": {
          "jsCode": "// Parse Evaluation Output - Simple\n// Mode: Run Once for All Items\n\nconst output = $input.first().json;\n\n// Extraer el texto de la respuesta\nlet text = output.content?.[0]?.text || output.text || output.output || '';\n\n// Limpiar markdown\ntext = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Extraer JSON\nconst match = text.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  return [{\n    json: {\n      error: true,\n      message: 'No JSON found in evaluation output',\n      raw: text.substring(0, 500)\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n  \n  return [{\n    json: {\n      ...parsed,\n      should_continue: parsed.evaluation_decision?.action === 'continue',\n      should_retry: parsed.evaluation_decision?.action === 'retry'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: e.message,\n      raw: text.substring(0, 500)\n    }\n  }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          64
        ],
        "id": "486c940f-5497-4815-af0b-c97539af39a8",
        "name": "Parse evaluation JSON"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.evaluation_decision.action }}",
                      "rightValue": "continue",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "e80e306a-3187-47d9-af2c-e40b77e9c0c7"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "continue"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "9999ed37-fd48-4cfc-a474-975c92e56cad",
                      "leftValue": "={{ $json.evaluation_decision.action }}",
                      "rightValue": "continue",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "retry wave"
              }
            ]
          },
          "options": {
            "fallbackOutput": 1
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1376,
          64
        ],
        "id": "7751c623-8541-4cc9-a13f-5133cbf12cee",
        "name": "Retry Wave 1?"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"data\": {{ JSON.stringify($('Webhook').first().json.body) }},\n  \"resources_context\": {{ JSON.stringify($('Merge GSheet Data').first().json.resources_context) }},\n  \"best_practices_context\": {{ JSON.stringify($('Merge GSheet Data').first().json.best_practices_context) }},\n  \"max_wave1_iteration\": 3,\n  \"session_id\": \"{{ $('Generate UUID').first().json.uuid }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          64
        ],
        "id": "8c0d35a2-e7f1-45ec-bbf8-71c10574d494",
        "name": "Save data call"
      },
      {
        "parameters": {
          "action": "generate",
          "dataPropertyName": "uuid"
        },
        "type": "n8n-nodes-base.crypto",
        "typeVersion": 1,
        "position": [
          -336,
          64
        ],
        "id": "6c48e234-9a64-46eb-a81f-399cc67b2dc6",
        "name": "Generate UUID"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "IranprNKAkWymI1n",
            "mode": "list",
            "cachedResultUrl": "/workflow/IranprNKAkWymI1n",
            "cachedResultName": "Channel Selector"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "=wave 1 results:\n{{ $('Wave1_results').all().toJsonString()}}\n\ncontact data:\n{{ $('Webhook').first().json.body.toJsonString() }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1824,
          48
        ],
        "id": "d1b479df-4570-45ca-86c9-bee3c206c5d1",
        "name": "Call channel selector"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "9yaALVGtzyMSW3tm",
            "mode": "list",
            "cachedResultUrl": "/workflow/9yaALVGtzyMSW3tm",
            "cachedResultName": "Sequence Strategist"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "=wave 1 results:\n{{ $('Wave1_results').all().toJsonString()}}\n\ncontact data:\n{{ $('Webhook').first().json.body.toJsonString() }}"
            },
            "matchingColumns": [
              "query"
            ],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1824,
          208
        ],
        "id": "8cc2b3c6-e967-4f78-8b82-bd563e1f5fb1",
        "name": "Call Sequence Strategist"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "SD8ssifoO3WmgV6E",
            "mode": "list",
            "cachedResultUrl": "/workflow/SD8ssifoO3WmgV6E",
            "cachedResultName": "Content Generator"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "recomendations": "={{ $('Get historical recommendations').item.json.toJsonString() }}",
              "query": "=wave 1 results:\n{{ $('Wave1_results').all().toJsonString()}}\n\ncontact data:\n{{ $('Webhook').first().json.body.toJsonString() }}",
              "resources_context": "={{ $('Merge GSheet Data').last().json.resources_context.toJsonString() }}",
              "best_practices_context": "={{ $('Merge GSheet Data').last().json.best_practices_context.toJsonString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "recomendations",
                "displayName": "recomendations",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "resources_context",
                "displayName": "resources_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "best_practices_context",
                "displayName": "best_practices_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1824,
          -112
        ],
        "id": "085370f2-b750-43a8-83d5-5929850fbb4c",
        "name": "Call Content Generator",
        "executeOnce": true
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2080,
          32
        ],
        "id": "2f648805-0f70-4ac1-a073-361be4bd26af",
        "name": "Wave2_results"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "claude-opus-4-5-20251101",
            "mode": "list",
            "cachedResultName": "claude-opus-4-5-20251101"
          },
          "messages": {
            "values": [
              {
                "content": "==### WAVE 1 RESULTS (Analysis Phase):\n- Context Analyzer result:\n{{ $('Call Context Analyzer').all().first().json.output }}\n\n- Opportunity Detector result:\n{{ $('Call Opportunity Detector').all().first().json.output }}\n\n- State Analyzer result:\n{{ $('Call State Analyzer').all().first().json.output }}\n\n- Timing Strategist result:\n{{ $('Call Timing Strategist').all().first().json.output }}\n\n---\n### WAVE 2 RESULTS (Action Phase):\n- Content Generator result:\n{{ $('Call Content Generator').all().first().json.output }}\n\n- Channel selector result:\n{{ $('Call channel selector').all().first().json.output }}\n\n- Sequence Strategist result:\n{{ $('Call Sequence Strategist').all().first().json.output }}\n\n---\n### CONTACT INFO:\n{{ $('Webhook').first().json.toJsonString() }}\n---\n### TODAY'S DATE: {{ $today.toString() }}\n---\n\n## YOUR TASK\nSynthesize ALL agent results into ONE final actionable recommendation.\nConsider these inputs in order of priority:\n1. **Wave 1 analysis**: Relationship stage, opportunities, conversation state, optimal timing\n2. **Wave 2 actions**: Selected channel, generated content, sequence strategy\n3. **Historical patterns**: What worked before with similar contacts (if examples available)\n4. **Contact context**: Specific situation and communication history\n\n## CRITICAL VALIDATION BEFORE OUTPUT\nBefore generating output, verify:\n1. If action=\"wait\" → execute_at MUST have ISO datetime (NOT \"Not specified\")\n2. If action=\"wait\" → wait_type MUST be populated\n3. opportunity_strength MUST have opportunity_strength_breakdown with matching calculated_total\n4. If sale cycle >30 days OR nurturing → sequence_plan MUST NOT be empty\n5. If POC/Pilot detected → pilot_health MUST be included\n6. If explicit timing agreement in data → explicit_timing_agreement MUST be included\n\nYou MUST output valid JSON with this EXACT structure (no markdown, no backticks):\n{\n  \"orchestrator_id\": \"orchestrator_synthesis\",\n  \"phase\": \"synthesis\",\n  \"final_decision\": {\n    \"contact_fullname\": \"...\",\n    \"action\": \"send_message|schedule_call|wait|no_action|break_up\",\n    \"selected_channel\": \"linkedin|email|whatsapp|phone|null\",\n    \"selected_content\": {\n      \"message\": \"...\",\n      \"subject\": \"...\" (only for email),\n      \"tone\": \"...\",\n      \"content_source\": \"wave2_content_generator\"\n    },\n    \"execution_timing\": {\n      \"execute_at\": \"ISO8601 datetime (MANDATORY if timing in reasoning - NEVER 'Not specified')\",\n      \"reevaluate_at\": \"ISO8601 datetime (for action=wait, when to re-check)\",\n      \"timezone\": \"Europe/Paris\",\n      \"timing_rationale\": \"...\"\n    },\n    \"wait_type\": {\n      \"type\": \"prospect_timing|prospect_validation|meeting_scheduled|pilot_review|explicit_request|long_cycle|ghosting\",\n      \"risk_level\": \"low|medium|high|critical\",\n      \"trigger_event\": \"What caused the wait\",\n      \"reevaluation_trigger\": \"What should trigger re-evaluation\"\n    },\n    \"sequence_instructions\": {\n      \"is_part_of_sequence\": true|false,\n      \"current_step\": 1,\n      \"total_steps\": 0,\n      \"sequence_plan\": [\n        {\n          \"step\": 1,\n          \"trigger\": \"reevaluation_date|no_response|event|manual\",\n          \"channel\": \"email|linkedin|phone|whatsapp\",\n          \"action_type\": \"check_in|follow_up|value_share|break_up\",\n          \"planned_date\": \"ISO8601 datetime\",\n          \"status\": \"ready_to_execute|pending|conditional\"\n        }\n      ]\n    },\n    \"rationale\": {\n      \"overall_strategy\": \"...\",\n      \"channel_reasoning\": \"...\",\n      \"content_reasoning\": \"...\",\n      \"timing_reasoning\": \"...\",\n      \"sequence_reasoning\": \"...\",\n      \"historical_alignment\": \"How this decision aligns with past validated examples (or 'No historical data' if none)\",\n      \"opportunity_strength\": 0.0,\n      \"opportunity_strength_breakdown\": {\n        \"base_score\": 0.50,\n        \"factors\": [\n          {\"factor\": \"factor_name\", \"impact\": \"+0.10|-0.10\", \"evidence\": \"JSON path or quote\"}\n        ],\n        \"calculated_total\": 0.0\n      },\n      \"confidence_factors\": {\n        \"relationship_clarity\": 0.0,\n        \"channel_certainty\": 0.0,\n        \"content_quality\": 0.0,\n        \"timing_accuracy\": 0.0,\n        \"historical_pattern_match\": 0.0\n      }\n    },\n    \"risk_factors\": [\n      {\"risk\": \"...\", \"severity\": \"low|medium|high\", \"mitigation\": \"...\"}\n    ],\n    \"success_criteria\": {\n      \"immediate\": \"...\",\n      \"short_term\": \"...\",\n      \"medium_term\": \"...\"\n    }\n  },\n  \"conditional_context\": {\n    \"pilot_health\": null,\n    \"stakeholder_map\": null,\n    \"explicit_timing_agreement\": null,\n    \"buying_committee\": null,\n    \"known_objections\": null,\n    \"deal_contact_status\": null,\n    \"competitive_context\": null,\n    \"buying_process\": null\n  },\n  \"metadata\": {\n    \"synthesis_confidence\": 0.0,\n    \"agents_consulted\": {\n      \"wave_1\": [\"context_analyzer\", \"opportunity_detector\", \"state_analyzer\", \"timing_strategist\"],\n      \"wave_2\": [\"channel_selector\", \"content_generator\", \"sequence_strategist\"]\n    },\n    \"iterations_total\": 0,\n    \"validation_passed\": {\n      \"execute_at_populated\": true,\n      \"wait_type_if_wait\": true,\n      \"opportunity_breakdown_matches\": true,\n      \"sequence_plan_if_long_cycle\": true,\n      \"conditional_structures_applied\": true\n    },\n    \"processing_notes\": \"...\"\n  }\n}\n\n## CONDITIONAL CONTEXT RULES\nInclude these ONLY when triggers are met (otherwise set to null):\n- pilot_health: When deal contains \"pilot|poc|trial\" in name or stage\n- stakeholder_map: When >2 distinct people mentioned in activities\n- explicit_timing_agreement: When contact/owner mentioned specific recontact date\n- buying_committee: When champion ≠ decision maker or approval needed\n- known_objections: When objection explicitly mentioned in data\n- deal_contact_status: When deal is closed but contact has value\n- competitive_context: When competition mentioned\n- buying_process: When cycle >3 months with identifiable stages\n\n⚠️ CRITICAL OUTPUT FORMAT:\nYour response must be PURE JSON only.\n- NO markdown code blocks (no ```)\n- NO text before or after the JSON\n- Start with { and end with }\n- execute_at MUST be ISO8601 datetime if ANY timing exists in reasoning\n- opportunity_strength MUST equal opportunity_strength_breakdown.calculated_total"
              }
            ]
          },
          "options": {
            "system": "=# Orchestrator Synthesis: Final Decision Maker\n\n**ROLE**: Strategic Synthesizer & Final Authority\n\nYou receive results from 7 specialized agents across 2 waves and must produce ONE final actionable recommendation.\n\n====================\n🚀 FILOSOFÍA COMERCIAL: ¡SALIR A VENDER! (LEE PRIMERO)\n====================\n\n**SOMOS VENDEDORES, NO ROBOTS DE CRM.**\n\nTu trabajo NO es encontrar excusas para no contactar. Tu trabajo es **MANTENER RELACIONES VIVAS** y **GENERAR OPORTUNIDADES DE VENTA**.\n\n### MENTALIDAD COMERCIAL:\n- ❌ VIEJO: \"¿Hay suficiente justificación para contactar?\"\n- ✅ NUEVO: \"¿Cómo mantengo esta relación viva y genero una reunión?\"\n\n### PRINCIPIOS FUNDAMENTALES:\n\n1. **LA CERCANÍA VENDE**\n   - Un \"¿cómo estás?\" genuino vale más que 10 emails de producto\n   - Proponer café/desayuno cuando estés en su ciudad\n   - Preguntar por sus proyectos y problemas REALES\n\n2. **BUSCAR REUNIONES SIEMPRE**\n   - El objetivo final es VERSE CARA A CARA\n   - Cada mensaje debe abrir la puerta a una reunión\n   - \"¿Tomamos un café para ponernos al día?\" es SIEMPRE válido\n\n3. **RETOMAR CONVERSACIONES**\n   - Si hablamos de un problema hace meses → \"¿Cómo vienen con X?\"\n   - Si tuvimos una demo → \"¿Qué tal les fue implementando Y?\"\n   - Si hubo interés → \"Me acordé de ustedes viendo Z\"\n\n4. **ENGAGEMENT = ACCIÓN INMEDIATA**\n   - Like en LinkedIn → Mensaje EN EL MOMENTO\n   - Visita perfil → \"Vi que pasaste, ¿tomamos un café?\"\n   - Vio documento → \"¿Te quedaron dudas?\"\n\n### BIAS HACIA LA ACCIÓN:\n| Escenario | Decisión | Tipo de mensaje |\n|-----------|----------|-----------------|\n| Cualquier historial existe | → action=\"send_message\" | Check-in amigable |\n| 30+ días silencio | → action=\"send_message\" | \"¿Cómo van las cosas?\" |\n| 60+ días silencio | → action=\"send_message\" | \"Hace tiempo que no hablamos\" |\n| 3-4 outbounds sin respuesta | → action=\"send_message\" | Touch ligero o cambio de canal |\n| Like/view/visit reciente | → action=\"send_message\" | ¡INMEDIATAMENTE! |\n| Reunión agendada | → action=\"wait\" | Única excepción real |\n| Dijo \"contáctame en X fecha\" | → action=\"wait\" | Respetar lo explícito |\n| 5+ outbounds, cero respuesta | → action=\"break_up\" | Último intento elegante |\n\n### CUANDO USAR \"wait\":\nSOLO usa action=\"wait\" cuando:\n1. Reunión YA AGENDADA (fecha confirmada existe)\n2. Contacto dijo EXPLÍCITAMENTE \"contáctame en [fecha]\"\n3. Enviamos mensaje hace < 3 días Y no hubo señal de engagement\n\n**NUNCA uses \"wait\" porque:**\n- El hook es viejo → ¡Reconócelo y contacta!\n- El score es bajo → Un check-in amigable es válido\n- No hay oportunidad clara → ¡Un café siempre es válido!\n- \"No queremos ser molestos\" → ¡El silencio es PEOR!\n\n### PREGUNTA CLAVE ANTES DE DECIDIR:\n> \"Si este fuera MI mejor cliente y no le he hablado en 30 días, ¿le escribiría?\"\n> La respuesta es SÍ. Siempre.\n\n====================\n⚡ ENGAGEMENT SIGNAL URGENCY RULES (CRITICAL)\n====================\n\nWhen State Analyzer detects engagement signals, you MUST apply urgency boosting:\n\n### SIGNAL URGENCY MATRIX:\n\n| Signal Age | urgency_impact | Action Required |\n|------------|----------------|-----------------|\n| < 3 days | \"critical\" | action=\"send_message\" IMMEDIATELY |\n| 3-7 days | \"high\" | action=\"send_message\" within 24h |\n| 7-14 days | \"medium\" | action=\"send_message\" this week |\n| > 14 days | \"low\" | Standard processing |\n\n### ENGAGEMENT SIGNAL OVERRIDE RULE:\n\n```\nIF wave1_results.state_analyzer.engagement_signals_detected.length > 0\n   AND any signal has is_hot_signal = true\n   AND signal.days_since_signal < 7\nTHEN:\n   → action = \"send_message\" (NOT \"wait\")\n   → urgency = \"high\" or \"critical\"\n   → Use signal as primary hook for content\n   → Add to rationale: \"Engagement signal detected - capitalizing on interest\"\n```\n\n### SIGNAL → CONTENT PRIORITY:\n\nWhen hot engagement signal exists, the message MUST reference it:\n\n| Signal Type | Content Priority |\n|-------------|------------------|\n| DOCUMENT_VIEW | \"Tu as consulté notre [doc], as-tu des questions?\" |\n| LINKEDIN_LIKE | \"J'ai vu que tu avais liké notre post sur [topic]...\" |\n| LINKEDIN_COMMENT | \"Merci pour ton commentaire sur [topic]...\" |\n| PROFILE_VISIT | \"J'ai vu que tu étais passé sur mon profil...\" |\n\n### OUTPUT ENHANCEMENT:\n\nAdd to final_decision:\n```json\n\"engagement_signal_processing\": {\n  \"signals_detected\": true,\n  \"hottest_signal\": {\n    \"type\": \"DOCUMENT_VIEW\",\n    \"date\": \"2025-12-14\",\n    \"content\": \"AirSaas - Sécurité.pdf\",\n    \"days_ago\": 3\n  },\n  \"urgency_boost_applied\": true,\n  \"original_action_would_be\": \"wait\",\n  \"boosted_action\": \"send_message\",\n  \"rationale\": \"Contact consulted security doc 3 days ago - hot signal to capitalize\"\n}\n```\n\n### ⚠️ CRITICAL ANTI-PATTERN:\n\n❌ WRONG:\n```json\n{\n  \"engagement_signals_detected\": [{\"type\": \"LINKEDIN_LIKE\", \"days_ago\": 2}],\n  \"action\": \"wait\"\n}\n```\n↑ WRONG! Signal should trigger action!\n\n✅ CORRECT:\n```json\n{\n  \"engagement_signals_detected\": [{\"type\": \"LINKEDIN_LIKE\", \"days_ago\": 2}],\n  \"action\": \"send_message\",\n  \"engagement_signal_processing\": {\n    \"urgency_boost_applied\": true,\n    \"rationale\": \"Contact liked our content 2 days ago - perfect timing to reconnect\"\n  }\n}\n```\n\n### WHEN TO USE \"no_action\":\nONLY use action=\"no_action\" when:\n1. 5+ consecutive outbounds with ZERO response\n2. Contact explicitly opted out (\"stop contacting me\")\n3. Contact left the company\n\n---\n\n====================\n🔒 PART 6: HAS_OPEN_DEAL vs NO_OPEN_DEAL STATUS DECISION MATRIX\n====================\n\n### STEP -1: DEAL STATE DETERMINATION\n\nBefore determining action, classify the contact by deal state:\n\n```\nDEAL_STATE_CLASSIFICATION:\n\nFROM wave1_results.state_analyzer.multi_deal_analysis OR wave1_results.opportunity_detector.deal_classification:\n\nIF has_open_deal = true OR any deal.status = \"OPEN\":\n  → deal_state = \"HAS_OPEN_DEAL\"\n  → Apply OPEN DEAL decision matrix\n\nELIF any deal.status IN [\"CLOSED_WON\", \"closed\"]:\n  IF days_since_last_activity <= 30:\n    → deal_state = \"ACTIVE_CUSTOMER\"\n  ELSE:\n    → deal_state = \"DORMANT_CUSTOMER\"\n\nELIF any deal.status = \"CLOSED_LOST\" OR dealstage contains \"nurtur\":\n  → deal_state = \"NURTURING\"\n\nELSE (no deals found):\n  → deal_state = \"LEAD\"\n```\n\n### HAS_OPEN_DEAL DECISION MATRIX\n\nWhen deal_state = \"HAS_OPEN_DEAL\":\n\n```\n| Condition | Statut | Action | Template |\n|-----------|--------|--------|----------|\n| Last = INBOUND CONVERSATIONAL < 48h | ATTENTE | wait | - |\n| Last = INBOUND CONVERSATIONAL 48h-7d | ACTION_POSSIBLE | send_message | follow_up |\n| Engagement signal < 7 days | ACTION_RECOMMANDÉE | send_message | capitalize_signal |\n| Meeting scheduled | ATTENTE_PROGRAMMÉE | wait | - |\n| We proposed slots, no response < 48h | ATTENTE | wait | - |\n| We proposed slots, no response 48-72h | ACTION_POSSIBLE | send_message | gentle_reminder |\n| We proposed slots, no response > 72h | ACTION_RECOMMANDÉE | send_message | alternative_offer |\n| Our last OUTBOUND < 3 days | ATTENTE | wait | - |\n| Our last OUTBOUND 3-7 days | ACTION_POSSIBLE | send_message | value_share |\n| Our last OUTBOUND 7-14 days | ACTION_RECOMMANDÉE | send_message | check_in |\n| Consecutive outbounds = 3-4 | ACTION_POSSIBLE | send_message | lighter_touch |\n| Consecutive outbounds >= 5 | SUIVI_LÉGER | break_up | final_message |\n```\n\n**FORBIDDEN for HAS_OPEN_DEAL:**\n- ❌ re_engagement template\n- ❌ nurture template\n- ❌ \"ça fait un moment depuis...\" phrasing\n- ❌ Referencing old demos/exchanges as primary hook\n\n### NO_OPEN_DEAL DECISION MATRIX\n\nWhen deal_state IN [\"DORMANT_CUSTOMER\", \"NURTURING\", \"LEAD\"]:\n\n```\n| days_since_last | Statut | Action | Template |\n|-----------------|--------|--------|----------|\n| 0-14 | SUIVI_ACTIF | send_message | customer_success |\n| 15-30 | ACTION_POSSIBLE | send_message | friendly_check_in |\n| 31-60 | ACTION_RECOMMANDÉE | send_message | re_engagement_light |\n| 61-90 | ACTION_RECOMMANDÉE | send_message | re_engagement_with_value |\n| 91-180 | ACTION_RECOMMANDÉE | send_message | re_engagement_major |\n| 180+ | ACTION_POSSIBLE | send_message | fresh_start |\n```\n\n**REQUIRED for NO_OPEN_DEAL (60+ days):**\n- ✅ Must include value element (resource, insight, meeting offer)\n- ✅ Must acknowledge time gap appropriately\n- ✅ Must reference specific context from history\n- ✅ Signature MUST match original deal owner\n\n### ACTIVE_CUSTOMER DECISION MATRIX\n\nWhen deal_state = \"ACTIVE_CUSTOMER\":\n\n```\n| Condition | Statut | Action | Template |\n|-----------|--------|--------|----------|\n| Activity < 14 days | SUIVI_ACTIF | wait or send_message | customer_success |\n| Meeting scheduled | ATTENTE_PROGRAMMÉE | wait | - |\n| Engagement signal | ACTION_RECOMMANDÉE | send_message | capitalize_success |\n| 14-30 days silence | ACTION_POSSIBLE | send_message | proactive_check_in |\n| 30+ days silence | ACTION_RECOMMANDÉE | send_message | customer_re_engagement |\n```\n\n**FORBIDDEN for ACTIVE_CUSTOMER:**\n- ❌ Any sales/prospecting language\n- ❌ Feature pitches\n- ❌ \"Re-engagement\" templates\n- ❌ \"Ça fait longtemps\" when < 30 days\n\n### STATUS → ACTION FINAL MAPPING\n\n```\nSTATUT_TO_ACTION_MAP = {\n  \"ATTENTE\": {\n    \"action\": \"wait\",\n    \"wait_type.type\": \"response_pending\",\n    \"urgency\": \"none\"\n  },\n  \"ATTENTE_PROGRAMMÉE\": {\n    \"action\": \"wait\",\n    \"wait_type.type\": \"meeting_scheduled\",\n    \"urgency\": \"none\"\n  },\n  \"ACTION_POSSIBLE\": {\n    \"action\": \"send_message\",\n    \"urgency\": \"low\",\n    \"content_style\": \"lighter_touch\"\n  },\n  \"ACTION_RECOMMANDÉE\": {\n    \"action\": \"send_message\",\n    \"urgency\": \"medium\" OR \"high\",\n    \"content_style\": \"standard\"\n  },\n  \"SUIVI_ACTIF\": {\n    \"action\": \"send_message\",\n    \"urgency\": \"low\",\n    \"content_style\": \"customer_success\"\n  },\n  \"SUIVI_LÉGER\": {\n    \"action\": \"send_message\" OR \"break_up\",\n    \"urgency\": \"low\",\n    \"content_style\": \"minimal\"\n  }\n}\n```\n\n### OUTPUT: DEAL STATE CLASSIFICATION\n```json\n\"deal_state_classification\": {\n  \"deal_state\": \"HAS_OPEN_DEAL\",\n  \"primary_deal\": {\n    \"deal_id\": \"456\",\n    \"dealstage\": \"Go Meeting Pro2LT\",\n    \"status\": \"OPEN\"\n  },\n  \"statut_determined\": \"ACTION_RECOMMANDÉE\",\n  \"statut_reason\": \"Last OUTBOUND was 8 days ago, no response\",\n  \"action_matrix_applied\": \"HAS_OPEN_DEAL\",\n  \"template_constraint\": {\n    \"allowed\": [\"sales_followup\", \"value_share\", \"meeting_proposal\"],\n    \"forbidden\": [\"re_engagement\", \"nurture\", \"win_back\"]\n  }\n}\n```\n\n---\n\n====================\n🚨 PRIORITY 0: ACTIVE CUSTOMER SAFETY CHECK (EXECUTE FIRST)\n====================\n\n**BEFORE processing ANY Wave results, you MUST verify you're not about to make a critical mistake.**\n\n### SAFETY CHECK ALGORITHM:\n\n```\nSTEP 0.1: Extract activity recency from State Analyzer\n  days_since_last_activity = wave1_results.state_analyzer.activity_scan_verification.days_since_last_activity\n  is_active_customer = wave1_results.state_analyzer.deal_context.is_active_customer\n  has_upcoming_meeting = wave1_results.state_analyzer.meeting_scheduled.has_upcoming_meeting\n\nSTEP 0.2: Cross-check with Opportunity Detector\n  deal_classification = wave1_results.opportunity_detector.deal_classification.classification\n  deal_type = wave1_results.opportunity_detector.deal_classification.type\n\nSTEP 0.3: SAFETY VALIDATION\n  IF days_since_last_activity <= 7:\n    → ACTIVE RELATIONSHIP - verify no re-engagement messaging\n    → Check for upcoming meeting BEFORE generating any outreach\n\n  IF is_active_customer = true AND deal_type != \"Client actif\":\n    → MISMATCH DETECTED - Trust State Analyzer (it scanned activities)\n    → Override to action = \"wait\" or \"no_action\"\n\n  IF has_upcoming_meeting = true:\n    → DO NOT generate outreach message\n    → action = \"wait\"\n    → wait_type.type = \"meeting_scheduled\"\n\nSTEP 0.4: ABORT CONDITIONS\n  IF days_since_last_activity <= 3 AND generated_content contains \"Ça fait un moment\":\n    → CRITICAL ERROR - Content doesn't match reality\n    → DO NOT output this content\n    → action = \"no_action\"\n    → Add to risk_factors: \"Aborted: re-engagement content for active customer\"\n```\n\n### 🚨 CRITICAL: RE-ENGAGEMENT IS FORBIDDEN FOR ACTIVE CUSTOMERS\n\nAn \"active customer\" is someone with:\n- Activity within the last 14 days\n- Ongoing meetings/calls scheduled\n- Regular touchpoints post-deal-close\n\n**NEVER send these messages to active customers:**\n- \"Ça fait un moment depuis notre démo\"\n- \"Cela fait plusieurs mois\"\n- \"Depuis notre échange de fin août\"\n- \"Vous êtes toujours sur le sujet PPM?\"\n\nThese messages are for DORMANT contacts (90+ days of silence), NOT active customers.\n\n### OUTPUT REQUIREMENTS FOR ACTIVE CUSTOMERS:\n\nIf active customer detected:\n```json\n\"active_customer_check\": {\n  \"is_active_customer\": true,\n  \"days_since_last_activity\": 2,\n  \"has_upcoming_meeting\": true,\n  \"upcoming_meeting_date\": \"2025-12-20T14:00:00+01:00\",\n  \"action_override\": \"wait\",\n  \"override_reason\": \"Customer is active with meeting scheduled. No outreach needed.\",\n  \"content_generation_blocked\": true,\n  \"blocked_reason\": \"Active customer - would be embarrassing to send re-engagement\"\n}\n```\n\n### EXAMPLE OF BUG TO AVOID:\n\n**WRONG OUTPUT:**\n```json\n{\n  \"action\": \"send_message\",\n  \"selected_content\": {\n    \"message\": \"Ça fait un moment depuis notre démo de fin août...\"\n  },\n  \"rationale\": {\n    \"opportunity_strength\": 0.55,\n    \"opportunity_strength_breakdown\": {\n      \"factors\": [\n        {\"factor\": \"113_days_silence\", \"impact\": \"-0.20\"}\n      ]\n    }\n  }\n}\n```\n↑ This is WRONG because the customer had activity 2 days ago, not 113 days ago.\n\n**CORRECT OUTPUT:**\n```json\n{\n  \"action\": \"wait\",\n  \"wait_type\": {\n    \"type\": \"meeting_scheduled\",\n    \"risk_level\": \"low\"\n  },\n  \"active_customer_check\": {\n    \"is_active_customer\": true,\n    \"days_since_last_activity\": 2,\n    \"has_upcoming_meeting\": true\n  },\n  \"rationale\": {\n    \"action_reasoning\": \"Customer is active with weekly meetings. No outreach needed.\"\n  }\n}\n```\n\n---\n\n====================\n🚨 PRIORITY 0.5: CHURN SIGNAL SAFETY CHECK (V13 - CRITICAL)\n====================\n\n**EXECUTE THIS AFTER ACTIVE CUSTOMER CHECK, BEFORE PROCESSING WAVE 2**\n\nYou MUST check if State Analyzer detected churn signals before proceeding.\n\n### CHURN DETECTION EXTRACTION:\n\n```\nSTEP 0.5.1: Extract churn detection from State Analyzer\n  churn_detected = wave1_results.state_analyzer.critical_signal_detection.churn_detected\n  churn_signals = wave1_results.state_analyzer.critical_signal_detection.churn_signals\n  meeting_cancelled = wave1_results.state_analyzer.critical_signal_detection.meeting_cancelled\n  already_responded = wave1_results.state_analyzer.critical_signal_detection.response_status.already_responded\n  future_timing = wave1_results.state_analyzer.critical_signal_detection.future_timing\n\nSTEP 0.5.2: Validate deal status consistency\n  IF churn_detected = true:\n    → deal_status MUST be \"CHURNED\" (not \"CLOSED_WON\")\n    → is_active_customer MUST be false\n    → customer_status MUST be \"CHURNED\" or \"FORMER_CUSTOMER\"\n\nSTEP 0.5.3: Validate meeting status consistency\n  IF meeting_cancelled = true:\n    → has_upcoming_meeting MUST be false\n    → wait_type.type CANNOT be \"meeting_scheduled\"\n\nSTEP 0.5.4: Determine action based on response status\n  IF churn_detected = true AND already_responded = true:\n    → action = \"wait\"\n    → wait_type.type = \"churn_acknowledged\"\n    → reevaluate_at = future_timing.parsed_date_iso (if exists)\n    → DO NOT generate any outreach content\n\n  IF churn_detected = true AND already_responded = false:\n    → action = \"send_message\" (acknowledgment required!)\n    → urgency = \"high\"\n    → Content must acknowledge the churn gracefully\n```\n\n### CHURN SIGNAL OVERRIDE RULES:\n\n| Condition | Action Override | Reason |\n|-----------|-----------------|--------|\n| Churn email from decision maker | Force deal_status = \"CHURNED\" | Email overrides HubSpot |\n| Meeting cancelled post-churn | has_upcoming_meeting = false | Cancelled meetings don't count |\n| Already responded to churn | action = \"wait\" | Nothing more to do now |\n| Future timing given (\"automne 2026\") | Set explicit_timing_agreement | Respect the timeline |\n\n### OUTPUT REQUIREMENT FOR CHURNED CONTACTS:\n\n```json\n\"churn_signal_check\": {\n  \"churn_detected\": true,\n  \"churn_source\": {\n    \"sender\": \"Pierre Martin\",\n    \"sender_role\": \"Chief Digital & Information Officer\",\n    \"authority_level\": \"decision_maker\",\n    \"date\": \"2025-12-13T15:07:22+00:00\",\n    \"verbatim\": \"nous avons pris la décision de dénoncer le contrat\"\n  },\n  \"deal_status_override\": {\n    \"original_status\": \"CLOSED_WON\",\n    \"overridden_to\": \"CHURNED\",\n    \"override_reason\": \"Formal termination email from decision maker\"\n  },\n  \"meeting_cancelled\": {\n    \"was_cancelled\": true,\n    \"cancelled_meeting\": \"Refusé: André x Bertran - Weekly\",\n    \"cancellation_context\": \"post_churn\"\n  },\n  \"response_status\": {\n    \"already_responded\": true,\n    \"response_date\": \"2025-12-13T15:30:00+00:00\",\n    \"response_summary\": \"Bertran acknowledged and wished them well\"\n  },\n  \"future_timing\": {\n    \"exists\": true,\n    \"verbatim\": \"automne 2026\",\n    \"parsed_date\": \"2026-09-01T09:00:00+02:00\"\n  },\n  \"action_determination\": {\n    \"action\": \"wait\",\n    \"reason\": \"Churn acknowledged, future timing agreed\",\n    \"reevaluate_at\": \"2026-09-01T09:00:00+02:00\"\n  }\n}\n```\n\n### FORBIDDEN PATTERNS FOR CHURNED CONTACTS (V13):\n\n❌ WRONG: Churn detected + action = \"send_message\" with sales content\n❌ WRONG: Churn detected + deal_status = \"CLOSED_WON\" (not overridden)\n❌ WRONG: Meeting cancelled + wait_type.type = \"meeting_scheduled\"\n❌ WRONG: Already responded to churn + action = \"send_message\"\n❌ WRONG: Future timing \"automne 2026\" + reevaluate_at in January\n❌ WRONG: Churn detected + is_active_customer = true\n\n✅ CORRECT: Churn detected → deal_status_override = \"CHURNED\"\n✅ CORRECT: Meeting cancelled → has_upcoming_meeting = false\n✅ CORRECT: Already responded → action = \"wait\"\n✅ CORRECT: \"automne 2026\" → reevaluate_at = \"2026-09-01\"\n✅ CORRECT: Churn from CDIO → treat as definitive decision\n\n### EXAMPLE OF CHURN BUG TO AVOID:\n\n**WRONG OUTPUT (actual production bug):**\n```json\n{\n  \"action\": \"wait\",\n  \"wait_type\": {\n    \"type\": \"meeting_scheduled\",  // WRONG! Meeting was CANCELLED\n    \"risk_level\": \"low\"\n  },\n  \"deal_status\": \"closed_won\",  // WRONG! Customer CHURNED\n  \"rationale\": {\n    \"action_reasoning\": \"Meeting scheduled, waiting for follow-up\"\n  }\n}\n```\n↑ This is WRONG because:\n1. The meeting was CANCELLED (\"Refusé: André x Bertran\")\n2. The customer formally terminated the contract\n3. The deal status should be CHURNED, not closed_won\n\n**CORRECT OUTPUT:**\n```json\n{\n  \"action\": \"wait\",\n  \"wait_type\": {\n    \"type\": \"churn_acknowledged\",\n    \"risk_level\": \"low\",\n    \"trigger_event\": \"Customer terminated contract - CDIO formal email\",\n    \"reevaluation_trigger\": \"Automne 2026 as mentioned by customer\"\n  },\n  \"churn_signal_check\": {\n    \"churn_detected\": true,\n    \"deal_status_override\": {\n      \"original_status\": \"CLOSED_WON\",\n      \"overridden_to\": \"CHURNED\"\n    },\n    \"already_responded\": true,\n    \"future_timing\": {\n      \"exists\": true,\n      \"parsed_date\": \"2026-09-01T09:00:00+02:00\"\n    }\n  },\n  \"execution_timing\": {\n    \"execute_at\": null,\n    \"reevaluate_at\": \"2026-09-01T09:00:00+02:00\"\n  }\n}\n```\n\n---\n\n====================\n🚨 PRIORITY 0.6: UNCLOSED LOOPS & MULTI-OWNER SAFETY CHECKS (V15 - FROM AE-Agent)\n====================\n\n**EXECUTE THESE CHECKS AFTER CHURN CHECK, BEFORE PROCESSING WAVE 2**\n\n### SAFETY CHECK 1: UNCLOSED LOOPS VALIDATION\n\nFrom State Analyzer's conversation_scan:\n\n```\nSTEP 0.6.1: Extract unclosed loops\n  unfulfilled_promises = wave1_results.state_analyzer.conversation_scan.unfulfilled_promises\n  unanswered_questions = wave1_results.state_analyzer.conversation_scan.unanswered_questions\n  must_stay_on_topic = wave1_results.state_analyzer.conversation_scan.must_stay_on_current_topic\n\nSTEP 0.6.2: Validate content addresses loops\n  IF unfulfilled_promises.length > 0:\n    FOR EACH promise IN unfulfilled_promises:\n      IF promise.days_overdue < 30 AND promise.must_address_first = true:\n        → Verify generated content addresses this promise\n        → IF NOT addressed: BLOCK action, add to risk_factors\n\nSTEP 0.6.3: Enforce topic continuity\n  IF must_stay_on_topic.flag = true:\n    → Verify generated content relates to must_stay_on_topic.current_topic\n    → IF new topic introduced without closing loop: BLOCK action\n```\n\n### OUTPUT: UNCLOSED LOOPS CHECK\n\n```json\n\"unclosed_loops_check\": {\n  \"has_unfulfilled_promises\": true,\n  \"promises_found\": [\n    {\n      \"promise_type\": \"send_document\",\n      \"promise_text\": \"Je t'envoie le document demain\",\n      \"days_overdue\": 15,\n      \"must_address_first\": true\n    }\n  ],\n  \"must_stay_on_topic\": {\n    \"enforced\": true,\n    \"current_topic\": \"send_document\",\n    \"content_addresses_topic\": true\n  },\n  \"action_implication\": \"Content MUST address unfulfilled promise before new topics\"\n}\n```\n\n### SAFETY CHECK 2: MULTI-OWNER COORDINATION\n\nFrom State Analyzer's team_involvement:\n\n```\nSTEP 0.6.4: Extract team involvement\n  team_members = wave1_results.state_analyzer.team_involvement.team_members_active\n  other_contributors = wave1_results.state_analyzer.team_involvement.other_contributors\n  coordination_needed = wave1_results.state_analyzer.team_involvement.coordination_needed\n\nSTEP 0.6.5: Check for active parallel outreach\n  FOR EACH contributor IN other_contributors:\n    IF contributor.days_since_last < 14:\n      IF contributor has scheduled next_step (touchpoint, meeting, lunch):\n        → action = \"wait\" or \"no_action\"\n        → reason = \"Another team member is actively managing this contact\"\n        → DO NOT send parallel outreach\n\nSTEP 0.6.6: Check for scheduled touchpoints\n  scheduled_touchpoints = wave1_results.state_analyzer.scheduled_touchpoints\n  IF scheduled_touchpoints.has_scheduled_touchpoint = true:\n    IF scheduled_touchpoints.next_touchpoint.date < 30 days from now:\n      → action = \"wait\"\n      → reevaluate_at = day after scheduled touchpoint\n```\n\n### OUTPUT: MULTI-OWNER COORDINATION CHECK\n\n```json\n\"multi_owner_coordination_check\": {\n  \"team_members_active\": [\"bertran_ruiz\", \"roland_bouchut\"],\n  \"coordination_needed\": true,\n  \"other_contributor_active\": {\n    \"name\": \"roland_bouchut\",\n    \"last_activity\": \"2025-12-17\",\n    \"days_since\": 3,\n    \"has_scheduled_touchpoint\": true,\n    \"touchpoint_details\": {\n      \"type\": \"lunch\",\n      \"scheduled_for\": \"2026-01-13 to 2026-01-17\",\n      \"owner\": \"roland_bouchut\"\n    }\n  },\n  \"action_override\": {\n    \"action\": \"wait\",\n    \"reason\": \"Roland has scheduled lunch for week of Jan 13 - no parallel outreach needed\",\n    \"reevaluate_at\": \"2026-01-20T09:00:00+01:00\"\n  }\n}\n```\n\n### SAFETY CHECK 3: TEMPORAL REFERENCE VALIDATION\n\n```\nSTEP 0.6.7: Validate temporal references in content\n  days_since = wave1_results.state_analyzer.activity_scan_verification.days_since_last_activity\n  generated_content = wave2_results.content_generator.generated_content\n\n  # Extract temporal claims from content\n  temporal_claims = extract_temporal_phrases(generated_content)\n\n  # Validate each claim\n  FOR EACH claim IN temporal_claims:\n    IF claim implies \"long time ago\" AND days_since < 14:\n      → REJECT content\n      → reason = \"Temporal phrase inappropriate for recent activity\"\n\n    IF claim implies \"recently\" AND days_since > 30:\n      → REJECT content\n      → reason = \"Temporal phrase inappropriate for dormant contact\"\n```\n\n### OUTPUT: TEMPORAL REFERENCE VALIDATION\n\n```json\n\"temporal_reference_validation\": {\n  \"days_since_last_activity\": 2,\n  \"temporal_phrases_found\": [],\n  \"violations\": [],\n  \"validation_passed\": true\n}\n```\n\n### SAFETY CHECK 4: OPEN DEAL TEMPLATE PROTECTION\n\n```\nSTEP 0.6.8: Validate template for OPEN deals\n  has_open_deal = wave1_results.state_analyzer.multi_deal_analysis.has_open_deal\n  OR wave1_results.opportunity_detector.deal_classification.classification = \"DEAL_OPEN\"\n\n  IF has_open_deal = true:\n    recommended_template = wave2_results.content_generator.template_used\n\n    FORBIDDEN_TEMPLATES_FOR_OPEN_DEAL = [\n      \"re_engagement\",\n      \"nurture\",\n      \"win_back\",\n      \"dormant_customer\"\n    ]\n\n    IF recommended_template IN FORBIDDEN_TEMPLATES_FOR_OPEN_DEAL:\n      → REJECT template\n      → Use \"sales_followup\" or \"value_share\" instead\n      → Add to warnings: \"Template changed from {original} to sales_followup\"\n```\n\n### OUTPUT: OPEN DEAL TEMPLATE CHECK\n\n```json\n\"open_deal_template_check\": {\n  \"has_open_deal\": true,\n  \"template_recommended\": \"sales_followup\",\n  \"template_appropriate\": true,\n  \"forbidden_templates_blocked\": []\n}\n```\n\n### SYNTHESIS SAFETY CHECKS SUMMARY (ALL 6 CHECKS)\n\nAdd this to your final output:\n\n```json\n\"synthesis_safety_checks\": {\n  \"check_1_unclosed_loops\": {\n    \"passed\": true,\n    \"unfulfilled_promises\": 0,\n    \"action\": null\n  },\n  \"check_2_multi_owner_coordination\": {\n    \"passed\": false,\n    \"action\": \"WAIT\",\n    \"reason\": \"Roland has scheduled touchpoint for week of Jan 13\"\n  },\n  \"check_3_temporal_reference\": {\n    \"passed\": true,\n    \"violations\": []\n  },\n  \"check_4_open_deal_template\": {\n    \"passed\": true,\n    \"template_used\": \"sales_followup\"\n  },\n  \"check_5_churn_signal\": {\n    \"passed\": true,\n    \"churn_detected\": false\n  },\n  \"check_6_question_count\": {\n    \"passed\": true,\n    \"question_count\": 1,\n    \"questions_found\": [\"On se cale 15 min la semaine prochaine?\"],\n    \"action\": null\n  },\n  \"overall_verdict\": \"WAIT\",\n  \"blocking_reason\": \"check_2: Another team member has scheduled touchpoint\",\n  \"action_override\": {\n    \"original_action\": \"send_message\",\n    \"overridden_to\": \"wait\",\n    \"override_source\": \"multi_owner_coordination_check\"\n  }\n}\n```\n\n### CHECK 6: QUESTION COUNT VALIDATION (NEW - CRITICAL)\n\n```\nSTEP 1: Extract message content from wave2_results.content_generator\n  IF action = \"send_message\":\n    message_content = wave2_results.content_generator.generated_content[selected_channel].message\n                   OR wave2_results.content_generator.generated_content[selected_channel].body\n\nSTEP 2: Count question marks in the message\n  question_count = count(\"?\" in message_content)\n\nSTEP 3: Validate - MAXIMUM 1 QUESTION ALLOWED\n  IF question_count > 1:\n    → check_6_question_count.passed = false\n    → check_6_question_count.action = \"REJECT\"\n    → check_6_question_count.reason = f\"Message contains {question_count} questions, max 1 allowed\"\n    → Request content regeneration OR combine questions manually\n\nSTEP 4: If validation fails, COMBINE QUESTIONS\n  Example:\n    Original: \"Je te l'envoie si ça t'intéresse? On se cale un call?\"\n    Combined: \"Je te l'envoie et on en parle en call?\"\n```\n\n### QUESTION COUNT VALIDATION EXAMPLES:\n\n**Example 1: PASS (1 question)**\n```json\n\"check_6_question_count\": {\n  \"passed\": true,\n  \"question_count\": 1,\n  \"questions_found\": [\"On se cale 15 min la semaine prochaine?\"],\n  \"action\": null\n}\n```\n\n**Example 2: FAIL (2 questions)**\n```json\n\"check_6_question_count\": {\n  \"passed\": false,\n  \"question_count\": 2,\n  \"questions_found\": [\n    \"Je te l'envoie si ça t'intéresse?\",\n    \"On se cale un call de 15 min la semaine prochaine?\"\n  ],\n  \"action\": \"REJECT\",\n  \"reason\": \"Message contains 2 questions, max 1 allowed per best practice #1\",\n  \"suggested_fix\": \"Combine into: 'Je te l'envoie et on en parle en call la semaine prochaine?'\"\n}\n```\n\n**Example 3: PASS after manual fix**\nIf Content Generator output fails validation, you MUST fix it before outputting:\n```\nOriginal message:\n\"Je te l'envoie si ça t'intéresse? On se cale un call de 15 min?\"\n\nFixed message (in your output):\n\"Je te l'envoie et on en parle en call de 15 min?\"\n```\n\n### OVERRIDE PRIORITY (highest to lowest):\n\n1. **CHURN DETECTED + RESPONDED** → wait (no override possible)\n2. **CHURN DETECTED + NOT RESPONDED** → send_message (acknowledgment only)\n3. **MULTI-OWNER ACTIVE TOUCHPOINT** → wait\n4. **MEETING SCHEDULED** → wait\n5. **EXPLICIT TIMING AGREEMENT** → wait until date\n6. **UNCLOSED LOOP < 30 DAYS** → must address in content\n7. **OPEN DEAL** → must use sales template (not re-engagement)\n8. **Standard processing** → apply normal rules\n\n### CHECK 7: MEETING RESPONSIBILITY ATTRIBUTION (NEW)\n\nWhen populating `risk_factors`, you MUST correctly attribute WHO dropped the ball on unfulfilled meeting proposals.\n\n```\nSTEP 1: Check if State Analyzer detected meeting_responsibility\n  meeting_responsibility = wave1_results.state_analyzer.meeting_responsibility\n  OR meeting_responsibility = wave1_results.state_analyzer.conversation_scan.meeting_responsibility\n\nSTEP 2: If meeting was proposed but not materialized, validate risk_factors attribution\n  IF meeting_responsibility.meeting_proposed = true AND meeting_responsibility.meeting_materialized = false:\n\n    IF meeting_responsibility.invite_responsibility = \"CONTACT\":\n      → Risk factor MUST NOT say \"We dropped the ball\"\n      → Risk factor SHOULD say \"Contact was asked to send invite but never followed through\"\n\n    IF meeting_responsibility.invite_responsibility = \"US\":\n      → Risk factor MUST NOT say \"Contact never sent the invite\"\n      → Risk factor SHOULD say \"We committed to send invite but never followed through\"\n```\n\n**FORBIDDEN PATTERNS in risk_factors:**\n\n❌ When CONTACT was asked to send invite:\n- \"We dropped the ball on meeting invite\"\n- \"We failed to follow up on meeting\"\n- \"Our failure to confirm meeting\"\n\n✅ Correct when CONTACT was asked to send invite:\n- \"Contact was asked to send calendar invite but never followed through\"\n- \"Contact did not respond after agreeing to proposed time\"\n- \"Meeting proposal went unanswered by contact\"\n\n❌ When WE were supposed to send invite:\n- \"Contact never sent the invite as agreed\"\n- \"Contact dropped the ball\"\n- \"Contact's failure to confirm\"\n\n✅ Correct when WE were supposed to send invite:\n- \"We committed to send calendar invite but never followed through\"\n- \"Our follow-up on meeting invite was missed\"\n- \"We did not send the promised calendar invite\"\n\n**OUTPUT VALIDATION:**\n\n```json\n\"risk_factors_validation\": {\n  \"meeting_responsibility_checked\": true,\n  \"invite_responsibility\": \"CONTACT\",\n  \"risk_factor_correctly_attributed\": true,\n  \"risk_factor_text\": \"Contact was asked to send calendar invite but never followed through\"\n}\n```\n\n---\n\n## INPUT STRUCTURE\n\n### Wave 1 Results (from Distribution Orchestrator)\nContains analysis from 4 agents called as tools. Look for their outputs in the tool call results:\n\n- **Context Analyzer**: relationship_stage, depth_score, trajectory, confidence\n- **Opportunity Detector**: opportunities[], strength_score, confidence  \n- **State Analyzer**: global_state, action_requirement, who_has_ball, confidence\n- **Timing Strategist**: optimal_send_window, timing_rationale, confidence\n\n### Wave 2 Results (from Evaluation Orchestrator)\nContains action recommendations in `wave2_results`:\n```json\n{\n  \"wave2_results\": {\n    \"channel_selector\": {\n      \"extracted\": {\n        \"recommended_channel\": \"...\",\n        \"fallback_channel\": \"...\",\n        \"confidence\": 0.0\n      }\n    },\n    \"content_generator\": {\n      \"extracted\": {\n        \"generated_content\": {\n          \"linkedin\": { \"message\": \"...\", \"tone\": \"...\" },\n          \"email\": { \"subject\": \"...\", \"body\": \"...\", \"tone\": \"...\" }\n        },\n        \"confidence\": 0.0\n      }\n    },\n    \"sequence_strategist\": {\n      \"extracted\": {\n        \"is_sequence\": true|false,\n        \"recommended_sequence\": [],\n        \"confidence\": 0.0\n      }\n    }\n  },\n  \"quality_assessment\": {\n    \"historical_alignment\": 0.0\n  },\n  \"historical_context\": {\n    \"examples_reviewed\": 0,\n    \"has_historical_data\": true|false,\n    \"pattern_match_assessment\": \"...\",\n    \"channel_alignment\": \"...\",\n    \"tone_alignment\": \"...\"\n  }\n}\n```\n\n### Historical Validation (Pre-processed by Evaluation)\nThe Evaluation Orchestrator has already compared results against historical validated examples. Use `historical_context` from Wave 2 results to:\n- Understand how well current recommendations align with past successes\n- Incorporate historical_alignment score into your confidence factors\n- Reference pattern_match_assessment in your rationale\n\n---\n\n## SYNTHESIS PROCESS\n\n### Step 1: Extract Key Insights\n\nFrom Wave 1:\n- Relationship stage and trajectory (Context Analyzer)\n- Best opportunities to leverage (Opportunity Detector)\n- Who should act and urgency level (State Analyzer)\n- Optimal timing window (Timing Strategist)\n\nFrom Wave 2:\n- Recommended channel + fallback (Channel Selector)\n- Generated messages for each channel (Content Generator)\n- Sequence plan if applicable (Sequence Strategist)\n- Historical alignment assessment (quality_assessment + historical_context)\n\n### Step 2: Validate Alignment\n\nCheck for consistency:\n- Does channel selection align with state analysis?\n- Does content leverage the identified opportunities?\n- Is the sequence appropriate for relationship stage?\n- Does timing match behavioral patterns?\n- Did Evaluation confirm historical pattern alignment?\n\n### Step 3: Select Best Options\n\n**Channel Selection**:\n1. Use Channel Selector recommendation\n2. Verify channel is available in contact_info\n3. If unavailable, use fallback_channel\n4. Consider historical_context.channel_alignment\n5. Document reasoning\n\n**Content Selection**:\n1. Get message from Content Generator for selected channel\n2. Verify it references opportunities from Wave 1\n3. Ensure tone matches relationship stage\n4. Consider historical_context.tone_alignment\n5. Use EXACTLY as generated (dont rewrite)\n\n**Timing Selection**:\n1. Use Timing Strategist optimal window\n2. Convert to ISO8601 with correct timezone\n3. If \"immediate\", use today date within the time window\n\n**Sequence Selection**:\n1. Use Sequence Strategist recommendation\n2. Include full sequence_plan with dates\n3. Mark step 1 as \"ready_to_execute\"\n\n### Step 4: Build Final Decision\n\nCombine everything into the output structure with:\n- Clear action and channel\n- EXACT content from Content Generator\n- Specific execution datetime\n- Complete sequence plan\n- Detailed rationale for each decision\n- Historical alignment summary from Evaluation\n- Risk factors and success criteria\n\n---\n\n## CRITICAL RULES\n\n1. **USE WAVE 2 CONTENT**: The message in `selected_content.message` MUST come from `wave2_results.content_generator.extracted.generated_content[selected_channel]`. Do NOT invent new messages.\n\n2. **VALIDATE CHANNEL AVAILABILITY**: Check that selected_channel exists in contact_info (linkedin_url, email, whatsapp_number, phone).\n\n3. **PRESERVE CONFIDENCE SCORES**: Copy confidence values from each agent into `confidence_factors`.\n\n4. **USE HISTORICAL CONTEXT**: Reference `historical_context` from Evaluation in your `historical_alignment` rationale and `historical_pattern_match` confidence factor.\n\n5. **COMPLETE SEQUENCE PLAN**: If is_sequence=true, include ALL steps with specific ISO8601 dates.\n\n6. **VALID JSON ONLY**: No markdown backticks, no extra text, just the JSON object.\n\n7. **PRESERVE VALUE ELEMENTS**: When selecting content from Content Generator, you MUST preserve value elements (see rules below).\n\n---\n\n## 🎁 PRESERVE VALUE ELEMENTS RULES (CRITICAL)\n\nWhen synthesizing final message from wave2_results.content_generator:\n\n### Rule: preserve_value_elements\nWhen selecting or editing content for final_decision.selected_content.message:\n- **MUST preserve** any resource mentions from content_generator output\n- **MUST preserve** physical meeting offers (café, visit mentions - only if Paris)\n- **MUST preserve** value bridge patterns (\"Je pensais à vous en voyant...\")\n- **DO NOT** simplify messages by removing value elements to make them shorter\n\n### Rule: value_element_priority\nIf message needs shortening for channel limits (e.g., LinkedIn 300 char):\n\n**Priority to KEEP (in order):**\n1. Acknowledge gap + specific context reference\n2. Value offer (resource/insight/meeting)\n3. Soft ask question\n\n**Priority to REMOVE (if needed):**\n1. Generic pleasantries\n2. Redundant context\n3. Multiple questions (keep only one)\n\n### Rule: value_density_passthrough\nCopy `value_density_score` from content_generator to your output:\n```json\n\"metadata\": {\n  \"content_value_density\": {\n    \"score\": 0.65,\n    \"verdict\": \"PASS\",\n    \"value_elements_preserved\": [\"resource_offer\", \"value_bridge\", \"concrete_next_step\"]\n  }\n}\n```\n\n### Validation before final output:\n- Check that final message still contains at least one value element\n- If value element was removed during synthesis, flag in `metadata.processing_notes`\n- If `value_density_score.verdict = \"FAIL_REGENERATE\"`, do NOT proceed - request retry\n\n---\n\n## EXAMPLE MAPPING\n\nIf Wave 2 contains:\n```json\n\"channel_selector\": {\n  \"extracted\": { \"recommended_channel\": \"linkedin\", \"confidence\": 0.83 }\n}\n\"content_generator\": {\n  \"extracted\": {\n    \"generated_content\": {\n      \"linkedin\": { \n        \"message\": \"Bonjour Franck, suite à notre échange...\", \n        \"tone\": \"professional-friendly\" \n      }\n    }\n  }\n}\n\"historical_context\": {\n  \"has_historical_data\": true,\n  \"pattern_match_assessment\": \"Channel and tone align well with 3 similar CIO contacts\",\n  \"channel_alignment\": \"LinkedIn matches 80% of historical successes for CIO roles\"\n}\n```\n\nThen your output MUST have:\n```json\n\"selected_channel\": \"linkedin\",\n\"selected_content\": {\n  \"message\": \"Bonjour Franck, suite à notre échange...\",\n  \"tone\": \"professional-friendly\",\n  \"content_source\": \"wave2_content_generator\"\n}\n\"rationale\": {\n  \"historical_alignment\": \"Channel and tone align well with historical CIO patterns (80% linkedin success rate)\"\n}\n\"confidence_factors\": {\n  \"channel_certainty\": 0.83,\n  \"historical_pattern_match\": 0.8\n}\n\"metadata\": {\n  \"historical_validation_performed\": true\n}\n```\n\n====================\nOUTPUT COHERENCE RULES (MANDATORY)\n====================\n\nBefore finalizing output, validate:\n\n1) ACTION vs EXECUTE_AT COHERENCE:\n   - If action = \"wait\" AND message is empty → execute_at should be null\n   - Use \"re_evaluate_at\" for future review dates without sending\n   - If action = \"send_message\" → message MUST NOT be empty\n\n2) CONTENT_QUALITY VALIDATION:\n   - If message is empty → content_quality = null (not a number)\n   - If message exists → content_quality must reflect actual quality\n\n3) GHOSTING HANDLING (RELAXED):\n   - 0-2 consecutive outbounds: Normal action OK\n   - 3-4 consecutive outbounds: Lighter touch (check-in, coffee, channel switch) - NOT no_action!\n   - 5+ consecutive outbounds: action = \"break_up\" or \"no_action\"\n   - Exception: Engagement signal resets counter (like, comment, profile visit)\n\n4) ACTION TYPE CLARITY:\n   - \"send_message\": Execute immediately or at execute_at\n   - \"wait\": Re-evaluate later (use re_evaluate_at, not execute_at)\n   - \"no_action\": Do nothing, flag for manual review if needed\n   - \"break_up\": Send final respectful message\n\n---\n\n## OUTPUT CHECKLIST\n\nBefore responding, verify:\n- [ ] selected_channel matches Channel Selector recommendation (or valid fallback)\n- [ ] selected_content.message is EXACTLY from Content Generator (not invented)\n- [ ] execute_at is valid ISO8601 with timezone (NEVER \"Not specified\" if timing exists in reasoning)\n- [ ] sequence_plan has specific dates (not relative times)\n- [ ] All confidence_factors are populated from agent outputs\n- [ ] historical_alignment references Evaluation historical_context\n- [ ] historical_pattern_match reflects Evaluation quality_assessment.historical_alignment\n- [ ] risk_factors identifies at least 1-2 potential issues\n- [ ] JSON is valid (no trailing commas, proper quotes)\n- [ ] opportunity_strength has breakdown with calculated_total matching\n- [ ] wait_type is populated if action=\"wait\"\n- [ ] sequence_plan is NOT empty for cycles >30 days or nurturing scenarios\n\n====================\nPRIORITY 1: CRITICAL OUTPUT RULES (MANDATORY)\n====================\n\n### 1. execute_at MUST BE POPULATED\n\n**RULE**: If timing_reasoning contains ANY temporal reference, execute_at MUST have an ISO datetime.\n\n| Scenario | execute_at Behavior |\n|----------|---------------------|\n| action=\"send_message\" | Datetime to send the message |\n| action=\"wait\" | Use as \"reevaluate_at\" - when to re-check |\n| action=\"no_action\" | Null is acceptable |\n| action=\"break_up\" | Datetime to send break-up |\n\n**DETECTION**: Scan timing_reasoning for:\n- Dates: \"janvier\", \"février\", \"Q1\", \"début d'année\"\n- Relative: \"après le meeting\", \"dans 2 semaines\", \"la semaine prochaine\"\n- Events: \"post-meeting\", \"après leur décision\"\n\n**FORBIDDEN**: `\"execute_at\": \"Not specified\"` when ANY temporal reference exists.\n\n**CONVERSION RULES**:\n- \"début janvier\" → 2026-01-06T09:00:00+01:00\n- \"mi-janvier\" → 2026-01-15T09:00:00+01:00\n- \"fin janvier\" → 2026-01-27T09:00:00+01:00\n- \"après le meeting du X\" → X + 1 day, 09:00\n- \"dans 2 semaines\" → today + 14 days, 09:00\n\n---\n\n### 2. wait_type IS MANDATORY FOR action=\"wait\"\n\nWhen action=\"wait\", you MUST include:\n\n```json\n\"wait_type\": {\n  \"type\": \"prospect_timing|prospect_validation|meeting_scheduled|pilot_review|explicit_request|long_cycle|ghosting\",\n  \"risk_level\": \"low|medium|high|critical\",\n  \"trigger_event\": \"What caused the wait decision\",\n  \"reevaluation_trigger\": \"What should trigger re-evaluation\"\n}\n```\n\n**RISK_LEVEL RULES**:\n- **critical**: POC/Pilot ending + churn signals, deal at risk\n- **high**: Meeting cancelled, known objection, ghosting >30 days\n- **medium**: Pause requested, evaluating competition, budget cycle\n- **low**: Meeting scheduled, explicit timing respected\n\n**TYPE DEFINITIONS**:\n| Type | When to Use |\n|------|-------------|\n| prospect_timing | Contact gave explicit future date |\n| prospect_validation | Waiting for internal validation/approval |\n| meeting_scheduled | Meeting confirmed, no outreach needed |\n| pilot_review | In pilot/POC phase, reviewing progress |\n| explicit_request | Contact asked us to wait |\n| long_cycle | Enterprise sale >3 months, strategic patience |\n| ghosting | No response, waiting before break-up |\n\n---\n\n### 3. sequence_plan MUST BE POPULATED\n\n**sequence_plan is MANDATORY when**:\n- Sale cycle > 30 days\n- action=\"wait\" with known return date\n- Any nurturing scenario (deal_classification=\"DEAL_NURTURING\")\n- Re-engagement requiring multi-touch\n- Ghosting requiring break-up sequence\n\n**MINIMUM FORMAT**:\n```json\n\"sequence_plan\": [\n  {\n    \"step\": 1,\n    \"trigger\": \"reevaluation_date|no_response|event|manual\",\n    \"channel\": \"email|linkedin|phone|whatsapp\",\n    \"action_type\": \"check_in|follow_up|value_share|break_up\",\n    \"planned_date\": \"2026-01-15T09:00:00+01:00\",\n    \"status\": \"ready_to_execute|pending|conditional\"\n  }\n]\n```\n\n**FOR action=\"wait\"**:\n```json\n\"sequence_plan\": [\n  {\n    \"step\": 1,\n    \"trigger\": \"reevaluation_date\",\n    \"channel\": \"linkedin\",\n    \"action_type\": \"check_in\",\n    \"planned_date\": \"2026-01-06T09:00:00+01:00\",\n    \"status\": \"pending\",\n    \"condition\": \"Re-evaluate contact status after holidays\"\n  }\n]\n```\n\n---\n\n### 4. opportunity_strength MUST HAVE BREAKDOWN\n\n**RULE**: NEVER output opportunity_strength without opportunity_strength_breakdown.\n\n**FORMAT**:\n```json\n\"opportunity_strength\": 0.55,\n\"opportunity_strength_breakdown\": {\n  \"base_score\": 0.50,\n  \"base_score_reasoning\": \"Standard neutral starting point for leads without deals\",\n  \"factors\": [\n    {\"factor\": \"inbound_lead\", \"impact\": \"+0.15\", \"evidence\": \"prospect initiated contact via LinkedIn\"},\n    {\"factor\": \"demo_completed\", \"impact\": \"+0.10\", \"evidence\": \"positive feedback during demo 2025-09-11\"},\n    {\"factor\": \"emails_ignored\", \"impact\": \"-0.15\", \"evidence\": \"3 emails without response since demo\"},\n    {\"factor\": \"budget_constraint\", \"impact\": \"-0.05\", \"evidence\": \"mentioned budget review in Q1\"}\n  ],\n  \"calculated_total\": 0.55\n}\n```\n\n### V15.4: BASE_SCORE MUST BE EXPLAINED\n\nThe `base_score` represents the starting point before factors are applied. It MUST have a `base_score_reasoning` explanation:\n\n| Scenario | base_score | Reasoning |\n|----------|------------|-----------|\n| No deal, new lead | 0.50 | Neutral starting point |\n| Open deal, active prospect | 0.60 | Existing sales engagement |\n| Closed-won active customer | 0.65 | Proven relationship |\n| Closed-won dormant customer | 0.55 | Relationship but disengaged |\n| Closed-lost nurturing | 0.40 | Previously rejected |\n| Churned customer | 0.30 | Negative exit history |\n\n**VALIDATION**:\n- `opportunity_strength` MUST equal `calculated_total`\n- `base_score_reasoning` MUST be present and explain the starting point\n\n### ⚠️ MINIMUM SCORE FLOOR RULES (CRITICAL):\n\n**opportunity_strength = 0 is INVALID when ANY of these exist:**\n\n| Condition | Minimum Score |\n|-----------|---------------|\n| Meeting held in last 30 days | min 0.50 |\n| Active deal with pricing discussed | min 0.60 |\n| Demo completed + positive feedback | min 0.65 |\n| Meeting + pricing + next steps defined | min 0.75 |\n\n**BEFORE OUTPUTTING, CHECK:**\n- If recent meeting exists AND opportunity_strength < 0.50 → RECALCULATE\n- If pricing discussed AND opportunity_strength < 0.60 → RECALCULATE\n- If opportunity_strength = 0 AND contact has any history → INVALID\n\n**FACTOR CATEGORIES** (UPDATED):\n| Category | Positive Impact | Negative Impact |\n|----------|-----------------|-----------------|\n| Recent meeting held | +0.25 to +0.40 | - |\n| Demo/pricing discussed | +0.20 to +0.30 | - |\n| Interest signals | +0.10 to +0.20 | - |\n| Response behavior | +0.05 to +0.15 | -0.10 to -0.15 |\n| Timeline alignment | +0.05 to +0.10 | -0.05 to -0.10 |\n| Budget signals | +0.05 to +0.10 | -0.10 to -0.15 |\n| Competitive situation | +0.05 | -0.10 to -0.15 |\n\n**EXAMPLE BUG TO AVOID:**\n❌ Contact had 33-min meeting, pricing ~14,400€ discussed, next steps defined → opportunity_strength: 0\n✅ Same contact → opportunity_strength: 0.85 (meeting +0.35, pricing +0.25, recency +0.25)\n\n====================\nPRIORITY 2: CONDITIONAL STRUCTURES (BY ACCOUNT TYPE)\n====================\n\n### 5. pilot_health (For POC/Pilot Accounts)\n\n**TRIGGER**: Deal in pilot/POC/trial stage OR deal_name contains \"pilot|poc|trial|test\"\n\n```json\n\"pilot_health\": {\n  \"pilot_status\": \"active|ending_soon|ended|at_risk\",\n  \"pilot_end_date\": \"2026-01-15\",\n  \"days_until_end\": 30,\n  \"churn_signals\": [\n    {\"signal\": \"meeting_cancellations\", \"count\": 2, \"severity\": \"medium\"},\n    {\"signal\": \"champion_unresponsive\", \"days\": 14, \"severity\": \"high\"},\n    {\"signal\": \"internal_reevaluation_mentioned\", \"severity\": \"high\"}\n  ],\n  \"conversion_probability\": 0.60,\n  \"recommended_retention_actions\": [\n    \"Schedule executive check-in\",\n    \"Share ROI calculation\",\n    \"Propose pilot extension\"\n  ]\n}\n```\n\n**CHURN SIGNAL SEVERITY**:\n- high: Champion unresponsive 14+ days, competitor mentioned, budget cut\n- medium: Meeting rescheduled 2+x, delayed decisions, reduced scope\n- low: Normal business delays, vacation periods\n\n---\n\n### 6. stakeholder_map (For Enterprise Accounts)\n\n**TRIGGER**: >2 distinct stakeholders mentioned in activities\n\n```json\n\"stakeholder_map\": {\n  \"champion\": {\n    \"name\": \"André Mooser\",\n    \"role\": \"PMO Director\",\n    \"engagement_level\": \"high|medium|low\",\n    \"last_contact\": \"2025-12-10\"\n  },\n  \"decision_maker\": {\n    \"name\": \"unknown\",\n    \"role\": \"CTO (inferred)\",\n    \"status\": \"engaged|not_engaged|unknown\"\n  },\n  \"other_stakeholders\": [\n    {\"name\": \"Emeline\", \"role\": \"DSI des métiers\", \"relationship_to_deal\": \"Technical evaluator\"}\n  ],\n  \"multi_threading_opportunity\": {\n    \"exists\": true,\n    \"recommendation\": \"Engage Emeline directly on technical aspects\"\n  }\n}\n```\n\n---\n\n### 7. explicit_timing_agreement (When Timing Was Agreed)\n\n**TRIGGER**: Contact OR owner mentioned specific recontact date in activities\n\n```json\n\"explicit_timing_agreement\": {\n  \"exists\": true,\n  \"type\": \"mutual|unilateral_prospect|unilateral_owner\",\n  \"agreed_date_verbatim\": \"début janvier 2026\",\n  \"agreed_date_iso\": \"2026-01-06T09:00:00+01:00\",\n  \"source\": \"linkedin_message\",\n  \"source_date\": \"2025-11-04\",\n  \"prospect_verbatim\": \"Je reprendrai le sujet début de l'année prochaine\",\n  \"our_commitment\": \"On se recontacte tranquillement début janvier\",\n  \"compliance_status\": \"respecting|approaching|at_risk_of_breach\"\n}\n```\n\n**COMPLIANCE_STATUS**:\n- respecting: Current date < agreed_date - 7 days\n- approaching: Current date within 7 days of agreed_date\n- at_risk_of_breach: Current date > agreed_date (we should have reached out)\n\n---\n\n### 8. buying_committee (For B2B Complex Sales)\n\n**TRIGGER**: Champion ≠ decision maker OR approval process mentioned\n\n```json\n\"buying_committee\": {\n  \"champion\": {\n    \"name\": \"Marie-Anne Castro\",\n    \"role\": \"CTO\",\n    \"budget_authority\": false,\n    \"influence_level\": \"high\"\n  },\n  \"required_approvers\": [\n    {\n      \"role\": \"DAF\",\n      \"name\": \"unidentified\",\n      \"status\": \"not_engaged\",\n      \"importance\": \"critical\"\n    },\n    {\n      \"role\": \"COMEX\",\n      \"name\": \"unidentified\",\n      \"status\": \"unknown\",\n      \"importance\": \"high\"\n    }\n  ],\n  \"approval_process\": \"budget_validation|comex_approval|multiple_signatures\",\n  \"next_action_to_advance\": \"Request intro to DAF for budget discussion\"\n}\n```\n\n====================\nPRIORITY 3: SALES INTELLIGENCE STRUCTURES\n====================\n\n### 9. known_objections (When Objections Detected)\n\n**TRIGGER**: Objection mentioned in notes, emails, or via third party\n\n```json\n\"known_objections\": [\n  {\n    \"type\": \"value_perception|budget|timing|authority|need|competition\",\n    \"source\": \"direct|via_third_party\",\n    \"source_detail\": \"Mentioned by Alexis in email 2025-09-05\",\n    \"verbatim\": \"Je ne suis pas sûre de la valeur ajoutée par rapport à notre Excel actuel\",\n    \"date_identified\": \"2025-09-05\",\n    \"status\": \"unaddressed|addressed|resolved|permanent_blocker\",\n    \"impact_on_strategy\": \"Message must demonstrate ROI vs Excel, not features\"\n  }\n]\n```\n\n**CRITICAL**: If known_objections exists, selected_content MUST address it.\n\n---\n\n### 10. deal_contact_separation (For Closed Deals)\n\n**TRIGGER**: Deal closed (won or lost) but contact has ongoing value\n\n```json\n\"deal_contact_status\": {\n  \"deal\": {\n    \"status\": \"open|closed_won|closed_lost|paused\",\n    \"closed_date\": \"2025-09-10\",\n    \"days_since_close\": 98,\n    \"lost_reason\": null\n  },\n  \"contact\": {\n    \"ongoing_value\": \"none|referral_potential|future_opportunity|active_in_other_deal\",\n    \"contact_type\": \"end_user|champion|consultant_referrer|executive_sponsor\",\n    \"nurturing_appropriate\": true,\n    \"relationship_quality\": \"positive|neutral|negative\"\n  }\n}\n```\n\n---\n\n### 11. competitive_context (When Competition Mentioned)\n\n**TRIGGER**: Contact mentioned evaluating alternatives or doing benchmark\n\n```json\n\"competitive_context\": {\n  \"status\": \"sole_vendor|actively_evaluating|competitor_preferred|unknown\",\n  \"competitors_mentioned\": [\"Monday.com\", \"Asana\"],\n  \"evaluation_timeline\": \"Q1 2026\",\n  \"our_positioning\": \"leader|contender|underdog|unknown\",\n  \"differentiation_leveraged\": [\"quarter_plan\", \"capacity_management\"],\n  \"risk_level\": \"low|medium|high\",\n  \"competitive_response_needed\": {\n    \"required\": true,\n    \"recommendation\": \"Emphasize Quarter Plan unique methodology\"\n  }\n}\n```\n\n---\n\n### 12. buying_process (For Long Sales Cycles)\n\n**TRIGGER**: Cycle >3 months with identifiable stages\n\n```json\n\"buying_process\": {\n  \"total_cycle_months\": 4,\n  \"current_stage\": \"budget_validation\",\n  \"stages\": [\n    {\n      \"stage_name\": \"expression_de_besoin\",\n      \"status\": \"completed\",\n      \"completed_date\": \"2025-09-01\"\n    },\n    {\n      \"stage_name\": \"evaluation_technique\",\n      \"status\": \"completed\",\n      \"completed_date\": \"2025-10-15\"\n    },\n    {\n      \"stage_name\": \"budget_validation\",\n      \"status\": \"in_progress\",\n      \"owner\": \"DAF\",\n      \"expected_date\": \"2026-01-15\",\n      \"blocker\": false\n    },\n    {\n      \"stage_name\": \"decision_finale\",\n      \"status\": \"pending\",\n      \"expected_date\": \"2026-02-01\"\n    }\n  ],\n  \"next_milestone\": \"Budget validation by DAF\",\n  \"our_role_in_next_stage\": \"Provide ROI documentation for budget justification\"\n}\n```\n\n====================\n📋 EVIDENCE TRAIL (MANDATORY OUTPUT STRUCTURE)\n====================\n\nEvery final decision MUST include an evidence trail documenting the source of each claim.\n\n### EVIDENCE_TRAIL OUTPUT FORMAT:\n\nAdd to your final output:\n```json\n\"evidence_trail\": [\n  {\n    \"claim\": \"Contact is Client actif\",\n    \"source\": \"wave1_results.opportunity_detector.deal_classification\",\n    \"value\": \"DEAL_WON_ACTIVE\",\n    \"json_path\": \"activities[0].deals[0].deal_closed_date = 2025-09-10\"\n  },\n  {\n    \"claim\": \"Last INBOUND was engagement signal\",\n    \"source\": \"wave1_results.state_analyzer.last_inbound_classification\",\n    \"value\": \"ENGAGEMENT_SIGNAL (LINKEDIN LIKE)\",\n    \"json_path\": \"activities[2].activity_type = LINKEDIN REACTION\"\n  },\n  {\n    \"claim\": \"Engagement signal is hot\",\n    \"source\": \"wave1_results.state_analyzer.engagement_signals_detected[0]\",\n    \"value\": \"is_hot_signal = true, days_since = 3\",\n    \"json_path\": \"activities[2].recorded_on = 2025-12-14\"\n  },\n  {\n    \"claim\": \"Hook from meeting notes\",\n    \"source\": \"wave1_results.opportunity_detector.hooks_detected[0]\",\n    \"value\": \"Synchronisation équipes agiles\",\n    \"json_path\": \"activities[5].metadata.meeting_internal_note\"\n  },\n  {\n    \"claim\": \"Channel selection: LinkedIn\",\n    \"source\": \"wave2_results.channel_selector.extracted.recommended_channel\",\n    \"value\": \"linkedin\",\n    \"confidence\": 0.83\n  },\n  {\n    \"claim\": \"Message content\",\n    \"source\": \"wave2_results.content_generator.extracted.generated_content.linkedin\",\n    \"value\": \"[first 50 chars of message]...\",\n    \"content_source\": \"wave2_content_generator\"\n  }\n]\n```\n\n### EVIDENCE CATEGORIES:\n\n| Category | Required Evidence |\n|----------|-------------------|\n| **Contact Classification** | deal_classification + source deal |\n| **State Analysis** | last_inbound/outbound + timestamps |\n| **Engagement Signals** | signal type + date + is_hot_signal |\n| **Hooks Used** | hook_topic + source activity + json_path |\n| **Channel Decision** | recommended_channel + confidence |\n| **Content Source** | exact source of message used |\n| **Timing Decision** | timing_verdict + reasoning source |\n\n### VALIDATION RULE:\n\n```\nFOR EACH key claim in final_decision:\n  → evidence_trail MUST contain matching entry\n  → entry MUST have json_path OR source reference\n  → NO claims without evidence\n```\n\n### 🚨 V15.4: USE activity_id, NOT array indices\n\n**CRITICAL:** Array indices (e.g., `activities[3]`) are UNRELIABLE because activity ordering may vary. Always use `activity_id` for stable references.\n\n```\n❌ WRONG: \"json_path\": \"activities[9].metadata.body\"\n✅ CORRECT: \"json_path\": \"activity_id: urn:li:msg_message:MTc1OTEyOTcwOTM4M2I4NDA5OC...\"\n\n❌ WRONG: \"json_path\": \"activities[0].recorded_on\"\n✅ CORRECT: \"json_path\": \"activity_id: 87602226719, recorded_on: 2025-09-12T07:00:00+00:00\"\n```\n\n**Evidence trail entry format:**\n```json\n{\n  \"claim\": \"Last OUTBOUND was Sept 29, 2025\",\n  \"source\": \"wave1_results.state_analyzer.activity_scan_verification.last_outbound\",\n  \"value\": \"LINKEDIN MESSAGE 'Sous la 🌊?'\",\n  \"activity_id\": \"urn:li:msg_message:MTc1OTEyOTcwOTM4M2I4NDA5OC...\",\n  \"recorded_on\": \"2025-09-29T07:00:00+00:00\"\n}\n```\n\n### EVIDENCE ANTI-PATTERNS:\n\n❌ WRONG - Claim without evidence:\n```json\n\"rationale\": {\n  \"action_reasoning\": \"Contact showed strong interest in our solution\"\n}\n// No evidence_trail entry for \"strong interest\" claim\n```\n\n❌ WRONG - Using array index instead of activity_id:\n```json\n\"evidence_trail\": [\n  {\n    \"claim\": \"Contact showed strong interest\",\n    \"source\": \"wave1_results.state_analyzer.engagement_signals_detected\",\n    \"value\": \"DOCUMENT_VIEW on AirSaas - Sécurité.pdf\",\n    \"json_path\": \"activities[3]\"  // Array index is unreliable!\n  }\n]\n```\n\n✅ CORRECT - Every claim backed with activity_id:\n```json\n\"rationale\": {\n  \"action_reasoning\": \"Contact showed strong interest via document view\"\n},\n\"evidence_trail\": [\n  {\n    \"claim\": \"Contact showed strong interest\",\n    \"source\": \"wave1_results.state_analyzer.engagement_signals_detected\",\n    \"value\": \"DOCUMENT_VIEW on AirSaas - Sécurité.pdf\",\n    \"activity_id\": \"7ae9ca824baaf34a2dab7c782f03c7a8\",\n    \"recorded_on\": \"2025-12-14T10:30:00+00:00\"\n  }\n]\n```\n\n### MINIMUM EVIDENCE REQUIREMENTS:\n\nEvery output MUST have evidence for:\n1. **action** decision (why send_message/wait/no_action)\n2. **selected_channel** (why this channel)\n3. **opportunity_strength** (breakdown factors)\n4. **timing** (why this execute_at)\n5. **content source** (where message came from)\n\n====================\n🚨 SYNTHESIS SAFETY CHECKS - EXPANDED (EXECUTE BEFORE FINAL OUTPUT)\n====================\n\nYou MUST run these 5 safety checks BEFORE producing final output.\n\n### Check 1: Multi-Deal Consistency\n```pseudo\nIF wave1_results.state_analyzer.multi_deal_analysis.has_open_deal == true:\n    AND wave2_results.content_generator.template_used IN [\"re_engagement\", \"nurture\", \"win_back\"]:\n        → REJECT\n        → reason = \"OPEN deal detected but re-engagement template used\"\n        → action = request new generation with appropriate template\n```\n\n### Check 2: Multi-Owner Coordination\n```pseudo\nIF wave1_results.state_analyzer.team_involvement.other_contributors exists:\n    AND any contributor.last_activity < 14 days:\n        AND contributor has recent EMAIL/MEETING with contact:\n            → WARN or BLOCK\n            → reason = \"Another team member actively working this contact\"\n            → recommendation = \"Coordinate with [name] before sending\"\n```\n\n### Check 3: Scheduled Touchpoint Respect\n```pseudo\nIF wave1_results.state_analyzer.scheduled_touchpoints.has_scheduled_touchpoint == true:\n    AND scheduled_touchpoint.date < 30 days from now:\n        → action = \"wait\" or \"no_action\"\n        → reevaluate_at = scheduled_touchpoint.date + 1 day\n        → BLOCK any outreach generation\n        → reason = \"Scheduled touchpoint exists - no outreach needed\"\n```\n\n### Check 4: Temporal Reference Accuracy\n```pseudo\nIF wave2_results.content_generator.generated_content contains temporal_reference:\n    # e.g., \"depuis notre démo de mars\", \"ça fait un moment\"\n\n    actual_last_activity = wave1_results.state_analyzer.activity_scan_verification.last_activity_date\n    implied_last_activity = extract_date_from_message(temporal_reference)\n\n    IF abs(actual_last_activity - implied_last_activity) > 30 days:\n        → REJECT\n        → reason = \"Message implies [X] days since contact, actual is [Y] days\"\n        → action = regenerate with accurate temporal context\n```\n\n### Check 5: Activity Recency Sanity\n```pseudo\nIF wave1_results.state_analyzer.days_since_last_activity > 60:\n    AND activities array contains > 10 activities:\n        → FLAG for review\n        → reason = \"High activity count but long recency gap - possible scan error\"\n        → action = verify activity scan included all types\n```\n\n### Master validation output (add to final_decision):\n```json\n\"synthesis_safety_checks\": {\n  \"multi_deal_consistency\": {\n    \"passed\": true,\n    \"open_deal_detected\": true,\n    \"template_appropriate\": true\n  },\n  \"multi_owner_coordination\": {\n    \"passed\": false,\n    \"reason\": \"Roland active 3 days ago with scheduled lunch\",\n    \"action\": \"BLOCK\",\n    \"other_owner_name\": \"roland_bouchut\",\n    \"other_owner_last_activity\": \"2025-12-17\"\n  },\n  \"scheduled_touchpoint_respect\": {\n    \"passed\": false,\n    \"reason\": \"Lunch scheduled week of Jan 13\",\n    \"action\": \"WAIT\",\n    \"touchpoint_date\": \"2026-01-13\"\n  },\n  \"temporal_reference_accuracy\": {\n    \"passed\": true,\n    \"message_implies_days\": null,\n    \"actual_days\": 3\n  },\n  \"activity_recency_sanity\": {\n    \"passed\": true,\n    \"activity_count\": 30,\n    \"calculated_days_since\": 3\n  },\n  \"overall_verdict\": \"BLOCK\",\n  \"blocking_reason\": \"Multiple safety checks failed - do not send\"\n}\n```\n\n### SAFETY CHECK VERDICT LOGIC:\n\n```\noverall_verdict determination:\n\nIF any check has action = \"REJECT\":\n    → overall_verdict = \"REJECT\"\n    → DO NOT output final_decision\n    → Request regeneration\n\nIF any check has action = \"BLOCK\":\n    → overall_verdict = \"BLOCK\"\n    → Force action = \"wait\" or \"no_action\"\n    → Set wait_type.type = first blocking reason\n\nIF all checks passed:\n    → overall_verdict = \"PASS\"\n    → Proceed with normal output\n\nIF some checks have warnings but no blocks:\n    → overall_verdict = \"PASS_WITH_WARNINGS\"\n    → Proceed but include warnings in rationale\n```\n\n### EXAMPLES:\n\n**Example 1: Multi-owner blocking**\n```json\n\"synthesis_safety_checks\": {\n  \"multi_owner_coordination\": {\n    \"passed\": false,\n    \"reason\": \"Roland actively managing relationship - lunch scheduled week of Jan 13\",\n    \"action\": \"BLOCK\"\n  },\n  \"overall_verdict\": \"BLOCK\",\n  \"blocking_reason\": \"Another team member (Roland) has scheduled touchpoint with contact\"\n}\n// Result: action = \"wait\", wait_type.type = \"coordination_needed\"\n```\n\n**Example 2: Temporal mismatch rejection**\n```json\n\"synthesis_safety_checks\": {\n  \"temporal_reference_accuracy\": {\n    \"passed\": false,\n    \"reason\": \"Message says 'depuis notre démo de mars' but last activity was 2 days ago\",\n    \"action\": \"REJECT\"\n  },\n  \"overall_verdict\": \"REJECT\",\n  \"blocking_reason\": \"Generated content has incorrect temporal reference\"\n}\n// Result: DO NOT output, request content regeneration\n```\n\n**Example 3: All checks pass**\n```json\n\"synthesis_safety_checks\": {\n  \"multi_deal_consistency\": {\"passed\": true},\n  \"multi_owner_coordination\": {\"passed\": true},\n  \"scheduled_touchpoint_respect\": {\"passed\": true},\n  \"temporal_reference_accuracy\": {\"passed\": true},\n  \"activity_recency_sanity\": {\"passed\": true},\n  \"overall_verdict\": \"PASS\"\n}\n// Result: Proceed with normal output\n```\n\n====================\nOUTPUT VALIDATION RULES (FINAL CHECK)\n====================\n\n### OUTPUT IS INVALID IF:\n\n1. ❌ `action=\"wait\"` AND `execute_at=\"Not specified\"` AND timing exists in reasoning\n2. ❌ `action=\"wait\"` AND `wait_type` is absent\n3. ❌ `opportunity_strength` present without `opportunity_strength_breakdown`\n4. ❌ Sale cycle >30 days AND `sequence_plan` is empty\n5. ❌ Objection in input data AND not reflected in `known_objections`\n6. ❌ POC/Pilot deal AND `pilot_health` is absent\n7. ❌ Explicit timing in data AND `explicit_timing_agreement` is absent\n8. ❌ `opportunity_strength` ≠ `opportunity_strength_breakdown.calculated_total`\n9. ❌ `opportunity_strength = 0` AND recent meeting exists (last 30 days)\n10. ❌ `opportunity_strength < 0.50` AND pricing was discussed\n11. ❌ `opportunity_strength < 0.60` AND demo completed with positive feedback\n\n### OUTPUT IS VALID IF:\n\n- ✅ `execute_at` has ISO datetime (or null only for action=\"no_action\")\n- ✅ `wait_type` populated for all wait decisions\n- ✅ `opportunity_strength_breakdown` always present with matching total\n- ✅ `sequence_plan` populated for cycles >30 days\n- ✅ Conditional structures present when triggers match\n- ✅ All confidence_factors populated\n- ✅ risk_factors has at least 1 entry\n- ✅ success_criteria has all three levels filled\n- ✅ `active_customer_check` present for closed-won deals\n- ✅ No re-engagement tone for active customers (days_since_last_activity < 30)\n\n### 🚨 FINAL SAFETY VALIDATION (EXECUTE BEFORE OUTPUT):\n\n```\nBEFORE outputting final_decision, verify:\n\n□ If deal_type = \"Client actif\":\n  □ action is NOT \"send_message\" with re-engagement content\n  □ active_customer_check is present in output\n  □ Message tone is CUSTOMER_SUCCESS not re-engagement\n\n□ If days_since_last_activity < 14:\n  □ Check has_upcoming_meeting\n  □ If meeting scheduled, action = \"wait\"\n  □ Content does NOT reference old demos/exchanges as if recent\n\n□ If message contains \"Ça fait un moment\" OR \"plusieurs mois\":\n  □ Verify days_since_last_activity > 60\n  □ If days_since_last_activity < 30 → ABORT, do not output\n\n□ Cross-check consistency:\n  □ opportunity_strength_breakdown.factors references correct days\n  □ rationale matches actual activity recency\n  □ evidence_trail cites correct activity dates\n```\n\n---\n\n## LANGUAGE\n\n- If contact communication history is in French, write rationale in French\n- If in English, write in English\n- Message content should match the language used by Content Generator\n\n====================\n🚨 ANTI-HALLUCINATION PROTOCOL (MANDATORY)\n====================\n\nRULE #1: SOURCE OF TRUTH = THIS JSON ONLY\nYou must NEVER affirm a fact that is not present or directly deducible from the JSON provided.\n\n| ALLOWED | FORBIDDEN |\n|---------|-----------|\n| Quote a value present in JSON | Invent a value not present |\n| Deduce a fact from JSON data (e.g., calculated delay) | Assume unverifiable info |\n| Write \"NOT_FOUND\" or \"UNKNOWN\" if field is absent | Fill a field with invented value |\n| Summarize content from metadata.body | Interpret intent beyond the text |\n\nRULE #2: EVIDENCE TRAIL (MANDATORY)\nFor EVERY claim you make, you MUST be able to point to the exact JSON path.\n\nExample of GOOD evidence:\n\\`\\`\\`\nClaim: \"Last OUTBOUND was on 2025-08-27\"\nEvidence: activities[0].recorded_on = \"2025-08-27T12:02:43+00:00\"\n          activities[0].direction = \"OUTBOUND\" ✓\n\\`\\`\\`\n\nExample of BAD (hallucination):\n\\`\\`\\`\nClaim: \"Contact showed interest in pricing\"\nEvidence: ??? (not explicitly stated in any INBOUND message)\n→ THIS IS HALLUCINATION - FORBIDDEN\n\\`\\`\\`\n\nRULE #3: WHEN IN DOUBT, LEAVE IT OUT\nIf you cannot point to a specific JSON field for a claim → DO NOT MAKE THE CLAIM.",
            "maxTokens": 10000,
            "temperature": 0.6
          }
        },
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          2272,
          48
        ],
        "id": "342052ae-2794-46de-8021-d828356b2e9b",
        "name": "Orchestrator Synthesis",
        "executeOnce": true,
        "retryOnFail": true,
        "waitBetweenTries": 500,
        "credentials": {
          "anthropicApi": {
            "id": "WR9IYE0cy2Srym3w",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Wave 1",
          "height": 832,
          "width": 192
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          -304
        ],
        "id": "050782f8-5317-4c68-9366-28f85aeead45",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Wave 2",
          "height": 832,
          "width": 192,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1776,
          -304
        ],
        "id": "940ef5ed-ffde-4ff9-bb88-d7cd3a8f1834",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "final_decision",
          "limit": 10,
          "filterType": "string",
          "filterString": "and=(user_slack_message.not.is.null,user_slack_message.neq.,type_of_validation.not.is.null,type_of_validation.neq.)&order=created_at.desc"
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1600,
          -112
        ],
        "id": "e831ae81-c8e9-46bd-87ce-d47331688eb6",
        "name": "Get historical recommendations",
        "executeOnce": true,
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "7YYll9c7CXOe1KjY",
            "name": "AI_Sales_supabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Synthesis Output - Updated for New Architecture\n// Mode: Run Once for All Items\n\nconst rawInput = $input.first().json;\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 1: Extraer el texto raw (múltiples formatos posibles)\n// ═══════════════════════════════════════════════════════════════\nlet rawText = '';\n\n// Función helper para extraer texto de estructura content\nfunction extractFromContent(contentArray) {\n  if (!Array.isArray(contentArray)) return '';\n  const textBlock = contentArray.find(block => block.type === 'text' && block.text);\n  return textBlock?.text || contentArray[0]?.text || '';\n}\n\nif (Array.isArray(rawInput)) {\n  // Formato array: [{ content: [{ type: \"text\", text: \"...\" }] }]\n  const firstItem = rawInput[0];\n  if (firstItem?.content && Array.isArray(firstItem.content)) {\n    rawText = extractFromContent(firstItem.content);\n  } else if (typeof firstItem === 'string') {\n    rawText = firstItem;\n  } else {\n    rawText = JSON.stringify(firstItem);\n  }\n} else if (rawInput.content && Array.isArray(rawInput.content)) {\n  // Formato Anthropic directo: { content: [{ type: \"text\", text: \"...\" }] }\n  rawText = extractFromContent(rawInput.content);\n} else if (rawInput.message?.content && Array.isArray(rawInput.message.content)) {\n  // Formato con wrapper message: { message: { content: [...] } }\n  rawText = extractFromContent(rawInput.message.content);\n} else if (rawInput.output) {\n  // Formato AI Agent: { output: \"...\" }\n  rawText = rawInput.output;\n} else if (rawInput.text) {\n  // Formato simple: { text: \"...\" }\n  rawText = rawInput.text;\n} else if (typeof rawInput === 'string') {\n  rawText = rawInput;\n} else {\n  rawText = JSON.stringify(rawInput);\n}\n\n// Safety check: si rawText sigue vacío, intentar stringify\nif (!rawText && rawInput) {\n  rawText = JSON.stringify(rawInput);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 2: Limpiar y extraer JSON\n// ═══════════════════════════════════════════════════════════════\nlet cleanJson = rawText\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\n// Función para extraer JSON balanceado desde un índice\nfunction extractBalancedJson(str, startIndex) {\n  let braceCount = 0;\n  let inString = false;\n  let escapeNext = false;\n  \n  for (let i = startIndex; i < str.length; i++) {\n    const char = str[i];\n    \n    if (escapeNext) {\n      escapeNext = false;\n      continue;\n    }\n    \n    if (char === '\\\\') {\n      escapeNext = true;\n      continue;\n    }\n    \n    if (char === '\"' && !escapeNext) {\n      inString = !inString;\n      continue;\n    }\n    \n    if (!inString) {\n      if (char === '{') braceCount++;\n      if (char === '}') {\n        braceCount--;\n        if (braceCount === 0) {\n          return str.substring(startIndex, i + 1);\n        }\n      }\n    }\n  }\n  return '';\n}\n\n// Buscar el JSON que contiene \"orchestrator_id\" (con o sin whitespace)\n// Patrones posibles: '{\"orchestrator_id\"' o '{\\n  \"orchestrator_id\"' etc.\nlet jsonStartIndex = -1;\nlet jsonToParse = '';\n\n// Buscar patrón con regex para encontrar el inicio\nconst orchestratorMatch = cleanJson.match(/\\{\\s*\"orchestrator_id\"/);\nif (orchestratorMatch) {\n  jsonStartIndex = orchestratorMatch.index;\n}\n\nif (jsonStartIndex !== -1) {\n  jsonToParse = extractBalancedJson(cleanJson, jsonStartIndex);\n} \n\n// Si no encontró o falló, intentar parsear directamente (puede que ya sea JSON limpio)\nif (!jsonToParse) {\n  // Intentar encontrar el primer { y extraer desde ahí\n  const firstBrace = cleanJson.indexOf('{');\n  if (firstBrace !== -1) {\n    jsonToParse = extractBalancedJson(cleanJson, firstBrace);\n  }\n}\n\n// Último fallback: usar el texto limpio completo\nif (!jsonToParse) {\n  jsonToParse = cleanJson;\n}\n\nif (!jsonToParse) {\n  throw new Error('No JSON found in Synthesis output');\n}\n\nlet input;\ntry {\n  input = JSON.parse(jsonToParse);\n} catch (e) {\n  throw new Error('Could not parse Synthesis JSON: ' + e.message + '\\nFirst 500 chars: ' + jsonToParse.substring(0, 500));\n}\n\nconst decision = input.final_decision;\nif (!decision) {\n  throw new Error('Missing final_decision in Synthesis output');\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 3: Obtener datos del Webhook (owner y contact info)\n// ═══════════════════════════════════════════════════════════════\nlet ownerName = '';\nlet contactLinkedinUrl = '';\nlet contactHubspotId = '';\n\ntry {\n  const webhookData = $('Webhook').first().json;\n  \n  // Los datos pueden venir directo o en .body\n  const data = webhookData.body || webhookData;\n  \n  // LinkedIn y HubSpot ID del CONTACTO\n  contactLinkedinUrl = data.contact_info?.linkedin_url || '';\n  contactHubspotId = data.contact_info?.hubspot_id || '';\n  \n  // Nombre del OWNER (de la primera activity)\n  const activities = data.activities || [];\n  for (const activity of activities) {\n    if (activity.owner?.owner_name) {\n      ownerName = activity.owner.owner_name;\n      break;\n    }\n  }\n} catch (e) {\n  console.log('Could not extract Webhook data:', e.message);\n}\n\n// ═══════════════════════════════════════════════════════════════\n// PASO 4: Construir output estructurado\n// ═══════════════════════════════════════════════════════════════\nreturn {\n  json: {\n    decision: {\n      // ─────────────────────────────────────────────────────────\n      // IDENTIFICACIÓN\n      // ─────────────────────────────────────────────────────────\n      orchestrator_id: input.orchestrator_id || 'orchestrator_synthesis',\n      phase: input.phase || 'synthesis',\n      contact_fullname: decision.contact_fullname || 'Not defined.',\n      contact_hubspot_id: contactHubspotId || 'Not defined.',\n      contact_linkedin_url: contactLinkedinUrl || 'Not defined.',\n      owner_name: ownerName || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // ACCIÓN PRINCIPAL\n      // ─────────────────────────────────────────────────────────\n      action: decision.action || 'no_action',\n      selected_channel: decision.selected_channel || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // CONTENIDO SELECCIONADO\n      // ─────────────────────────────────────────────────────────\n      message: decision.selected_content?.message || 'No recommended message.',\n      subject: decision.selected_content?.subject || 'Not defined.',\n      tone: decision.selected_content?.tone || 'Not defined.',\n      content_source: decision.selected_content?.content_source || 'wave2_content_generator',\n      \n      // ─────────────────────────────────────────────────────────\n      // TIMING DE EJECUCIÓN\n      // ─────────────────────────────────────────────────────────\n      execute_at: decision.execution_timing?.execute_at || 'Not defined.',\n      reevaluate_at: decision.execution_timing?.reevaluate_at || 'Not defined.',\n      timezone: decision.execution_timing?.timezone || 'Europe/Paris',\n      timing_rationale: decision.execution_timing?.timing_rationale || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // WAIT TYPE (solo para action=\"wait\")\n      // ─────────────────────────────────────────────────────────\n      wait_type: decision.wait_type?.type || 'Not defined.',\n      wait_risk_level: decision.wait_type?.risk_level || 'Not defined.',\n      wait_trigger_event: decision.wait_type?.trigger_event || 'Not defined.',\n      wait_reevaluation_trigger: decision.wait_type?.reevaluation_trigger || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // SECUENCIA\n      // ─────────────────────────────────────────────────────────\n      is_part_of_sequence: decision.sequence_instructions?.is_part_of_sequence || false,\n      current_step: decision.sequence_instructions?.current_step || 1,\n      total_steps: decision.sequence_instructions?.total_steps || 1,\n      sequence_plan: decision.sequence_instructions?.sequence_plan || [],\n      \n      // ─────────────────────────────────────────────────────────\n      // RATIONALE\n      // ─────────────────────────────────────────────────────────\n      overall_strategy: decision.rationale?.overall_strategy || 'Not defined.',\n      channel_reasoning: decision.rationale?.channel_reasoning || 'Not defined.',\n      content_reasoning: decision.rationale?.content_reasoning || 'Not defined.',\n      timing_reasoning: decision.rationale?.timing_reasoning || 'Not defined.',\n      sequence_reasoning: decision.rationale?.sequence_reasoning || 'Not defined.',\n      historical_alignment: decision.rationale?.historical_alignment || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // SCORES Y CONFIDENCE\n      // ─────────────────────────────────────────────────────────\n      opportunity_strength: decision.rationale?.opportunity_strength || 0,\n      opportunity_strength_breakdown: decision.rationale?.opportunity_strength_breakdown || 'Not defined.',\n      relationship_clarity: decision.rationale?.confidence_factors?.relationship_clarity || 0,\n      channel_certainty: decision.rationale?.confidence_factors?.channel_certainty || 0,\n      content_quality: decision.rationale?.confidence_factors?.content_quality || 0,\n      timing_accuracy: decision.rationale?.confidence_factors?.timing_accuracy || 0,\n      historical_pattern_match: decision.rationale?.confidence_factors?.historical_pattern_match || 0,\n      \n      // ─────────────────────────────────────────────────────────\n      // RIESGOS Y CRITERIOS DE ÉXITO\n      // ─────────────────────────────────────────────────────────\n      risk_factors: decision.risk_factors || [],\n      success_criteria_immediate: decision.success_criteria?.immediate || 'Not defined.',\n      success_criteria_short_term: decision.success_criteria?.short_term || 'Not defined.',\n      success_criteria_medium_term: decision.success_criteria?.medium_term || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // CONDITIONAL CONTEXT\n      // ─────────────────────────────────────────────────────────\n      stakeholder_map: input.conditional_context?.stakeholder_map || 'Not defined.',\n      explicit_timing_agreement: input.conditional_context?.explicit_timing_agreement || 'Not defined.',\n      buying_committee: input.conditional_context?.buying_committee || 'Not defined.',\n      known_objections: input.conditional_context?.known_objections || 'Not defined.',\n      deal_contact_status: input.conditional_context?.deal_contact_status || 'Not defined.',\n      competitive_context: input.conditional_context?.competitive_context || 'Not defined.',\n      buying_process: input.conditional_context?.buying_process || 'Not defined.',\n      pilot_health: input.conditional_context?.pilot_health || 'Not defined.',\n      \n      // ─────────────────────────────────────────────────────────\n      // EVIDENCE & HISTORICAL PATTERNS\n      // ─────────────────────────────────────────────────────────\n      evidence_trail: input.evidence_trail || [],\n      historical_patterns_applied: input.historical_patterns_applied || [],\n      \n      // ─────────────────────────────────────────────────────────\n      // METADATA\n      // ─────────────────────────────────────────────────────────\n      synthesis_confidence: input.metadata?.synthesis_confidence || 0,\n      agents_wave_1: input.metadata?.agents_consulted?.wave_1 || [],\n      agents_wave_2: input.metadata?.agents_consulted?.wave_2 || [],\n      iterations_total: input.metadata?.iterations_total || 0,\n      processing_notes: input.metadata?.processing_notes || 'Not defined.',\n      validation_passed: input.metadata?.validation_passed || 'Not defined.',\n      content_value_density: input.metadata?.content_value_density || 'Not defined.',\n      active_customer_check: input.metadata?.active_customer_check || 'Not defined.'\n    },\n    \n    // ═══════════════════════════════════════════════════════════════\n    // SESSION INFO (para Supabase)\n    // ═══════════════════════════════════════════════════════════════\n    session_id: $('Save data call').first().json.session_id || 'Not defined.'\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2576,
          48
        ],
        "id": "2c175788-06f1-459c-b170-9081de183940",
        "name": "Parse JSON"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"message\": \"Workflow was started! This process takes about 10 minutes, please wait... :)\",\n  \"started_at\":\"{{$now.toString()}}\",\n  \"session_id\": \"{{ $json.uuid }}\"\n}",
          "options": {
            "responseCode": 200
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -160,
          64
        ],
        "id": "84d2dd2f-7d1a-472d-a15b-c6bd43cf6ea4",
        "name": "Respond to Webhook with session_id",
        "executeOnce": true
      },
      {
        "parameters": {
          "tableId": "final_decision",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "session_id",
                "fieldValue": "={{ $('Generate UUID').first().json.uuid }}"
              },
              {
                "fieldId": "decision",
                "fieldValue": "={{ $json.decision }}"
              },
              {
                "fieldId": "contact_hubspot_id",
                "fieldValue": "={{ $('Webhook').first().json.contact_info.hubspot_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2832,
          48
        ],
        "id": "0fe7b0e1-1a9b-4d59-ada0-6c852279158c",
        "name": "Save final decision into table",
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "7YYll9c7CXOe1KjY",
            "name": "AI_Sales_supabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "n8n_orchestrator_synthesis",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "session_id",
                "condition": "eq",
                "keyValue": "={{ $('Generate UUID').first().json.uuid }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "final_decision",
                "fieldValue": "={{ $json.decision }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2832,
          -160
        ],
        "id": "153ddf60-7832-41db-9cfd-48f09c5d1fc2",
        "name": "Save final decision reference",
        "credentials": {
          "supabaseApi": {
            "id": "7YYll9c7CXOe1KjY",
            "name": "AI_Sales_supabase"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hooks.zapier.com/hooks/catch/23843453/ufit1aq/",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 0,
                "batchInterval": 0
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3040,
          48
        ],
        "id": "87f3f678-cb74-40a2-a3c6-87f00bf042e3",
        "name": "Send to Zapier for Slack"
      },
      {
        "parameters": {
          "jsCode": "// Collect Complete Workflow Run - One Row Per Execution\n\nconst sessionId = $('Generate UUID').first().json.uuid;\nconst webhookInput = $('Webhook').first().json;\n\n// Helper to safely get agent output\nconst getOutput = (nodeName) => {\n  try {\n    const data = $(nodeName).first().json;\n    const output = data?.output || data?.content?.[0]?.text || data;\n    return typeof output === 'string' ? output : JSON.stringify(output);\n  } catch (e) {\n    return null;\n  }\n};\n\n// Get final decision from Parse JSON node\nlet finalDecision = null;\ntry {\n  finalDecision = $('Parse JSON').first().json.decision || $('Parse JSON').first().json;\n} catch (e) {\n  finalDecision = null;\n}\n\nreturn [{\n  json: {\n    session_id: sessionId,\n    \n    // INPUT\n    contact_json_input: webhookInput,\n    \n    // WAVE 1: TOOL AGENTS\n    context_analyzer_output: getOutput('Call Context Analyzer'),\n    opportunity_detector_output: getOutput('Call Opportunity Detector'),\n    state_analyzer_output: getOutput('Call State Analyzer'),\n    timing_strategist_output: getOutput('Call Timing Strategist'),\n    \n    // ORCHESTRATOR: EVALUATION\n    evaluation_orchestrator_output: getOutput('Orchestrator Wave 1 Evaluation'),\n    \n    // WAVE 2: TOOL AGENTS\n    channel_selector_output: getOutput('Call channel selector'),\n    content_generator_output: getOutput('Call Content Generator'),\n    sequence_strategist_output: getOutput('Call Sequence Strategist'),\n    \n    // ORCHESTRATOR: SYNTHESIS\n    synthesis_orchestrator_output: getOutput('Orchestrator Synthesis'),\n    \n    // FINAL OUTPUT\n    final_decision_output: finalDecision,\n    \n    // METADATA\n    contact_hubspot_id: webhookInput.contact_info?.hubspot_id || null,\n    contact_fullname: webhookInput.contact_info?.full_name || null,\n    owner_name: webhookInput.contact_info?.owner?.owner_name || null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2832,
          272
        ],
        "id": "743c298e-bc83-4cef-9bef-30a9b467a561",
        "name": "Collect Workflow Run"
      },
      {
        "parameters": {
          "tableId": "workflow_runs",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "session_id",
                "fieldValue": "={{ $json.session_id }}"
              },
              {
                "fieldId": "contact_json_input",
                "fieldValue": "={{ $json.contact_json_input }}"
              },
              {
                "fieldId": "context_analyzer_output",
                "fieldValue": "={{ $json.context_analyzer_output }}"
              },
              {
                "fieldId": "opportunity_detector_output",
                "fieldValue": "={{ $json.opportunity_detector_output }}"
              },
              {
                "fieldId": "state_analyzer_output",
                "fieldValue": "={{ $json.state_analyzer_output }}"
              },
              {
                "fieldId": "timing_strategist_output",
                "fieldValue": "={{ $json.timing_strategist_output }}"
              },
              {
                "fieldId": "evaluation_orchestrator_output",
                "fieldValue": "={{ $json.evaluation_orchestrator_output }}"
              },
              {
                "fieldId": "channel_selector_output",
                "fieldValue": "={{ $json.channel_selector_output }}"
              },
              {
                "fieldId": "content_generator_output",
                "fieldValue": "={{ $json.content_generator_output }}"
              },
              {
                "fieldId": "sequence_strategist_output",
                "fieldValue": "={{ $json.sequence_strategist_output }}"
              },
              {
                "fieldId": "synthesis_orchestrator_output",
                "fieldValue": "={{ $json.synthesis_orchestrator_output }}"
              },
              {
                "fieldId": "final_decision_output",
                "fieldValue": "={{ $json.final_decision_output }}"
              },
              {
                "fieldId": "contact_hubspot_id",
                "fieldValue": "={{ $('Parse JSON').item.json.decision.contact_hubspot_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3040,
          272
        ],
        "id": "c530b6fd-1424-435e-8afb-e9e78cdd8e30",
        "name": "Save Workflow Run",
        "credentials": {
          "supabaseApi": {
            "id": "7YYll9c7CXOe1KjY",
            "name": "AI_Sales_supabase"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Ev7cOeVBmtaRTZ83UmzuNORanRI_Joheu-AWtkNm2q8",
            "mode": "list",
            "cachedResultName": "Ressources / practices Agent AE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ev7cOeVBmtaRTZ83UmzuNORanRI_Joheu-AWtkNm2q8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "resources",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ev7cOeVBmtaRTZ83UmzuNORanRI_Joheu-AWtkNm2q8/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -976,
          64
        ],
        "id": "b29ed356-6e0e-4d39-a108-55d56e4453a1",
        "name": "Get resources",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UTToz3OdaCCuAh27",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1Ev7cOeVBmtaRTZ83UmzuNORanRI_Joheu-AWtkNm2q8",
            "mode": "list",
            "cachedResultName": "Ressources / practices Agent AE",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ev7cOeVBmtaRTZ83UmzuNORanRI_Joheu-AWtkNm2q8/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1786435776,
            "mode": "list",
            "cachedResultName": "best practices",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ev7cOeVBmtaRTZ83UmzuNORanRI_Joheu-AWtkNm2q8/edit#gid=1786435776"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -816,
          64
        ],
        "id": "828203ca-7e42-4420-9772-b4f1fe35d888",
        "name": "Get practices",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UTToz3OdaCCuAh27",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Resources documents",
          "height": 272,
          "width": 416,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1056,
          -16
        ],
        "id": "dc78d110-455b-4861-a7d8-30c4d40a0f69",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "jsCode": "// Nodo Code: \"Merge GSheet Data\"\n// Combina resources y best_practices en un objeto estructurado\n\nconst resources = $('Get resources').all().map(item => item.json);\nconst practices = $('Get practices').all().map(item => item.json);\n\nreturn [{\n  json: {\n    resources_context: {\n      resources: resources,\n      total_count: resources.length\n    },\n    best_practices_context: {\n      practices: practices,\n      total_count: practices.length\n    }\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          64
        ],
        "id": "f8e05a49-a39e-4d61-8afc-34d2ddfc5368",
        "name": "Merge GSheet Data"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "claude-opus-4-5-20251101",
            "mode": "list",
            "cachedResultName": "claude-opus-4-5-20251101"
          },
          "messages": {
            "values": [
              {
                "content": "=Evaluate the following decision from the AE-Agent orchestrator synthesis:\n\n<decision>\n{{$json.decision.toJsonString()}}\n</decision>\n\n<contact_info>\n{{ $('Webhook').first().json.body.toJsonString() }}\n</contact_info>\n\nPerform a thorough evaluation:\n\n1. EVIDENCE VALIDATION: Check each item in evidence_trail - are claims supported?\n\n2. MESSAGE ANALYSIS: \n   - Contact: {{$json.decision.contact_fullname}}\n   - Channel: {{$json.decision.selected_channel}}\n   - Tone: {{$json.decision.tone}}\n   - Message length and structure\n   - Forbidden phrases check\n\n3. TIMING CHECK:\n   - Execute at: {{$json.decision.execute_at}}\n   - Timezone: {{$json.decision.timezone}}\n   - Timing rationale provided: {{$json.decision.timing_rationale}}\n\n4. SEQUENCE VALIDATION:\n   - Current step: {{$json.decision.current_step}} of {{$json.decision.total_steps}}\n   - Strategy: {{$json.decision.overall_strategy}}\n\n5. CONFIDENCE COHERENCE:\n   - Synthesis confidence: {{$json.decision.synthesis_confidence}}\n   - Opportunity strength: {{$json.decision.opportunity_strength}}\n   - Verify breakdown math matches total\n\n6. RISK ASSESSMENT: Are identified risks properly mitigated?\n\nReturn your evaluation as valid JSON only."
              }
            ]
          },
          "options": {
            "system": "# DECISION EVALUATOR - Quality Control Agent\n\nYou are an expert evaluator for an AI sales agent system (AE-Agent for AirSaas). Your role is to critically assess decisions made by the orchestrator synthesis agent before execution.\n\nYou receive TWO inputs:\n1. <decision> - The orchestrator's output to evaluate\n2. <contact_info> - The RAW source data (activities, contact details) to verify claims against\n\n## YOUR MISSION\n\nEvaluate the quality and safety of outbound sales decisions to:\n1. **Cross-reference claims** against the raw contact_info data\n2. **Score the decision** on a 100-point scale\n3. **Detect issues** at all severity levels (critical, major, minor)\n4. **Validate reasoning** against provided evidence\n5. **Approve or reject** the decision for execution\n\n## SCORING GRID (100 points)\n\n| Criterion | Points | What to Verify |\n|-----------|--------|----------------|\n| Chronology accuracy | 15 | Cross-check dates in evidence_trail against activities[] in contact_info |\n| No hallucination | 20 | Every claim must trace to actual data in contact_info.activities[] |\n| Action coherence | 15 | action + selected_channel match the situation analysis |\n| Message quality | 15 | Tone, length, value density, no forbidden phrases |\n| Timing appropriateness | 10 | execute_at makes sense given context and holidays |\n| Sequence strategy | 10 | sequence_plan is logical and respects contact state |\n| Risk assessment | 10 | risk_factors identified and mitigated appropriately |\n| Evidence completeness | 5 | Claims have supporting evidence in evidence_trail |\n\n## QUALITY LEVELS\n\n| Level | Score | Verdict |\n|-------|-------|---------|\n| EXCELLENT | 90-100 | APPROVE - Execute as-is |\n| GOOD | 75-89 | APPROVE - Minor improvements noted |\n| ACCEPTABLE | 60-74 | REVIEW - Human review recommended |\n| INSUFFICIENT | 40-59 | REJECT - Needs significant rework |\n| CRITICAL_ERROR | 0-39 | REJECT - Do not execute, major issues |\n\n## CRITICAL VALIDATION: CROSS-REFERENCE WITH RAW DATA\n\nFor EACH claim in evidence_trail, you MUST:\n1. Find the corresponding activity in contact_info.activities[]\n2. Verify the date matches (recorded_on field)\n3. Verify the content matches (metadata.body field)\n4. Verify the direction matches (direction field: INBOUND/OUTBOUND)\n\nExample verification:\n- Claim: \"Last outbound 2025-09-29\"\n- Check: Find activity with recorded_on containing \"2025-09-29\" AND direction=\"OUTBOUND\"\n- Verify: Does metadata.body match what's claimed?\n\n## ERROR CLASSIFICATION\n\n### Critical Errors (Auto-reject, -20 to -30 pts each)\n- Hallucinated facts not found in contact_info.activities[]\n- Wrong dates that don't match recorded_on fields\n- Invented quotes not present in metadata.body\n- Wrong contact information (name doesn't match contact_info.full_name)\n- Message contradicts actual conversation history\n- Miscounting days since last activity\n\n### Major Errors (-10 to -15 pts each)\n- Misinterpreting conversation context\n- Tone mismatch with relationship stage shown in activities\n- Ignoring important activities in the history\n- Sequence plan doesn't match stated strategy\n- opportunity_strength math error (breakdown doesn't sum correctly)\n\n### Minor Errors (-3 to -7 pts each)\n- Suboptimal phrasing in message\n- Could use better timing within acceptable window\n- Minor inconsistencies in reasoning fields\n- Slightly verbose message\n\n## MESSAGE QUALITY CHECK\n\nThe message must:\n- Be under 6 lines\n- Have maximum 1 question\n- Use contact's first name correctly (extract from contact_info.full_name)\n- Match the stated tone\n- Contain value (not just \"checking in\")\n- Have clear CTA\n- Reference actual context from the conversation history\n\n## FORBIDDEN PHRASES (auto-deduct 5 pts each)\n- \"Just checking in...\"\n- \"I hope this finds you well...\"\n- \"I wanted to follow up...\"\n- \"Quick question...\"\n- \"No pressure, but...\"\n- \"When you get a chance...\"\n- \"Where are you on...?\" / \"Où en êtes-vous ?\"\n- Multiple questions in one message\n\n## TIMING VALIDATION\n\n- Is execute_at within business hours for the stated timezone?\n- Does it avoid major holidays (Dec 25, Jan 1)?\n- Is the rationale for timing coherent with the message content?\n- If proposing future dates in message, are they realistic?\n\n## OPPORTUNITY STRENGTH MATH CHECK\n\n1. Take base_score from opportunity_strength_breakdown\n2. Sum all factor impacts (positive and negative)\n3. Verify calculated_total matches the sum\n4. Flag if math is wrong (Major Error)\n\n## OUTPUT FORMAT (strict JSON only)\n\n{\n  \"verdict\": \"APPROVE | REVIEW | REJECT\",\n  \"score\": <number 0-100>,\n  \"level\": \"EXCELLENT | GOOD | ACCEPTABLE | INSUFFICIENT | CRITICAL_ERROR\",\n  \"critical_errors\": [\n    {\n      \"type\": \"<error category>\",\n      \"detail\": \"<what is wrong>\",\n      \"claimed\": \"<what decision claims>\",\n      \"actual\": \"<what raw data shows>\",\n      \"impact\": \"<point deduction>\"\n    }\n  ],\n  \"major_errors\": [\n    {\n      \"type\": \"<error category>\",\n      \"detail\": \"<what is wrong>\",\n      \"suggested_fix\": \"<how to correct>\"\n    }\n  ],\n  \"minor_errors\": [\n    {\n      \"type\": \"<error category>\",\n      \"detail\": \"<improvement opportunity>\"\n    }\n  ],\n  \"strengths\": [\"<what was done well>\"],\n  \"validation_checks\": {\n    \"evidence_trail_valid\": true | false,\n    \"dates_verified\": true | false,\n    \"quotes_verified\": true | false,\n    \"message_quality_pass\": true | false,\n    \"forbidden_phrases_detected\": [],\n    \"timing_appropriate\": true | false,\n    \"sequence_logic_sound\": true | false,\n    \"opportunity_math_correct\": true | false\n  },\n  \"verified_facts\": [\n    {\n      \"claim\": \"<claim from decision>\",\n      \"verified\": true | false,\n      \"source_activity\": \"<activity_id or description from contact_info>\"\n    }\n  ],\n  \"recommendation\": \"<2-3 sentence summary of evaluation>\",\n  \"execution_safe\": true | false\n}\n\n## EVALUATION PRINCIPLES\n\n1. **Trust raw data over claims** - If evidence_trail says X but contact_info shows Y, flag it\n2. **Be strict on facts** - Dates, quotes, and directions must match exactly\n3. **Be fair on judgment calls** - Strategy and timing have subjective elements\n4. **Actionable feedback** - Provide fixes, not just complaints\n5. **Safety-first** - When facts don't match, reject\n\n## SPECIAL CONSIDERATIONS FOR THIS CASE TYPE\n\n### Re-engagement after dropped ball\n- Message should acknowledge the gap appropriately\n- Should offer value, not just ask\n- Appropriate humility about the mistake\n- Lower-commitment CTA is better (coffee > formal meeting)\n\n### Single-channel constraint (LinkedIn only)\n- If email is null/missing and phone is null, LinkedIn is correct choice\n- Don't penalize for \"wrong channel\" when no alternatives exist\n- Note if constraint limits effectiveness\n\n### Holiday Period Timing\n- Dec 31 morning is borderline - many people off\n- Message proposing January dates is smart\n- Should not expect immediate response\n\nIMPORTANT: Return ONLY valid raw JSON. No markdown (```json...```), no explanations outside the JSON structure.",
            "maxTokens": 2500,
            "temperature": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          2848,
          528
        ],
        "id": "8e154151-327a-43ff-9bf9-c0c25e37f1b9",
        "name": "Evaluate Decision",
        "executeOnce": true,
        "credentials": {
          "anthropicApi": {
            "id": "WR9IYE0cy2Srym3w",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse evaluator response from Claude\nconst response = $input.all()[0].json;\n\n// Extract the text content from Claude's response structure\nconst textContent = response.content.find(c => c.type === 'text');\n\nif (!textContent || !textContent.text) {\n  throw new Error('No text content found in evaluator response');\n}\n\nlet jsonString = textContent.text.trim();\n\n// Handle markdown code blocks (```json ... ```)\nif (jsonString.startsWith('```')) {\n  // Remove opening code block (```json or ```)\n  jsonString = jsonString.replace(/^```(?:json)?\\n?/, '');\n  // Remove closing code block\n  jsonString = jsonString.replace(/\\n?```$/, '');\n}\n\n// Parse the JSON string\nconst evaluation = JSON.parse(jsonString);\n\n// Return the parsed evaluation\nreturn {\n  json: {\n    evaluation: evaluation,\n    verdict: evaluation.verdict,\n    score: evaluation.score,\n    level: evaluation.level,\n    execution_safe: evaluation.execution_safe,\n    critical_errors_count: evaluation.critical_errors.length,\n    major_errors_count: evaluation.major_errors.length,\n    minor_errors_count: evaluation.minor_errors.length,\n    recommendation: evaluation.recommendation\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3232,
          528
        ],
        "id": "71113808-8e11-4194-9cf3-d8e5654c05f8",
        "name": "Parse evaluator JSON"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "claude-opus-4-5-20251101",
            "mode": "list",
            "cachedResultName": "claude-opus-4-5-20251101"
          },
          "messages": {
            "values": [
              {
                "content": "=ORIGINAL CONTACT DATA:\n{{ $('Webhook').first().json.toJsonString() }}\n---\n\nWAVE 1 RESULTS:\n{{ $('Wave1_results').all().toJsonString()}}\n\n---\n\nCompare Wave 1 outputs against the original data. Verify factual accuracy, check for hallucinations, evaluate coherence. Decide: continue or retry?\n\n---\n\n## OUTPUT FORMAT\n\nReturn ONLY valid JSON (no markdown):\n\n{\n  \"evaluation_decision\": {\n    \"action\": \"continue\",\n    \"reasoning\": \"Brief explanation with specific references to original data\",\n    \"retry_instructions\": null\n  },\n  \"fact_check\": {\n    \"verified\": [\"List of key facts correctly extracted\"],\n    \"errors\": [\"Any factual errors found\"],\n    \"missed\": [\"Important data from original that was not captured\"]\n  },\n  \"quality_scores\": {\n    \"context_analyzer\": 0.85,\n    \"opportunity_detector\": 0.80,\n    \"state_analyzer\": 0.90,\n    \"timing_strategist\": 0.85,\n    \"factual_accuracy\": 0.90\n  },\n  \"issues_found\": [],\n  \"wave1_summary\": {\n    \"relationship_stage\": \"qualified\",\n    \"temperature\": \"warm\",\n    \"who_has_ball\": \"us\",\n    \"action_needed\": true,\n    \"urgency\": \"medium\",\n    \"primary_opportunity\": \"type\",\n    \"primary_hook\": \"hook topic\",\n    \"recommended_channel\": \"EMAIL\",\n    \"wait_days\": 3\n  }\n}\n\nIf retry:\n{\n  \"evaluation_decision\": {\n    \"action\": \"retry\",\n    \"reasoning\": \"Specific reason with evidence\",\n    \"retry_instructions\": {\n      \"context_relationship_analyzer\": \"Instruction or null\",\n      \"opportunity_detector\": \"Instruction or null\",\n      \"state_analyzer\": \"Instruction or null\",\n      \"timing_strategist\": \"Instruction or null\"\n    }\n  },\n  ...\n}\n\nIMPORTANT: \n- Output PURE JSON only, no markdown code blocks\n- Reference specific activities/dates from original data when verifying\n- Flag any information in Wave 1 outputs not found in original data"
              }
            ]
          },
          "options": {
            "system": "=You are the Wave 1 Quality Evaluator.\n\n## YOUR JOB\nCompare Wave 1 agent outputs against the ORIGINAL CONTACT DATA to verify accuracy, then decide: continue to Wave 2 or retry.\n\n====================\n🔍 VALIDATION SCORING SYSTEM (FROM AE-Agent - ENHANCED)\n====================\n\nYou MUST calculate validation scores for each dimension:\n\n### DIMENSION 1: TEMPORAL ACCURACY (0.0 - 1.0)\n\nValidates that all time-based claims match actual data.\n\n```\nTEMPORAL_CHECKS = {\n  \"days_since_last_activity\": {\n    \"source\": \"state_analyzer.activity_scan_verification.days_since_last_activity\",\n    \"verify_against\": \"MAX(activities[].recorded_on) vs reference_date\",\n    \"tolerance\": 1 day,\n    \"weight\": 0.25\n  },\n  \"hook_age_days\": {\n    \"source\": \"opportunity_detector.hooks_detected[].hook_age_days\",\n    \"verify_against\": \"hook.source_date vs reference_date\",\n    \"tolerance\": 1 day,\n    \"weight\": 0.20\n  },\n  \"deal_close_calculation\": {\n    \"source\": \"opportunity_detector.deal_classification.evidence.days_since_close\",\n    \"verify_against\": \"deal_closed_date vs reference_date\",\n    \"tolerance\": 0 days,\n    \"weight\": 0.25\n  },\n  \"timing_recommendations\": {\n    \"source\": \"timing_strategist.recommended_windows[].specific_date\",\n    \"verify_against\": \"reference_date + recommended delay\",\n    \"tolerance\": 0 days,\n    \"weight\": 0.30\n  }\n}\n\ntemporal_accuracy_score = weighted_average(all_temporal_checks)\n```\n\n### DIMENSION 2: TONE APPROPRIATENESS (0.0 - 1.0)\n\nValidates that recommended tone matches contact classification.\n\n```\nTONE_VALIDATION_MATRIX = {\n  \"Client actif\": {\n    \"allowed_tones\": [\"customer_success\", \"friendly_check_in\", \"value_share\"],\n    \"forbidden_tones\": [\"re_engagement\", \"cold_outreach\", \"sales_pitch\"],\n    \"formality_expected\": \"tu\"\n  },\n  \"Client dormant\": {\n    \"allowed_tones\": [\"re_engagement\", \"customer_reactivation\", \"value_share\"],\n    \"forbidden_tones\": [\"sales_pitch\", \"urgent_followup\"],\n    \"formality_expected\": \"context_dependent\"\n  },\n  \"À réactiver\": {\n    \"allowed_tones\": [\"soft_value_first\", \"nurture\", \"insight_share\"],\n    \"forbidden_tones\": [\"sales_pitch\", \"meeting_request\", \"pricing\"],\n    \"formality_expected\": \"vous\"\n  },\n  \"Prospect\": {\n    \"allowed_tones\": [\"sales_followup\", \"meeting_request\", \"value_share\"],\n    \"forbidden_tones\": [\"re_engagement\", \"customer_success\"],\n    \"formality_expected\": \"tu_or_vous_based_on_history\"\n  },\n  \"Lead\": {\n    \"allowed_tones\": [\"cold_outreach\", \"value_first\", \"discovery\"],\n    \"forbidden_tones\": [\"follow_up\", \"as_discussed\"],\n    \"formality_expected\": \"vous\"\n  }\n}\n\nFOR EACH agent_output:\n  contact_type = opportunity_detector.deal_classification.type\n  expected_tones = TONE_VALIDATION_MATRIX[contact_type]\n\n  IF recommended_tone NOT IN expected_tones.allowed_tones:\n    tone_violation = true\n    tone_score -= 0.30\n\n  IF recommended_tone IN expected_tones.forbidden_tones:\n    tone_violation = true\n    tone_score = 0.0  # Critical failure\n```\n\n### DIMENSION 3: VALUE DENSITY (0.0 - 1.0)\n\nFor re-engagement scenarios, validates presence of value elements.\n\n```\nVALUE_DENSITY_CHECK = {\n  \"applies_when\": {\n    \"hook_age_days\": \"> 60\",\n    \"OR action_type\": \"re_engagement\"\n  },\n  \"required_elements\": [\n    \"resource_offer\",\n    \"insight_share\",\n    \"concrete_meeting_offer\",\n    \"product_update\"\n  ],\n  \"minimum_required\": 1,\n  \"scoring\": {\n    \"0_elements\": 0.0,\n    \"1_element\": 0.60,\n    \"2_elements\": 0.85,\n    \"3+_elements\": 1.0\n  }\n}\n\nIF hook_age > 60 OR action_type == \"re_engagement\":\n  value_elements_found = count_value_elements(opportunity_detector.related_resources_to_offer)\n  value_density_score = VALUE_DENSITY_CHECK.scoring[value_elements_found]\nELSE:\n  value_density_score = 1.0  # Not applicable, passes by default\n```\n\n### DIMENSION 4: HOOK USAGE (0.0 - 1.0)\n\nValidates that hooks are correctly extracted and usable.\n\n```\nHOOK_USAGE_CHECK = {\n  \"hook_has_quote\": {\n    \"check\": \"hook.hook_quote is not empty\",\n    \"weight\": 0.30\n  },\n  \"hook_has_source\": {\n    \"check\": \"hook.source_activity_id references valid activity\",\n    \"weight\": 0.30\n  },\n  \"hook_score_justified\": {\n    \"check\": \"hook.hook_score calculation is transparent\",\n    \"weight\": 0.20\n  },\n  \"hook_freshness_correct\": {\n    \"check\": \"hook.freshness_category matches calculated age\",\n    \"weight\": 0.20\n  }\n}\n\nhook_usage_score = weighted_average(all_hook_checks)\n```\n\n### DIMENSION 5: STRUCTURE COMPLIANCE (0.0 - 1.0)\n\nValidates that all required output structures are present.\n\n```\nSTRUCTURE_REQUIREMENTS = {\n  \"state_analyzer\": [\n    \"activity_scan_verification\",\n    \"chronology_verification\",\n    \"per_channel_state\",\n    \"global_state\",\n    \"engagement_signals_detected\",\n    \"meeting_scheduled\",\n    \"explicit_timing_agreement\",\n    \"conversation_scan\"\n  ],\n  \"opportunity_detector\": [\n    \"deal_classification\",\n    \"evidences_type\",\n    \"hooks_detected\",\n    \"related_resources_to_offer\",\n    \"preprocessing_verification\"\n  ],\n  \"context_analyzer\": [\n    \"relationship_metrics\",\n    \"trajectory\",\n    \"stakeholder_map\"\n  ],\n  \"timing_strategist\": [\n    \"recommended_windows\",\n    \"holiday_awareness\",\n    \"timing_rationale\"\n  ]\n}\n\nFOR EACH agent, required_fields IN STRUCTURE_REQUIREMENTS:\n  missing_fields = []\n  FOR EACH field IN required_fields:\n    IF field NOT IN agent_output:\n      missing_fields.append(field)\n\n  structure_score[agent] = (len(required_fields) - len(missing_fields)) / len(required_fields)\n\noverall_structure_score = average(structure_score.values())\n```\n\n### OVERALL VALIDATION SCORE\n\n```\nVALIDATION_WEIGHTS = {\n  \"temporal_accuracy\": 0.25,\n  \"tone_appropriateness\": 0.20,\n  \"value_density\": 0.15,\n  \"hook_usage\": 0.20,\n  \"structure_compliance\": 0.20\n}\n\noverall_validation_score = weighted_average(all_dimension_scores, VALIDATION_WEIGHTS)\n\nVALIDATION_VERDICT = {\n  \"score >= 0.80\": \"PASS\",\n  \"0.60 <= score < 0.80\": \"PASS_WITH_WARNINGS\",\n  \"score < 0.60\": \"FAIL_RETRY\"\n}\n```\n\n====================\n🚨 COHERENCE CHECKS (CROSS-AGENT VALIDATION)\n====================\n\n### CHECK 1: DATE COHERENCE\n\nValidates that date references are appropriate for the current period.\n\n```\nDATE_COHERENCE_VIOLATIONS = {\n  \"bonne_annee_check\": {\n    \"pattern\": \"bonne année|meilleurs voeux|happy new year\",\n    \"allowed_period\": \"Dec 20 - Jan 15\",\n    \"action_if_violated\": \"REGENERATE\"\n  },\n  \"bonnes_vacances_check\": {\n    \"pattern\": \"bonnes vacances|bon été\",\n    \"allowed_period\": \"Jun 15 - Aug 31\",\n    \"action_if_violated\": \"REGENERATE\"\n  },\n  \"bonne_rentree_check\": {\n    \"pattern\": \"bonne rentrée\",\n    \"allowed_period\": \"Aug 20 - Sep 15\",\n    \"action_if_violated\": \"REGENERATE\"\n  }\n}\n\nFOR EACH check IN DATE_COHERENCE_VIOLATIONS:\n  IF pattern IN any_generated_content AND NOT within_allowed_period:\n    coherence_violation = true\n    action = \"retry\"\n    instruction = f\"Remove inappropriate date phrase: {check.pattern}\"\n```\n\n### CHECK 2: SIGNATURE MATCH\n\n```\nsignature_name = content_generator.generated_content.signature\ndeal_owner = activities[0].deals[0].deal_owner_name\n\nIF signature_name != deal_owner:\n  coherence_violation = true\n  action = \"retry\"\n  instruction = f\"Signature must be {deal_owner}, not {signature_name}\"\n```\n\n### CHECK 3: TEMPORAL REFERENCE ACCURACY\n\n```\nclaimed_recency = extract_temporal_claim(generated_content)\nactual_recency = state_analyzer.activity_scan_verification.days_since_last_activity\n\nIF claimed_recency contradicts actual_recency:\n  # E.g., message says \"ça fait un moment\" but activity was 2 days ago\n  coherence_violation = true\n  action = \"retry\"\n  instruction = f\"Temporal reference incorrect: claimed {claimed_recency}, actual {actual_recency} days\"\n```\n\n### CHECK 4: CHURN DETECTION CONSISTENCY\n\n```\nIF state_analyzer.critical_signal_detection.churn_detected = true:\n  # Verify all agents detected and handled correctly\n\n  IF opportunity_detector.deal_classification.classification != \"CHURNED\":\n    coherence_violation = true\n    action = \"retry\"\n    instruction = \"Churn detected but deal not classified as CHURNED\"\n\n  IF content_generator.content_generated = true:\n    coherence_violation = true\n    action = \"retry\"\n    instruction = \"Content generated for churned customer - should be blocked\"\n```\n\n### CHECK 5: OPEN DEAL TEMPLATE CONSISTENCY\n\n```\nIF state_analyzer.multi_deal_analysis.has_open_deal = true:\n  IF any template IN [\"re_engagement\", \"nurture\", \"win_back\"] is recommended:\n    coherence_violation = true\n    action = \"retry\"\n    instruction = \"OPEN deal detected but re-engagement template used - use sales_followup instead\"\n```\n\n### CHECK 6: CONSECUTIVE OUTBOUND COUNT ACCURACY (NEW - CRITICAL)\n\nThis check validates that State Analyzer correctly counted ALL consecutive outbound messages after the last inbound.\n\n```\nSTEP 1: Get State Analyzer's claimed count\n  claimed_count = state_analyzer.per_channel_state[channel].consecutive_outbound_without_reply\n  OR claimed_count = state_analyzer.consecutive_outbound_tracking.outbound_count_after_last_inbound\n\nSTEP 2: Independently calculate the actual count from activities[]\n\n  # Sort activities by date DESC\n  sorted_activities = sort(activities[], by=\"recorded_on\", order=\"DESC\")\n\n  # Find last INBOUND\n  last_inbound_date = null\n  FOR activity IN sorted_activities:\n    IF activity.direction == \"INBOUND\":\n      last_inbound_date = activity.recorded_on\n      BREAK\n\n  # Count ALL OUTBOUNDs after last INBOUND\n  actual_count = 0\n  FOR activity IN sorted_activities:\n    IF last_inbound_date IS NULL:\n      # No inbound ever - count all outbounds\n      IF activity.direction == \"OUTBOUND\":\n        actual_count += 1\n    ELSE:\n      IF activity.recorded_on > last_inbound_date AND activity.direction == \"OUTBOUND\":\n        actual_count += 1\n\nSTEP 3: Validate count matches\n  IF claimed_count != actual_count:\n    coherence_violation = true\n    action = \"retry\"\n    instruction = f\"Consecutive outbound count mismatch: claimed {claimed_count}, actual {actual_count}. MUST count ALL outbounds after last inbound, including multiple messages on same day.\"\n\n  # Also flag if significantly underestimated (common bug)\n  IF claimed_count < actual_count AND (actual_count - claimed_count) >= 3:\n    severity = \"critical\"\n    instruction += \" CRITICAL: Severely undercounted - this affects ghosting detection and risk assessment.\"\n```\n\n### COMMON CONSECUTIVE OUTBOUND BUGS TO CATCH:\n\n**Bug 1: Only counting recent messages**\n```\nClaimed: 2 consecutive outbounds\nActual: 8 consecutive outbounds\n→ FAIL: State Analyzer only looked at recent activities, not ALL after last INBOUND\n```\n\n**Bug 2: Counting unique dates instead of messages**\n```\nClaimed: 3 consecutive outbounds (dates: Sep 12, Sep 19, Sep 29)\nActual: 8 consecutive outbounds (6 messages on Sep 12 + 1 on Sep 19 + 1 on Sep 29)\n→ FAIL: Each message counts individually, not each unique date\n```\n\n**Bug 3: Confusing INBOUND timestamp with message content**\n```\nLast INBOUND: Sep 12 07:00 (contact proposing slots)\nOutbounds after: Sep 12 07:01, 07:02, 07:03... (our responses)\n→ These all count as consecutive outbounds!\n```\n\n### OUTPUT REQUIREMENT:\n\nAdd to evaluation output:\n```json\n\"check_6_consecutive_outbound\": {\n  \"passed\": false,\n  \"claimed_count\": 2,\n  \"actual_count\": 8,\n  \"last_inbound_date\": \"2025-09-12T07:00:00+00:00\",\n  \"outbound_activities_after_inbound\": [\n    {\"date\": \"2025-09-29\", \"summary\": \"Sous la 🌊?\"},\n    {\"date\": \"2025-09-19\", \"summary\": \"LinkedIn event link\"},\n    {\"date\": \"2025-09-12\", \"summary\": \"Jeudi 18, 15h?...\"},\n    {\"date\": \"2025-09-12\", \"summary\": \"Avec plaisir\"},\n    {\"date\": \"2025-09-12\", \"summary\": \"Oui je me souvient...\"},\n    {\"date\": \"2025-09-12\", \"summary\": \"Désolé pour le délai\"},\n    {\"date\": \"2025-09-12\", \"summary\": \"Semaine prochaine...\"},\n    {\"date\": \"2025-09-12\", \"summary\": \"Bonjour Anne-claire\"}\n  ],\n  \"severity\": \"critical\",\n  \"action\": \"retry\",\n  \"instruction\": \"Consecutive outbound count severely undercounted. Claimed 2 but actual is 8. This affects ghosting detection.\"\n}\n```\n\n====================\nEVALUATION CHECKLIST (ORIGINAL)\n====================\n\n1. **Data Reception**: Did all agents receive the contact data? (If any says \"no data\" or \"null query\" → critical failure)\n\n2. **Factual Accuracy** (compare against original data):\n   - Dates mentioned match actual activity dates\n   - Names and roles are correct\n   - Deal info matches (stage, amounts, close dates)\n   - Quotes/hooks reference actual content from activities\n\n3. **No Hallucinations**:\n   - Every fact in agent outputs must be traceable to original data\n   - No invented meetings, calls, or emails\n   - No fabricated quotes or stakeholders\n\n4. **Cross-Agent Coherence**:\n   - Context stage vs State temperature\n   - who_has_ball vs action_needed\n   - Opportunities vs urgency level\n   - Timing recommendation vs State follow_up_timing\n\n5. **Completeness**: Key signals from original data were captured\n\n====================\nDECISION RULES (ENHANCED)\n====================\n\n**action = \"continue\"** when:\n- overall_validation_score >= 0.80\n- All facts verified against original data\n- No hallucinations detected\n- No critical coherence violations\n- No churn detection misses\n\n**action = \"retry\"** when:\n- overall_validation_score < 0.60\n- Agent(s) received empty/null data\n- Hallucinated information detected\n- Key data from original was missed\n- Coherence violation detected\n- Churn signal missed or mishandled\n- Provide SPECIFIC retry instructions\n\n**action = \"continue_with_warnings\"** when:\n- 0.60 <= overall_validation_score < 0.80\n- Minor issues that don't block execution\n- Document warnings for synthesis awareness\n\n====================\nOUTPUT FORMAT (ENHANCED)\n====================\n\nReturn ONLY valid JSON (no markdown):\n\n```json\n{\n  \"evaluation_decision\": {\n    \"action\": \"continue | continue_with_warnings | retry\",\n    \"reasoning\": \"Brief explanation with specific references to original data\",\n    \"retry_instructions\": null\n  },\n  \"validation_scores\": {\n    \"temporal_accuracy\": {\n      \"score\": 0.95,\n      \"checks_passed\": [\"days_since_last_activity\", \"hook_age_days\"],\n      \"checks_failed\": [],\n      \"details\": \"All temporal calculations verified\"\n    },\n    \"tone_appropriateness\": {\n      \"score\": 0.90,\n      \"contact_type\": \"Client actif\",\n      \"expected_tones\": [\"customer_success\", \"friendly_check_in\"],\n      \"recommended_tone\": \"customer_success\",\n      \"match\": true\n    },\n    \"value_density\": {\n      \"score\": 0.85,\n      \"applicable\": true,\n      \"hook_age_days\": 96,\n      \"value_elements_found\": [\"resource_offer\", \"concrete_meeting_offer\"],\n      \"requirement_met\": true\n    },\n    \"hook_usage\": {\n      \"score\": 0.90,\n      \"hooks_with_quotes\": 2,\n      \"hooks_with_sources\": 2,\n      \"best_hook_score\": 0.18\n    },\n    \"structure_compliance\": {\n      \"score\": 0.95,\n      \"missing_fields\": {\n        \"state_analyzer\": [],\n        \"opportunity_detector\": [],\n        \"context_analyzer\": [],\n        \"timing_strategist\": []\n      }\n    },\n    \"overall_score\": 0.91,\n    \"verdict\": \"PASS\"\n  },\n  \"coherence_checks\": {\n    \"date_coherence\": {\n      \"passed\": true,\n      \"violations\": []\n    },\n    \"signature_match\": {\n      \"passed\": true,\n      \"expected\": \"bertran_ruiz\",\n      \"actual\": \"bertran_ruiz\"\n    },\n    \"temporal_reference_accuracy\": {\n      \"passed\": true,\n      \"claimed_recency\": null,\n      \"actual_recency\": 2\n    },\n    \"churn_detection_consistency\": {\n      \"passed\": true,\n      \"churn_detected\": false\n    },\n    \"open_deal_template_consistency\": {\n      \"passed\": true,\n      \"has_open_deal\": true,\n      \"template_appropriate\": true\n    }\n  },\n  \"fact_check\": {\n    \"verified\": [\"List of key facts correctly extracted\"],\n    \"errors\": [\"Any factual errors found\"],\n    \"missed\": [\"Important data from original that was not captured\"]\n  },\n  \"quality_scores\": {\n    \"context_analyzer\": 0.85,\n    \"opportunity_detector\": 0.80,\n    \"state_analyzer\": 0.90,\n    \"timing_strategist\": 0.85,\n    \"factual_accuracy\": 0.90\n  },\n  \"issues_found\": [],\n  \"warnings\": [],\n  \"wave1_summary\": {\n    \"relationship_stage\": \"qualified\",\n    \"temperature\": \"warm\",\n    \"who_has_ball\": \"us\",\n    \"action_needed\": true,\n    \"urgency\": \"medium\",\n    \"primary_opportunity\": \"type\",\n    \"primary_hook\": \"hook topic\",\n    \"recommended_channel\": \"EMAIL\",\n    \"wait_days\": 3\n  }\n}\n```\n\nIf retry:\n```json\n{\n  \"evaluation_decision\": {\n    \"action\": \"retry\",\n    \"reasoning\": \"Specific reason with evidence\",\n    \"retry_instructions\": {\n      \"context_relationship_analyzer\": \"Instruction or null\",\n      \"opportunity_detector\": \"Instruction or null\",\n      \"state_analyzer\": \"Instruction or null\",\n      \"timing_strategist\": \"Instruction or null\"\n    }\n  },\n  \"validation_scores\": {\n    \"overall_score\": 0.55,\n    \"verdict\": \"FAIL_RETRY\",\n    \"critical_failures\": [\"temporal_accuracy: date calculation wrong\", \"churn_detection: missed\"]\n  },\n  ...\n}\n```\n\nIMPORTANT:\n- Output PURE JSON only, no markdown code blocks\n- Reference specific activities/dates from original data when verifying\n- Flag any information in Wave 1 outputs not found in original data\n- Calculate ALL validation scores before making decision\n- Document ALL coherence check results\n",
            "maxTokens": 15000,
            "temperature": 0.1
          }
        },
        "type": "@n8n/n8n-nodes-langchain.anthropic",
        "typeVersion": 1,
        "position": [
          784,
          64
        ],
        "id": "1cca17f2-dcce-4935-94b7-69c86a7420d5",
        "name": "Orchestrator Wave 1 Evaluation (old)",
        "executeOnce": true,
        "retryOnFail": true,
        "waitBetweenTries": 300,
        "credentials": {
          "anthropicApi": {
            "id": "WR9IYE0cy2Srym3w",
            "name": "Anthropic account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Get resources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Context Analyzer": {
        "main": [
          [
            {
              "node": "Wave1_results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call State Analyzer": {
        "main": [
          [
            {
              "node": "Wave1_results",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Call Opportunity Detector": {
        "main": [
          [
            {
              "node": "Wave1_results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Call Timing Strategist": {
        "main": [
          [
            {
              "node": "Wave1_results",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Wave1_results": {
        "main": [
          [
            {
              "node": "Orchestrator Wave 1 Evaluation (old)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse evaluation JSON": {
        "main": [
          [
            {
              "node": "Retry Wave 1?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retry Wave 1?": {
        "main": [
          [
            {
              "node": "Get historical recommendations",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call channel selector",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call Sequence Strategist",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate UUID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save data call": {
        "main": [
          [
            {
              "node": "Call Context Analyzer",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call Opportunity Detector",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call State Analyzer",
              "type": "main",
              "index": 0
            },
            {
              "node": "Call Timing Strategist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate UUID": {
        "main": [
          [
            {
              "node": "Respond to Webhook with session_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call channel selector": {
        "main": [
          [
            {
              "node": "Wave2_results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Call Sequence Strategist": {
        "main": [
          [
            {
              "node": "Wave2_results",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Call Content Generator": {
        "main": [
          [
            {
              "node": "Wave2_results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wave2_results": {
        "main": [
          [
            {
              "node": "Orchestrator Synthesis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Orchestrator Synthesis": {
        "main": [
          [
            {
              "node": "Parse JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get historical recommendations": {
        "main": [
          [
            {
              "node": "Call Content Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse JSON": {
        "main": [
          [
            {
              "node": "Save final decision reference",
              "type": "main",
              "index": 0
            },
            {
              "node": "Save final decision into table",
              "type": "main",
              "index": 0
            },
            {
              "node": "Collect Workflow Run",
              "type": "main",
              "index": 0
            },
            {
              "node": "Evaluate Decision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond to Webhook with session_id": {
        "main": [
          [
            {
              "node": "Save data call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save final decision into table": {
        "main": [
          [
            {
              "node": "Send to Zapier for Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Workflow Run": {
        "main": [
          [
            {
              "node": "Save Workflow Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get resources": {
        "main": [
          [
            {
              "node": "Get practices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get practices": {
        "main": [
          [
            {
              "node": "Merge GSheet Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge GSheet Data": {
        "main": [
          [
            {
              "node": "Generate UUID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Evaluate Decision": {
        "main": [
          [
            {
              "node": "Parse evaluator JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Orchestrator Wave 1 Evaluation (old)": {
        "main": [
          [
            {
              "node": "Parse evaluation JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "68281001cf81541d7dbe4d9b4209e0b29467134afcd3e5ae5b83989067eba263"
    }
  }